## Tuple

In [ ]:
1. Immutable
2. Ordered 
3. Duplicates allowed
4. Enclosed by paraenthesis >> ()
5. seperated by comma
6. we can add multiple datatypes

In [1]:
list1 = [1,5,4,9,6]
list1.append(30)
list1

[1, 5, 4, 9, 6, 30]

In [2]:
tuple1 = (1,5,4,9,6)
tuple1

(1, 5, 4, 9, 6)

In [3]:
tuple1.append(30)

AttributeError: 'tuple' object has no attribute 'append'

In [4]:
tuple1 = ()
type(tuple1)

tuple

In [5]:
list1 = []
type(list1)

list

In [8]:
tuple1 = 1,1,5,8
type(tuple1)

tuple

In [1]:
tuple1 = (1,)
type(tuple1)

tuple

In [10]:
tuple1 = (1,)
type(tuple1)

tuple

In [11]:
tuple1 = ('python')
type(tuple1)

str

In [12]:
tuple1 = ('python',)
type(tuple1)

tuple

In [13]:
tuple2 = (10,10,20,10.5,2.2,'python',(1,2,3),[5,8,9])
tuple2

(10, 10, 20, 10.5, 2.2, 'python', (1, 2, 3), [5, 8, 9])

In [14]:
type(tuple2)

tuple

In [15]:
a =10
b =20
c =30

In [16]:
a,b,c =10,20,30
c

30

In [17]:
x = 10,20,30,40
x

(10, 20, 30, 40)

In [18]:
type(x)

tuple

In [20]:
a,b,c = 10,20

ValueError: not enough values to unpack (expected 3, got 2)

In [21]:
x = (10,20,30,40)
x

(10, 20, 30, 40)

In [22]:
y = 'a','b','c','d'
y

('a', 'b', 'c', 'd')

In [23]:
y = ('a','b','c','d')
y

('a', 'b', 'c', 'd')

In [24]:
y = [('a','b','c','d')]
y

[('a', 'b', 'c', 'd')]

In [25]:
type(y)

list

In [26]:
y = (['a','b','c','d'])
type(y)

list

In [27]:
y = (['a','b','c','d'],)
type(y)

tuple

In [1]:
y = (['a','b','c','d'])
type(y)

list

## Access item from tuple

In [28]:
tuple1 = (10,20,45,87,98)
tuple1[-2]

87

In [29]:
tuple1[3]

87

In [30]:
tuple1(6)

TypeError: 'tuple' object is not callable

In [31]:
tuple1[6]

IndexError: tuple index out of range

## Slicing

In [ ]:
tuple1[start_index(include) : end_index(exclude) : step_size]

In [32]:
tuple1 = (100,200,300,400,500,600,700)
tuple1[1:5]

(200, 300, 400, 500)

In [33]:
tuple1[3:6]

(400, 500, 600)

In [34]:
tuple1[3:-1]

(400, 500, 600)

In [35]:
tuple1[-5:-3]

(300, 400)

In [36]:
tuple1[:]

(100, 200, 300, 400, 500, 600, 700)

In [37]:
tuple1[0:len(tuple1)]

(100, 200, 300, 400, 500, 600, 700)

In [38]:
len(tuple1)

7

In [ ]:
tuple1[:7]

In [39]:
tuple1[::1]

(100, 200, 300, 400, 500, 600, 700)

In [40]:
tuple1[::2]

(100, 300, 500, 700)

In [41]:
tuple1[::-1]

(700, 600, 500, 400, 300, 200, 100)

In [42]:
tuple1[-6:-3:-1]

()

In [ ]:
 1 2 3 4 5 5
-6-5-4-3-2-1
 0 1 2 3 4 5

In [44]:
tuple1

(100, 200, 300, 400, 500, 600, 700)

In [43]:
tuple1[-3:-6:-1]

(500, 400, 300)

In [45]:
tuple1[-3:len(tuple1):-1]

()

In [47]:
tuple1[-3:1:-1]

(500, 400, 300)

## Tuple to list

In [48]:
tuple1 = (5,8,6,4,8)
list1 = list(tuple1)
list1

[5, 8, 6, 4, 8]

In [49]:
tuple1 = (5,8,6,4,8)
list1 = list(tuple1)
list1.append(100)
list1

[5, 8, 6, 4, 8, 100]

## list to tuple

In [50]:
list2 = [5, 8, 6, 4, 8, 100]
tuple2 = tuple(list2)
tuple2

(5, 8, 6, 4, 8, 100)

In [51]:
t1 = (5,6,7,8,9)
print(t1)

l1 = list(t1)
l1.append(500)
print(l1)

t2 = tuple(l1)
print(t2)

(5, 6, 7, 8, 9)
[5, 6, 7, 8, 9, 500]
(5, 6, 7, 8, 9, 500)

In [52]:
string = 'Python and Data Science'
string.split()

['Python', 'and', 'Data', 'Science']

In [53]:
string = 'python'
list(string)

['p', 'y', 't', 'h', 'o', 'n']

In [54]:
string = 'Python and Data Science'
list(string)

['P',
 'y',
 't',
 'h',
 'o',
 'n',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 'D',
 'a',
 't',
 'a',
 ' ',
 'S',
 'c',
 'i',
 'e',
 'n',
 'c',
 'e']

In [55]:
string = 'Python and Data Science'
print(list(string))

['P', 'y', 't', 'h', 'o', 'n', ' ', 'a', 'n', 'd', ' ', 'D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e']

In [56]:
string = 'python'
list_string = list(string)
list_string

['p', 'y', 't', 'h', 'o', 'n']

In [57]:
list1 = ['p', 'y', 't', 'h', 'o', 'n']
str1 = ' '.join(list1)
str1

'p y t h o n'

In [58]:
list1 = ['p', 'y', 't', 'h', 'o', 'n']
str1 = ''.join(list1)
str1

'python'

In [59]:
list1 = ['p', 'y', 't', 'h', 'o', 'n']
str1 = '_'.join(list1)
str1

'p_y_t_h_o_n'

In [60]:
list1 = ['p', 'y', 't', 'h', 'o', 'n']
str1 = '-'.join(list1)
str1

'p-y-t-h-o-n'

In [61]:
list2 = ['Python', 'and', 'Data', 'Science']
str2 = ' '.join(list2)
str2

'Python and Data Science'

In [62]:
string = 'python'
tuple_string = tuple(string)
tuple_string

('p', 'y', 't', 'h', 'o', 'n')

In [63]:
l1 = [1,2]
tup1 = tuple(l1)
tup1

(1, 2)

## delete item

In [ ]:
we can not delete any item from tuple

In [64]:
tup1 = (1,2,3,4)
tup1.remove(3)

AttributeError: 'tuple' object has no attribute 'remove'

In [65]:
tup1 = (1,2,3,4)

list3 = list(tup1)
list3.remove(3)

tup2 = tuple(list3)
tup2

(1, 2, 4)

## index

In [66]:
sub_names = ('Marathi', 'English', 'Science', 'Maths')
sub_names.index('Marathi')

0

In [67]:
sub_names = ('Marathi', 'English', 'Science', 'Maths')
sub_names.index('Science')

2

## count

In [68]:
sub_names = ('Marathi', 'English', 'Science', 'Maths','Science')
sub_names.count('Science')

2

In [69]:
t2 = (1,5,1,1,2,4,6,78)
t2.count(1)

3

## for loop

In [70]:
t2 = (1,5,1,1,2,4,6,78)
for i in t2:
    print(i)

1
5
1
1
2
4
6
78

In [71]:
sub_names = ('Marathi', 'English', 'Science', 'Maths','Science')
for sub in  sub_names:
    print(sub)

Marathi
English
Science
Maths
Science

In [72]:
sub_names = ('Marathi', 'English', 'Science', 'Maths','Science')
for index,sub in  enumerate(sub_names):
    print(index,sub)

0 Marathi
1 English
2 Science
3 Maths
4 Science

In [73]:
sub_names = ('Marathi', 'English', 'Science', 'Maths','Science')
del sub_names[1]

TypeError: 'tuple' object doesn't support item deletion

In [74]:
sub_names = ('Marathi', 'English', 'Science', 'Maths','Science')
del sub_names
print(sub_names)

NameError: name 'sub_names' is not defined

## Copy

In [75]:
tuple1 = (20,30,45,98)
tuple2 = tuple1

In [76]:
tuple1

(20, 30, 45, 98)

In [77]:
tuple2

(20, 30, 45, 98)

In [78]:
tuple1 = (20,30,45,98)
tuple1[1] = 30

TypeError: 'tuple' object does not support item assignment

In [79]:
tuple1 = (20,[30,45],98)
tuple1[1][0]

30

In [80]:
tuple1 = (20,[30,45],98)
tuple1[1][0] = 1000
tuple1

(20, [1000, 45], 98)

In [81]:
tuple1 = (20,[30,45],98)
tuple2 = tuple1.copy()
tuple1[1][0] = 1000
print(tuple1)
print(tuple2)

AttributeError: 'tuple' object has no attribute 'copy'

In [82]:
tuple1 = (20,[30,45],98)
tuple2 = tuple1
tuple1[1][0] = 1000
print(tuple1)
print(tuple2)

(20, [1000, 45], 98)
(20, [1000, 45], 98)

## Deepcopy()

In [83]:
import copy

tuple1 = (20,[30,45],98)

tuple2 = copy.deepcopy(tuple1)
tuple2[1][0] = 1000
print(tuple1)
print(tuple2)

(20, [30, 45], 98)
(20, [1000, 45], 98)

## Plus Operator to join multiple tuples

In [85]:
tuple1 = (3,4,5,6)
tuple2 = (10,20,30,50)

tuple3 = tuple1+tuple2
print(tuple1)
print(tuple2)
print(tuple3)

(3, 4, 5, 6)
(10, 20, 30, 50)
(3, 4, 5, 6, 10, 20, 30, 50)

In [87]:
tuple0 = (1,2,3,4)
tuple1 = (3,4,5,6)
tuple2 = (10,20,30,50)

tuple1 = tuple0+tuple1+tuple2
print(tuple1)
print(tuple2)
print(tuple3)

(1, 2, 3, 4, 3, 4, 5, 6, 10, 20, 30, 50)
(10, 20, 30, 50)
(1, 2, 3, 4, 3, 4, 5, 6, 10, 20, 30, 50)

In [88]:
sub_names = ('Marathi', 'English', 'Science', 'Maths','Science')
for index,sub in  enumerate(sub_names):
    print(index,sub,end=' ')

0 Marathi 1 English 2 Science 3 Maths 4 Science

In [91]:
sub_names = ('Marathi', 'English', 'Science', 'Maths','Science')
for index in  enumerate(sub_names):
    print(type(index))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [92]:
sub_names = ('Marathi', 'English', 'Science', 'Maths','Science')
for index in  enumerate(sub_names):
    print((index))

(0, 'Marathi')
(1, 'English')
(2, 'Science')
(3, 'Maths')
(4, 'Science')