# For Loop

In [ ]:
It works like an iterator

Sequence >> list ,tuple,dict, set

In [2]:
for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
for i in range(5):
    print('Hello')

Hello
Hello
Hello
Hello
Hello

In [4]:
for i in range(5,10):
    print('Hello')

Hello
Hello
Hello
Hello
Hello

In [7]:
list1 = [20,3,4,5,34,55,77,11,22,90]

for i in list1:
    print("*"*70)
    if i%2 == 0:
        print(f'{i} is an Even Number')
    
    else:
        print(f'{i} is an ODD Number')

**********************************************************************
20 is an Even Number
**********************************************************************
3 is an ODD Number
**********************************************************************
4 is an Even Number
**********************************************************************
5 is an ODD Number
**********************************************************************
34 is an Even Number
**********************************************************************
55 is an ODD Number
**********************************************************************
77 is an ODD Number
**********************************************************************
11 is an ODD Number
**********************************************************************
22 is an Even Number
**********************************************************************
90 is an Even Number

In [8]:
list1 = [20,3,4,5,34,55,77,11,22,90]

for i in list1:
    print("*"*70)
    if i%2 != 0:
        print(f'{i} is an ODD Number')
    
    else:
        print(f'{i} is an Even Number')

**********************************************************************
20 is an Even Number
**********************************************************************
3 is an ODD Number
**********************************************************************
4 is an Even Number
**********************************************************************
5 is an ODD Number
**********************************************************************
34 is an Even Number
**********************************************************************
55 is an ODD Number
**********************************************************************
77 is an ODD Number
**********************************************************************
11 is an ODD Number
**********************************************************************
22 is an Even Number
**********************************************************************
90 is an Even Number

## Loop Control Statements

In [ ]:
1. pass
2. break
3. continue

## 1. Break statement

In [9]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [10]:
for i in range(10):
    print(i)
    if i == 5:
        print('Number is 5')

0
1
2
3
4
5
Number is 5
6
7
8
9

In [11]:
for i in range(10):
    print(i)
    if i == 5:
        print('Number is 5')
        break

0
1
2
3
4
5
Number is 5

In [12]:
for i in range(10):
    print(i)
    if i == 5:
        print('Number is 5')
        print('*'*70)
        break

0
1
2
3
4
5
Number is 5
**********************************************************************

In [13]:
for i in range(10):
    print(i)
    if i == 5:
        print('Number is 5')
        
        break
        print('*'*70)

0
1
2
3
4
5
Number is 5

In [15]:
for i in range(5):
    print(i)
    break

0

In [16]:
for i in range(5):
    print(i)
    if i == 4:
        print('Hello')

0
1
2
3
4
Hello

In [18]:
for i in range(5):
    print(i)
    if i == 4:
        print('Hello')
    break

0

In [20]:
for i in range(5):
    print(i)
    if i == 4:
        print('Hello')
        break
    print('Python')

0
Python
1
Python
2
Python
3
Python
4
Hello

In [21]:
for i in range(5):
    print(i)
    if i == 4:
        print('Hello')
        break
        print('Python')

0
1
2
3
4
Hello

## 2. Continue statement

In [ ]:
Used to stop current iteration only,
Continue with next iteration

In [22]:
for i in range(5,11):
    print(i)

5
6
7
8
9
10

In [24]:
for i in range(5,11):
    print(i)
    if i == 9:
        print('Hello')
        break

5
6
7
8
9
Hello

In [26]:
for i in range(5,11):
    print('Value in i is:',i)
    if i == 9:
        print('Hello')
#         continue
        print('*'*70)

Value in i is: 5
Value in i is: 6
Value in i is: 7
Value in i is: 8
Value in i is: 9
Hello
**********************************************************************
Value in i is: 10

In [27]:
for i in range(5,11):
    print('Value in i is:',i)
    if i == 9:
        print('Hello')
        continue
        print('*'*70)

Value in i is: 5
Value in i is: 6
Value in i is: 7
Value in i is: 8
Value in i is: 9
Hello
Value in i is: 10

In [28]:
for i in range(5,11):
    
    if i == 9:
        print('Hello')
        continue
        
    print('Value in i variable is:',i)

Value in i variable is: 5
Value in i variable is: 6
Value in i variable is: 7
Value in i variable is: 8
Hello
Value in i variable is: 10

In [29]:
for i in range(5,11):
    
    if i == 9:
        continue
        print('Hello')
        
    print('Value in i variable is:',i)

Value in i variable is: 5
Value in i variable is: 6
Value in i variable is: 7
Value in i variable is: 8
Value in i variable is: 10

In [ ]:
[a,b,msdhoni,d]

## 3. pass Statement

In [30]:
for char in 'python':
    print(f'Char is {char}')

Char is p
Char is y
Char is t
Char is h
Char is o
Char is n

In [33]:
for char in 'python':
    pass
    print(f'Char is {char}')

Char is p
Char is y
Char is t
Char is h
Char is o
Char is n

In [34]:
for char in 'python':
    pass
    print(f'Char is {char}')
    pass

Char is p
Char is y
Char is t
Char is h
Char is o
Char is n

In [38]:
for i in range(1,5):
    if i == 3:
        pass
    print(i)

1
2
3
4

In [39]:
for char in 'python':
    print(f'Char is {char}')
    if char == 't':
        break

Char is p
Char is y
Char is t

In [40]:
for char in 'python':
    
    if char == 't':
        break
    print(f'Char is {char}')

Char is p
Char is y

In [41]:
for char in 'python':
    print(f'Char is {char}')
    if char == 't':
        continue

Char is p
Char is y
Char is t
Char is h
Char is o
Char is n

In [42]:
for char in 'python':
    
    if char == 't':
        continue
    print(f'Char is {char}')

Char is p
Char is y
Char is h
Char is o
Char is n

In [44]:
for char in 'python':
    
    if char == 't':
        
    print(f'Char is {char}')

IndentationError: expected an indented block (<ipython-input-44-5dd4382f623b>, line 5)

In [43]:
for char in 'python':
    
    if char == 't':
        pass
    print(f'Char is {char}')

Char is p
Char is y
Char is t
Char is h
Char is o
Char is n

In [46]:
for char in 'python':
    
    if char == 't':
        print('*'*60)
    
    continue
    print(f'Char is {char}')

************************************************************

In [47]:
for char in 'python':
    continue
    if char == 't':
        print('*'*60)
    
    print(f'Char is {char}')

In [48]:
for char in 'python':
    
    if char == 't':
        print('*'*60)
        print('@@@@@@@@@@@')
    
    continue
    print(f'Char is {char}')

************************************************************
@@@@@@@@@@@

In [49]:
for char in 'python':
    
    if char == 't':
        print('*'*60)
        print('@@@@@@@@@@@')
        continue
        print('++++++++')
        
    print(f'Char is {char}')

Char is p
Char is y
************************************************************
@@@@@@@@@@@
Char is h
Char is o
Char is n

In [50]:
list1 = [2,3,'python', 3.13,5.64,'Data', 10,9.0]

int_list = []
float_list = []
str_list = []

for item in list1:

    if type(item) == int:
        int_list.append(item)
    
    elif type(item) == float:
        float_list.append(item)
    
    elif type(item)== str:
        str_list.append(item)
        
        
print('int list == ', int_list)
print('float list == ', float_list)
print('str list == ', str_list)

int list ==  [2, 3, 10]
float list ==  [3.13, 5.64, 9.0]
str list ==  ['python', 'Data']

In [51]:
list1 = [2,3,'python', 3.13,5.64,'Data', 10,9.0]

int_list = []
float_list = []
str_list = []

for item in list1:

    if type(item) == int:
        int_list.append(item)
        continue
    
    elif type(item) == float:
        float_list.append(item)
    
    elif type(item)== str:
        str_list.append(item)
        
        
print('int list == ', int_list)
print('float list == ', float_list)
print('str list == ', str_list)

int list ==  [2, 3, 10]
float list ==  [3.13, 5.64, 9.0]
str list ==  ['python', 'Data']

In [52]:
list1 = [2,3,'python', 3.13,5.64,'Data', 10,9.0]

int_list = []
float_list = []
str_list = []

for item in list1:

    if type(item) == int:
        continue
        int_list.append(item)
    
    elif type(item) == float:
        float_list.append(item)
    
    elif type(item)== str:
        str_list.append(item)
        
        
print('int list == ', int_list)
print('float list == ', float_list)
print('str list == ', str_list)

int list ==  []
float list ==  [3.13, 5.64, 9.0]
str list ==  ['python', 'Data']

In [53]:
list1 = [2,3,'python', 3.13,5.64,'Data', 10,9.0]

int_list = []
float_list = []
str_list = []

for item in list1:

    if type(item) == int:
        continue
        int_list.append(item)
    
    elif type(item) == float:
        float_list.append(item)
        continue
    
    elif type(item)== str:
        str_list.append(item)
        
        
print('int list == ', int_list)
print('float list == ', float_list)
print('str list == ', str_list)

int list ==  []
float list ==  [3.13, 5.64, 9.0]
str list ==  ['python', 'Data']

In [54]:
list1 = [2,3,'python', 3.13,5.64,'Data', 10,9.0]

int_list = []
float_list = []
str_list = []

for item in list1:

    if type(item) == int:
        int_list.append(item)# [2,3]
    
    elif type(item) == float:
        float_list.append(item) #[]
        continue
    
    elif type(item)== str:
        str_list.append(item) #['python']
        break # exit the loop
        
        
print('int list == ', int_list)
print('float list == ', float_list)
print('str list == ', str_list)

int list ==  [2, 3]
float list ==  []
str list ==  ['python']

In [55]:
list1 = [2,3,5.5,'python', 3.13,5.64,'Data', 10,9.0]

int_list = []
float_list = []
str_list = []

for item in list1:

    if type(item) == int:
        int_list.append(item)# [2,3]
    
    elif type(item) == float:
        float_list.append(item) #[5.5]
        continue
    
    elif type(item)== str:
        str_list.append(item) #['python']
        break # exit the loop
        
        
print('int list == ', int_list)
print('float list == ', float_list)
print('str list == ', str_list)

int list ==  [2, 3]
float list ==  [5.5]
str list ==  ['python']

## For - else

In [ ]:
else block will execute only when the loop complete its all iteration

In [57]:
for i in range(2,6):
    print(i)
    
else:
    print('Loop Executed')

2
3
4
5
Loop Executed

In [58]:
for i in range(2,6):
    print(i)
    break
    
else:
    print('Loop Executed')

2

In [59]:
for i in range(2,6):
    print(i)
    continue
    
else:
    print('Loop Executed')

2
3
4
5
Loop Executed

In [60]:
for i in range(5,10):
    print(i)
    if i == 8:
        print('Hello')
    
    
else:
    print('Loop Executed')

5
6
7
8
Hello
9
Loop Executed

In [61]:
for i in range(5,10):
    print(i)
    if i == 8:
        print('Hello')
        break
    
else:
    print('Loop Executed')

5
6
7
8
Hello

In [62]:
for i in range(5,10):
    print(i)
    if i == 8:
        print('Hello')
        continue
    
else:
    print('Loop Executed')

5
6
7
8
Hello
9
Loop Executed

In [63]:
for i in range(5,10):
    print(i)
    if i == 5:
        print('Hello')
        break
    
else:
    print('Loop Executed')

5
Hello

In [64]:
for i in range(5,10):
    print(i)
    if i == 5:
        print('Hello')
        pass
    
else:
    print('Loop Executed')

5
Hello
6
7
8
9
Loop Executed

## Factorial

In [ ]:
0 >> 1
1 >> 1
2 >> 2 * 1
3 >> 3 * 2 * 1
4 >> 4 * 3 * 2 * 1
5 >> 5 * 4 * 3 * 2 * 1

In [65]:
n = 5
fact = 1
for i in range(1,n+1):
    fact = fact * i
    
print(f'Factorial of {n} is {fact}')

Factorial of 5 is 120

In [66]:
n = 5
fact = 1
for i in range(1,n+1):
    fact = fact * i
    
    print(f'Factorial of {n} is {fact}')

Factorial of 5 is 1
Factorial of 5 is 2
Factorial of 5 is 6
Factorial of 5 is 24
Factorial of 5 is 120

In [67]:
n = 7
fact = 1
for i in range(1,n+1):
    fact = fact * i
    
    print(f'Factorial of {n} is {fact}')

Factorial of 7 is 1
Factorial of 7 is 2
Factorial of 7 is 6
Factorial of 7 is 24
Factorial of 7 is 120
Factorial of 7 is 720
Factorial of 7 is 5040

In [69]:
n = 7
fact = 1
if n > 0:
    for i in range(1,n+1):
        fact = fact * i

    print(f'Factorial of {n} is {fact}')

Factorial of 7 is 5040

In [70]:
n = 0
fact = 1
if n >= 0:
    for i in range(1,n+1):
        fact = fact * i

    print(f'Factorial of {n} is {fact}')

Factorial of 0 is 1

In [71]:
n = int(input('Enter a value of n:'))
fact = 1
if n >= 0:
    for i in range(1,n+1):
        fact = fact * i

    print(f'Factorial of {n} is {fact}')

Enter a value of n:6
Factorial of 6 is 720

## Prime Number

In [ ]:
Prime Numbers >> If number is divisible by only 1 and itself
n = 10 >> not prime
n = 5, 7, 11,13,17

n = 7
2 to 6

n =17
2 to 16

In [74]:
n = 7
for i in range(2,n):
    if n%i==0:
        print(f'{n} is not a prime number')
        
else:
    print(f'{n} is a prime number')

7 is a prime number

In [78]:
n = 9
for i in range(2,n):
    if n%i==0:
        print(f'{n} is not a prime number')
        break
        
else:
    print(f'{n} is a prime number')

9 is not a prime number

In [79]:
n = 53
for i in range(2,n):
    if n%i==0:
        print(f'{n} is not a prime number')
        break
        
else:
    print(f'{n} is a prime number')

53 is a prime number

In [80]:
n = 55
for i in range(2,n):
    if n%i==0:
        print(f'{n} is not a prime number')
        break
        
else:
    print(f'{n} is a prime number')

55 is not a prime number

In [81]:
n = 2
for i in range(2,n):
    if n%i==0:
        print(f'{n} is not a prime number')
        break
        
else:
    print(f'{n} is a prime number')

2 is a prime number

In [91]:
n = 2
for i in range(2,n):
    if n%i==0:
        print(f'{n} is not a prime number')
        print(i)
        
else:
    print(f'{n} is a prime number')

2 is a prime number

## Fibonacci Series

In [ ]:
0 1 1 2 3 5 8 13 21 34 55 89.......


n = 5
0 1 1 2 3

n = 8
0 1 1 2 3 5 8 13

In [87]:
n = 8
first = 0
second = 1
print(f'Fibonnacci Series for {n} is :', first, second, end = ' ')
for i in range(0, n-2):
    new = first + second
    first = second
    second = new
    print(new,end = ' ')

Fibonnacci Series for 8 is : 0 1 1 2 3 5 8 13

In [88]:
n = 12
first = 0
second = 1
print(f'Fibonnacci Series for {n} is :', first, second, end = ' ')
for i in range(0, n-2):
    new = first + second
    first = second
    second = new
    print(new,end = ' ')

Fibonnacci Series for 12 is : 0 1 1 2 3 5 8 13 21 34 55 89

In [89]:
n = 6
first = 0
second = 1
print(f'Fibonnacci Series for {n} is :', first, second, end = ' ')
for i in range(0, n):
    new = first + second
    first = second
    second = new
    print(new,end = ' ')

Fibonnacci Series for 6 is : 0 1 1 2 3 5 8 13

In [90]:
2%2

0

In [93]:
a = 'malayalam'
b = a[::-1]
b

'malayalam'

In [94]:
a == b

True

In [95]:
7%2
7%3
7%4
7%5
7%6

1

In [96]:
7%7

0

In [98]:
7%2
7%3

1