# Data types

In [ ]:
Numeric DT >> int, float, complex

Text >> str

Sequence >> list, tuple, set, frozenset

Mapping >> dict

Boolean >> bool(True, False)

            range, bytearray, bytes, None

In [1]:
a= {'a' : 20}
type(a)

dict

# Numeric DataTypes

## 1. int DT

In [ ]:
int function
whole number
+ve or -ve


10,20,-1,-3

In [2]:
s = 1
type(s)

int

In [3]:
s = -1
type(s)

int

In [4]:
s = 0
type(s)

int

## 2. float DT

In [ ]:
float
+ve or -ve
It contains decimal point

In [5]:
a = 2.12
type(a)

float

In [6]:
a = -2.12
type(a)

float

In [7]:
a = -2.123456789876543
type(a)

float

In [8]:
a = 0.0
type(a)

float

In [10]:
a = -0
type(a)

int

## 3. complex DT

In [ ]:
complex
It contains real and imaginary part
a + bj

In [11]:
x = 3 + 4j 
type(x)

complex

In [12]:
x = 3 + 0j 
type(x)

complex

In [13]:
x = -3 + 4j 
type(x)

complex

In [14]:
x = -3 + 4 
type(x)

int

In [15]:
x = -3 + 4k
type(x)

SyntaxError: invalid syntax (<ipython-input-15-46df42864f2f>, line 1)

In [16]:
x = -3.1 + 4j 
type(x)

complex

In [17]:
x = -3.1 + 4.1j 
type(x)

complex

In [18]:
x = 4.1j 
type(x)

complex

In [20]:
x = 3
type(x)

int

In [21]:
x = 3j
type(x)

complex

In [22]:
for j in range(5):
    print(j)

0
1
2
3
4

## Python Casting (Type Casting)

In [ ]:
int to float
float to int
int to complex
float to complex

complex to int >>> can't convert complex to int
complex to float >> can't convert complex to float

int to str
float to str

str to int ## strictly number only 
str to float

### 1. int to float

In [27]:
a = 10
print(a, type(a))
print()
b = float(a)
print(b, type(b))

10 <class 'int'>
####
10.0 <class 'float'>

In [28]:
a = -30
print(a, type(a))
print()
b = float(a)
print(b, type(b))

-30 <class 'int'>

-30.0 <class 'float'>

### float to int

In [30]:
x = 3.24
print(x, type(x))
print()
y = int(x)
print(y, type(y))

3.24 <class 'float'>

3 <class 'int'>

In [2]:
x = 3.24
x=int(x)
x

3

In [31]:
x = 3.89
print(x, type(x))
print()
y = int(x)
print(y, type(y))

3.89 <class 'float'>

3 <class 'int'>

In [32]:
a = 2.2
print(int(a))

2

In [33]:
a

2.2

### int to complex

In [34]:
c = 2 + 3j
print(c, type(c))

(2+3j) <class 'complex'>

In [36]:
a = 30 
print('value in variable a is:', a, type(a))    # 30

b = complex(a)                          #  30 + 0j
print('value in variable b is:', b, type(b))

value in variable a is: 30 <class 'int'>
value in variable b is: (30+0j) <class 'complex'>

In [37]:
a = 1234 
print('value in variable a is:', a, type(a))    # 1234

b = complex(a)                          #  1234 + 0j
print('value in variable b is:', b, type(b))

value in variable a is: 1234 <class 'int'>
value in variable b is: (1234+0j) <class 'complex'>

### float to complex

In [39]:
a = 1.1
print('value in variable a is:', a, type(a))    # 1.1

b = complex(a)                          #  1.1 + 0j
print('value in variable b is:', b, type(b))

value in variable a is: 1.1 <class 'float'>
value in variable b is: (1.1+0j) <class 'complex'>

In [40]:
a = 5.67
print('value in variable a is:', a, type(a))    # 1.1

b = complex(a)                          #  1.1 + 0j
print('value in variable b is:', b, type(b))

value in variable a is: 5.67 <class 'float'>
value in variable b is: (5.67+0j) <class 'complex'>

### complex to int

In [42]:
a = 5 +4j 
print('value in variable a is:', a, type(a))    

b = int(a)                          
print('value in variable b is:', b, type(b))

value in variable a is: (5+4j) <class 'complex'>

TypeError: can't convert complex to int

### complex to float

In [43]:
a = 5 +4j 
print('value in variable a is:', a, type(a))    

b = float(a)                          
print('value in variable b is:', b, type(b))

value in variable a is: (5+4j) <class 'complex'>

TypeError: can't convert complex to float

### int to string

In [45]:
a = 5 
print('value in variable a is:', a, type(a))    

b = str(a)                          
print('value in variable b is:', b, type(b))

value in variable a is: 5 <class 'int'>
value in variable b is: 5 <class 'str'>

In [47]:
a = '5'
b = 10
a+b

TypeError: can only concatenate str (not "int") to str

In [48]:
a = '5'
b = 10
a*b

'5555555555'

In [49]:
a = 12345 
print('value in variable a is:', a, type(a))    

b = str(a)                          
print('value in variable b is:', b, type(b))

value in variable a is: 12345 <class 'int'>
value in variable b is: 12345 <class 'str'>

### float to string

In [50]:
a = 12.345 
print('value in variable a is:', a, type(a))    

b = str(a)                          
print('value in variable b is:', b, type(b))

value in variable a is: 12.345 <class 'float'>
value in variable b is: 12.345 <class 'str'>

### str to int

In [52]:
a = '1234'    # string contains only numbers 
print('value in variable a is:', a, type(a))    

b = int(a)                          
print('value in variable b is:', b, type(b))

value in variable a is: 1234 <class 'str'>
value in variable b is: 1234 <class 'int'>

In [53]:
a = '3456'    # string contains only numbers 
print('value in variable a is:', a, type(a))    

b = int(a)                          
print('value in variable b is:', b, type(b))

value in variable a is: 3456 <class 'str'>
value in variable b is: 3456 <class 'int'>

In [54]:
a = '3456      '    # string contains only numbers 
print('value in variable a is:', a, type(a))    

b = int(a)                          
print('value in variable b is:', b, type(b))

value in variable a is: 3456       <class 'str'>
value in variable b is: 3456 <class 'int'>

In [55]:
b

3456

In [56]:
a = '    3456      '    # string contains only numbers 
print('value in variable a is:', a, type(a))    

b = int(a)                          
print('value in variable b is:', b, type(b))

value in variable a is:     3456       <class 'str'>
value in variable b is: 3456 <class 'int'>

In [57]:
a = '34 56'    # string contains only numbers 
print('value in variable a is:', a, type(a))    

b = int(a)                          
print('value in variable b is:', b, type(b))

value in variable a is: 34 56 <class 'str'>

ValueError: invalid literal for int() with base 10: '34 56'

### str to float

In [59]:
a = '34.56'    # string contains only numbers 
print('value in variable a is:', a, type(a))    

b = float(a)                          
print('value in variable b is:', b, type(b))

value in variable a is: 34.56 <class 'str'>
value in variable b is: 34.56 <class 'float'>

In [60]:
a = '     34.56    '    # string contains only numbers 
print('value in variable a is:', a, type(a))    

b = float(a)                          
print('value in variable b is:', b, type(b))

value in variable a is:      34.56     <class 'str'>
value in variable b is: 34.56 <class 'float'>

In [61]:
a = '34. 56'    # string contains only numbers 
print('value in variable a is:', a, type(a))    

b = float(a)                          
print('value in variable b is:', b, type(b))

value in variable a is: 34. 56 <class 'str'>

ValueError: could not convert string to float: '34. 56'

In [62]:
a = 'hi'    # string contains only numbers 
print('value in variable a is:', a, type(a))    

b = float(a)                          
print('value in variable b is:', b, type(b))

value in variable a is: hi <class 'str'>

ValueError: could not convert string to float: 'hi'

In [63]:
a = '34.56'    # string contains only numbers 
print('value in variable a is:', a, type(a))    

b = int(a)                          
print('value in variable b is:', b, type(b))

value in variable a is: 34.56 <class 'str'>

ValueError: invalid literal for int() with base 10: '34.56'

In [64]:
a = '34.56'    # string contains only numbers 
print('value in variable a is:', a, type(a))    

b = float(a)                          
print('value in variable b is:', b, type(b)) 

c = int(b)                          
print('value in variable c is:', c, type(c))

value in variable a is: 34.56 <class 'str'>
value in variable b is: 34.56 <class 'float'>
value in variable c is: 34 <class 'int'>

In [65]:
a= [1,2,3]
type(a)

list

In [66]:
b= tuple(a)
type(b)

tuple

In [67]:
b

(1, 2, 3)

In [69]:
int(True)

1

In [71]:
int(False)

0

In [74]:
x = 1 + j
type(x)

int