# Regular Expressions

In [ ]:
Regular Expressions :
    It is the sequence of character used to check whether pattern is in given text/string

In [ ]:
email id
Mobile Number
PAN Card
Adhar Card
DL 
IFSC
MICR
Voter ID
Passport

In [ ]:
regex  >> Regular Expressions

import re

In [ ]:
Natural Language Processing (NLP)
Text Processing 
Web Scraping - Data Cleansing
OCR - Optical Character Recognition:
    to convert image into string
    
Google Vision : Internet availibility needed
Amazon Textract : Internet availibility needed
Pytesseract : Image processing
    Noise
    Skew Correction

In [ ]:
Structured Data >> Excel , CSV
Unstructured Data >> Images, Texts, Audios, Videos
Semistructured Data >> JSON, HTML

In [ ]:
What are you looking for???
>> sequence of characters that forms search patterns

## Regular Expressions Functions

In [3]:
import re
1. re.findall()
2. re.sub()
3. re.match()
4. re.search()
5. re.compile()

## 1. findall()

In [ ]:
Return a list of matches in string
re.findall(pattern, text)

In [6]:
import re

text = '''My Mobile number is : 9988774455,
        email id is : akshaykumar@gmail.com
        todays date is : 08-06-2022
        
        Mobile Number is : 7788994455'''

# 10 digits
mobile_number = re.findall('[0-9]{10}',text)
print(mobile_number)

['9988774455', '7788994455']

In [7]:
import re

text = '''My Mobile number is : 9988774455,
        email id is : akshaykumar@gmail.com
        todays date is : 08-06-2022
        
        Mobile Number is : 7788994455'''


mobile_number = re.findall('[0-9]{5}',text)
print(mobile_number)

['99887', '74455', '77889', '94455']

In [8]:
import re

text = '''My Mobile number is : 9988774455,
        email id is : akshaykumar@gmail.com
        todays date is : 08-06-2022
        
        Mobile Number is : 7788994455'''


mobile_number = re.findall('[0-9]{2}',text)
print(mobile_number)

['99', '88', '77', '44', '55', '08', '06', '20', '22', '77', '88', '99', '44', '55']

In [20]:
import re

text = '''My Mobile number is : 9988774455,
        email id is : akshaykumar@gmail.com
        todays date is : 08-06-2022
        
        Mobile Number is : 7788994455
        07-06-2022
        06-06-2022
        09-06-2022'''


date = re.findall('[0-9]{2}[-][0-9]{2}[-][0-9]{4}',text)
print(date,len(date))

['08-06-2022', '07-06-2022', '06-06-2022', '09-06-2022'] 4

In [21]:
import re

text = '''My Mobile number is : 9988774455,
        email id is : akshaykumar@gmail.com
        todays date is : 08-06-2022
        
        Mobile Number is : 7788994455
        07-06-2022
        06-06-2022
        09-06-2022
        10/06/2022'''


date = re.findall('[0-9]{2}[-][0-9]{2}[-][0-9]{4}',text)
print(date,len(date))

['08-06-2022', '07-06-2022', '06-06-2022', '09-06-2022'] 4

In [25]:
import re

text = '''My Mobile number is : 9988774455,
        email id is : akshaykumar@gmail.com
        todays date is : 08-06-2022
        
        Mobile Number is : 7788994455
        07-06-2022
        06-06-2022
        09-06-2022
        10/06/2022'''


date = re.findall('[0-9]{2}[/-][0-9]{2}[-/][0-9]{4}',text)
print(date,len(date))

['08-06-2022', '07-06-2022', '06-06-2022', '09-06-2022', '10/06/2022'] 5

In [33]:
import re

text = '''My Mobile number is : 9988774455,
        email id is : akshaykumar@gmail.com
        todays date is : 08-06-2022
        
        Mobile Number is : 7788994455
        07-06-2022
        06-06-2022
        09-06-2022
        10/06/2022
        PAN CARD NUMBER : RTFDS1234J
        PAN CARD NUMBER : TFGHU7485P
        PAN CARD NUMBER : IHUYZ11220
        '''


pan_number = re.findall('[A-Z]{5}[0-9]{4}[A-Z]',text)
print(pan_number)

['RTFDS1234J', 'TFGHU7485P']

In [39]:
import re

text = '''My Mobile number is : 9988774455,
        email id is : akshaykumar@gmail.com
        todays date is : 08-06-2022
        
        Mobile Number is : 7788994455
        07-06-2022
        06-06-2022
        09-06-2022
        10/06/2022
        PAN CARD NUMBER : RTFDS1234J
        PAN CARD NUMBER : TFGHU7485P
        PAN CARD NUMBER : IHUYZ11220
        '''


email_id = re.findall('[a-z]{1,20}@[a-z]{3,15}',text)
print(email_id)

['akshaykumar@gmail']

In [40]:
import re

text = '''My Mobile number is : 9988774455,
        email id is : akshaykumar@gmail.com
        todays date is : 08-06-2022
        
        Mobile Number is : 7788994455
        07-06-2022
        06-06-2022
        09-06-2022
        10/06/2022
        PAN CARD NUMBER : RTFDS1234J
        PAN CARD NUMBER : TFGHU7485P
        PAN CARD NUMBER : IHUYZ11220
        '''


email_id = re.findall('[a-z]{1,20}@[a-z.]{3,15}',text)
print(email_id)

['akshaykumar@gmail.com']

In [42]:
import re

text = '''My Mobile number is : 9988774455,
        email id is : akshaykumar@gmail.com
        todays date is : 08-06-2022
        
        Mobile Number is : 7788994455
        07-06-2022
        06-06-2022
        09-06-2022
        10/06/2022
        PAN CARD NUMBER : RTFDS1234J
        PAN CARD NUMBER : TFGHU7485P
        PAN CARD NUMBER : IHUYZ11220
        '''


email_id = re.findall('[a-z]{1,20}@[a-z]{3,10}.[a-z]{3}',text)
print(email_id)

['akshaykumar@gmail.com']

In [45]:
import re

text = '''My Mobile number is : 9988774455,
        email id is : akshaykumar@gmail.com
        todays date is : 08-06-2022
        
        Mobile Number is : 7788994455
        07-06-2022
        06-06-2022
        09-06-2022
        10/06/2022
        
        ajaydevgan@outlook.com
        
        PAN CARD NUMBER : RTFDS1234J
        PAN CARD NUMBER : TFGHU7485P
        PAN CARD NUMBER : IHUYZ11220
        '''


email_id = re.findall('[a-z]{1,20}@[a-z]{5,10}.[a-z]{3}',text)
print(email_id)

['akshaykumar@gmail.com', 'ajaydevgan@outlook.com']

In [48]:
import re

text = '''My Mobile number is : 9988774455,
        email id is : akshaykumar@gmail.com
        todays date is : 08-06-2022
        
        viratkohli123@gmail.com
        Mobile Number is : 7788994455
        07-06-2022
        06-06-2022
        09-06-2022
        10/06/2022
        
        ajaydevgan@outlook.com
        
        PAN CARD NUMBER : RTFDS1234J
        PAN CARD NUMBER : TFGHU7485P
        PAN CARD NUMBER : IHUYZ11220
        '''


email_id = re.findall('[a-z0-9]{1,20}@[a-z]{5,10}.[a-z]{3}',text)
print(email_id)

['akshaykumar@gmail.com', 'viratkohli123@gmail.com', 'ajaydevgan@outlook.com']

In [52]:
text = '1245  1212  4578 1177  9887'

re.findall('[1-7]{1,4}', text)

['1245', '1212', '457', '1177', '7']

In [54]:
text = '1245  1212  4578 1177  9887'

re.findall('[1798]{1,4}', text)

['1', '1', '1', '78', '1177', '9887']

In [56]:
import re

text = '''My Mobile number is : 9988774455,
        email id is : akshaykumar@gmail.com
        todays date is : 08-06-2022
        
        viratkohli123@gmail.com
        Mobile Number is : 7788994455
        07-06-2022
        06-06-2022
        09-06-2022
        10/06/2022
        preeti-zinta@hotmail.com
        ajaydevgan@outlook.com
        
        PAN CARD NUMBER : RTFDS1234J
        PAN CARD NUMBER : TFGHU7485P
        PAN CARD NUMBER : IHUYZ11220
        '''


email_id = re.findall('[a-z0-9-]{1,20}@[a-z]{5,10}.[a-z]{3}',text)
print(email_id)

['akshaykumar@gmail.com', 'viratkohli123@gmail.com', 'preeti-zinta@hotmail.com', 'ajaydevgan@outlook.com']

In [57]:
import re

text = '''My Mobile number is : 9988774455,
        email id is : akshaykumar@gmail.com
        todays date is : 08-06-2022
        
        viratkohli123@gmail.com
        Mobile Number is : 7788994455
        07-06-2022
        06-06-2022
        09-06-2022
        10/06/2022
        preeti-zinta@hotmail.com
        ajaydevgan@outlook.com
        
        PAN CARD NUMBER : RTFDS1234J
        PAN CARD NUMBER : TFGHU7485P
        PAN CARD NUMBER : IHUYZ11220
        '''


email_id = re.findall('[a-z0-9-!@#$%]{1,20}@[a-z]{5,10}.[a-z]{3}',text)
print(email_id)

['akshaykumar@gmail.com', 'viratkohli123@gmail.com', 'preeti-zinta@hotmail.com', 'ajaydevgan@outlook.com']

In [66]:
import re

text = '''My Mobile number is : 9988774455,
        email id is : viratkohli@gmail.com
        todays date is : 08-06-2022
        
        viratkohli123@gmail.com
        Mobile Number is : 7788994455
        07-06-2022
        06-06-2022
        09-06-2022
        10/06/2022
        viraa
        aaaaa
        ivivi
        tvtvt
        virat-Kohli@hotmail.com
        virat_kohli@outlook.com
        
        PAN CARD NUMBER : RTFDS1234J
        PAN CARD NUMBER : TFGHU7485P
        PAN CARD NUMBER : IHUYZ11220
        '''


email_id = re.findall('[virat]{5}',text)
print(email_id)

['virat', 'virat', 'viraa', 'aaaaa', 'ivivi', 'tvtvt', 'virat', 'virat']

In [65]:
import re

text = '''My Mobile number is : 9988774455,
        email id is : viratkohli@gmail.com
        todays date is : 08-06-2022
        
        viratkohli123@gmail.com
        Mobile Number is : 7788994455
        07-06-2022
        06-06-2022
        09-06-2022
        10/06/2022
        viraa
        virat-Kohli@hotmail.com
        virat_kohli@outlook.com
        
        PAN CARD NUMBER : RTFDS1234J
        PAN CARD NUMBER : TFGHU7485P
        PAN CARD NUMBER : IHUYZ11220
        '''


email_id = re.findall('virat',text)
print(email_id)

['virat', 'virat', 'virat', 'virat']

In [ ]:
emails = '''Viratkohli@gmail.com ,
Amir12khan@gmail.com , Ritesh_Deshmukh@yahoomail.com , 
Shreyas-Talpade@hotmail.co.in , Genelia.deshmukh@outlook.com'''

In [70]:
import re
emails = '''Viratkohli@gmail.com ,
Amir12khan@gmail.com , Ritesh_Deshmukh@yahoomail.com , 
Shreyas-Talpade@hotmail.co.in , Genelia.deshmukh@outlook.com'''
email=re.findall('[A-z0-9-_.]{1,20}@[a-z]{3,15}.[a-z.]{1,8}',emails)
print(email)

['Viratkohli@gmail.com', 'Amir12khan@gmail.com', 'Ritesh_Deshmukh@yahoomail.com', 'Shreyas-Talpade@hotmail.co.in', 'Genelia.deshmukh@outlook.com']

In [78]:
email_id=re.findall('[A-z0-9-_@]{10,20}',emails)
email_id

['Viratkohli@gmail',
 'Amir12khan@gmail',
 'Ritesh_Deshmukh@yaho',
 'Shreyas-Talpade@hotm',
 'deshmukh@outlook']

In [86]:
data = '''Name : Rahul Vijay Patil
          PAN Number : DTIOP4569B 
          Mobile Number : 8795541235
          DOB : 12/12/1999
          Email ID : rahulpatil@gmail.com'''

def get_details(data):
    
    PAN_number = re.findall('[A-Z]{5}[0-9]{4}[A-Z]',data)
    mobile_number = re.findall('[0-9]{10}', data)
    DOB = re.findall('[0-9]{2}[-/ ][0-9]{2}[-/ ][0-9]{4}',data)
    email_id = re.findall('[A-z0-9.-_]{2,20}@[a-z.]{4,20}',data)
    
    return PAN_number, mobile_number, DOB, email_id

get_details(data)

(['DTIOP4569B'], ['8795541235'], ['12/12/1999'], ['rahulpatil@gmail.com'])

In [88]:
data = '''Name : Rahul Vijay Patil
          PAN Number : DTIOP4569B 
          Mobile Number : 8795541235
          DOB : 12/12/1999
          Email ID : rahulpatil@gmail.com
          aadhar_number : 9874 4561 7485'''

PAN_number = re.findall('[A-Z]{5}[0-9]{4}[A-Z]',data)
mobile_number = re.findall('[0-9]{10}', data)
DOB = re.findall('[0-9]{2}[-/ ][0-9]{2}[-/ ][0-9]{4}',data)
email_id = re.findall('[A-z0-9.-_]{2,20}@[a-z.]{4,20}',data)
adhar_number = re.findall('[0-9]{4}[ ][0-9]{4}[ ][0-9]{4}',data)

print('PAN Number is :', PAN_number)
print('Mobile Number is :', mobile_number)
print('Date of Birth is :', DOB)
print('Email ID is :', email_id)
print('Adhar Number is :', adhar_number)

PAN Number is : ['DTIOP4569B']
Mobile Number is : ['8795541235']
Date of Birth is : ['12/12/1999']
Email ID is : ['rahulpatil@gmail.com']
Adhar Number is : ['9874 4561 7485']

In [ ]:
[abc]  >> a or b or c
[a-z]  >> any lower case char
[A-Z]  >> any upper case char
[a-zA-Z] >> any alphabet
[A-z]  >> any alphabet
[09]   >> 0 or 9
[0-9]  >> 0 to 9 digits
[0-9a-zA-Z] >> alphanumeric
[A-z0-9] >> alphanumeric

## Special Sequences

## 1. \d

In [ ]:
\d >> [0-9]  any digit

In [89]:
adhar = '4569 7896 7894'
num = re.findall('[0-9]{4}[ ][0-9]{4}[ ][0-9]{4}',adhar)
num

['4569 7896 7894']

In [90]:
adhar = '4569 7896 7894'
num = re.findall('\d{4}[ ]\d{4}[ ]\d{4}',adhar)
num

['4569 7896 7894']

In [96]:
data = '''Name : Rahul Vijay Patil
          PAN Number : DTIOP4569B 
          Mobile Number : 8795541235
          DOB : 12/12/1999
          Email ID : rahulpatil@gmail.com
          aadhar_number : 9874 4561 7485'''

PAN_number = re.findall('[A-Z]{5}\d{4}[A-Z]',data)
mobile_number = re.findall('\d{10}', data)
DOB = re.findall('\d{2}[-/ ]\d{2}[-/ ]\d{4}',data)
email_id = re.findall('[A-z0-9.-_]{2,20}@[a-z.]{4,20}',data)
adhar_number = re.findall('\d{4}[ ]\d{4}[ ]\d{4}',data)

print('PAN Number is :', PAN_number)
print('Mobile Number is :', mobile_number)
print('Date of Birth is :', DOB)
print('Email ID is :', email_id)
print('Adhar Number is :', adhar_number)

PAN Number is : ['DTIOP4569B']
Mobile Number is : ['8795541235']
Date of Birth is : ['12/12/1999']
Email ID is : ['rahulpatil@gmail.com']
Adhar Number is : ['9874 4561 7485']

## 2. \D

In [ ]:
\D >> except [0-9] >> [^0-9] >> Any char except digits

In [98]:
data = '''DOB : 12/12/1999
          Email ID : rahulpatil@gmail.com
          aadhar_number : 9874 4561 7485'''

result = re.findall('\D',data)
print(result)

['D', 'O', 'B', ' ', ':', ' ', '/', '/', '\n', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', 'E', 'm', 'a', 'i', 'l', ' ', 'I', 'D', ' ', ':', ' ', 'r', 'a', 'h', 'u', 'l', 'p', 'a', 't', 'i', 'l', '@', 'g', 'm', 'a', 'i', 'l', '.', 'c', 'o', 'm', '\n', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', 'a', 'a', 'd', 'h', 'a', 'r', '_', 'n', 'u', 'm', 'b', 'e', 'r', ' ', ':', ' ', ' ', ' ']

In [99]:
data = '''DOB : 12/12/1999
          Email ID : rahulpatil@gmail.com
          aadhar_number : 9874 4561 7485'''

result = re.findall('\D{5}',data)
print(result)

['DOB :', '\n    ', '     ', ' Emai', 'l ID ', ': rah', 'ulpat', 'il@gm', 'ail.c', 'om\n  ', '     ', '   aa', 'dhar_', 'numbe']

In [101]:
text = '''Machine 121354846 learning is a field of inquiry devoted to understanding and
building methods that 'learn', that is, methods that leverage data to
improve performance on some set of tasks.  324654 It is seen as a part of artificial intelligence.'''

result = re.findall('\D',text)
print(result)

['M', 'a', 'c', 'h', 'i', 'n', 'e', ' ', ' ', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g', ' ', 'i', 's', ' ', 'a', ' ', 'f', 'i', 'e', 'l', 'd', ' ', 'o', 'f', ' ', 'i', 'n', 'q', 'u', 'i', 'r', 'y', ' ', 'd', 'e', 'v', 'o', 't', 'e', 'd', ' ', 't', 'o', ' ', 'u', 'n', 'd', 'e', 'r', 's', 't', 'a', 'n', 'd', 'i', 'n', 'g', ' ', 'a', 'n', 'd', '\n', 'b', 'u', 'i', 'l', 'd', 'i', 'n', 'g', ' ', 'm', 'e', 't', 'h', 'o', 'd', 's', ' ', 't', 'h', 'a', 't', ' ', "'", 'l', 'e', 'a', 'r', 'n', "'", ',', ' ', 't', 'h', 'a', 't', ' ', 'i', 's', ',', ' ', 'm', 'e', 't', 'h', 'o', 'd', 's', ' ', 't', 'h', 'a', 't', ' ', 'l', 'e', 'v', 'e', 'r', 'a', 'g', 'e', ' ', 'd', 'a', 't', 'a', ' ', 't', 'o', '\n', 'i', 'm', 'p', 'r', 'o', 'v', 'e', ' ', 'p', 'e', 'r', 'f', 'o', 'r', 'm', 'a', 'n', 'c', 'e', ' ', 'o', 'n', ' ', 's', 'o', 'm', 'e', ' ', 's', 'e', 't', ' ', 'o', 'f', ' ', 't', 'a', 's', 'k', 's', '.', ' ', ' ', ' ', 'I', 't', ' ', 'i', 's', ' ', 's', 'e', 'e', 'n', ' ', 'a', 's', ' ', 'a', ' ', 'p', 'a', 'r', 't', ' ', 'o', 'f', ' ', 'a', 'r', 't', 'i', 'f', 'i', 'c', 'i', 'a', 'l', ' ', 'i', 'n', 't', 'e', 'l', 'l', 'i', 'g', 'e', 'n', 'c', 'e', '.']

In [102]:
text = '''Machine 121354846 learning is a field of inquiry devoted to understanding and
building methods that 'learn', that is, methods that leverage data to
improve performance on some set of tasks.  324654 It is seen as a part of artificial intelligence.'''

result = re.findall('\D{5}',text)
print(result)

['Machi', ' lear', 'ning ', 'is a ', 'field', ' of i', 'nquir', 'y dev', 'oted ', 'to un', 'derst', 'andin', 'g and', '\nbuil', 'ding ', 'metho', 'ds th', "at 'l", "earn'", ', tha', 't is,', ' meth', 'ods t', 'hat l', 'evera', 'ge da', 'ta to', '\nimpr', 'ove p', 'erfor', 'mance', ' on s', 'ome s', 'et of', ' task', ' It i', 's see', 'n as ', 'a par', 't of ', 'artif', 'icial', ' inte', 'llige']

In [106]:
text = '''Machine 121354846 learning is a field of inquiry devoted to understanding and
building methods that 'learn', that is, methods that leverage data to !@#$%^&*
improve performance on some set of tasks.  324654 It is seen as a part of artificial intelligence.'''

result = re.findall('[^0-9]{5}',text)
print(result)

['Machi', ' lear', 'ning ', 'is a ', 'field', ' of i', 'nquir', 'y dev', 'oted ', 'to un', 'derst', 'andin', 'g and', '\nbuil', 'ding ', 'metho', 'ds th', "at 'l", "earn'", ', tha', 't is,', ' meth', 'ods t', 'hat l', 'evera', 'ge da', 'ta to', ' !@#$', '%^&*\n', 'impro', 've pe', 'rform', 'ance ', 'on so', 'me se', 't of ', 'tasks', ' It i', 's see', 'n as ', 'a par', 't of ', 'artif', 'icial', ' inte', 'llige']

In [105]:
# different case
text = '''Machine 121354846 learning is a field of inquiry devoted to understanding and
building methods that 'learn', that is, methods that leverage data to 
improve performance on some set of tasks.  324654 It is seen as a part of artificial intelligence.'''

result = re.findall('^[0-9]{5}',text)
print(result)

[]

## 3. \w

In [ ]:
\w >> [0-9a-zA-Z]   >> alphanumeric

In [110]:
text = '''Machine 121354846 learning is a fie@ld of inquiry dev#oted to understanding and
building methods that 'learn', that is, methods that leverage data to
improve per$formance on some set of tasks.  324654 It is seen as a part of artificial intelligence.'''

result = re.findall('\w{5}',text)
print(result,len(result))

['Machi', '12135', 'learn', 'inqui', 'under', 'stand', 'build', 'metho', 'learn', 'metho', 'lever', 'impro', 'forma', 'tasks', '32465', 'artif', 'icial', 'intel', 'ligen'] 19

In [111]:
data = '''Name : Rahul Vijay Patil
          PAN Number : DTIOP4569B 
          Mobile Number : 8795541235
          DOB : 12/12/1999
          Email ID : rahulpatil@gmail.com
          aadhar_number : 9874 4561 7485'''

PAN_number = re.findall('\w{10}',data)
mobile_number = re.findall('\d{10}', data)
DOB = re.findall('\d{2}[-/ ]\d{2}[-/ ]\d{4}',data)
email_id = re.findall('[A-z0-9.-_]{2,20}@[a-z.]{4,20}',data)
adhar_number = re.findall('\d{4}[ ]\d{4}[ ]\d{4}',data)

print('PAN Number is :', PAN_number)
print('Mobile Number is :', mobile_number)
print('Date of Birth is :', DOB)
print('Email ID is :', email_id)
print('Adhar Number is :', adhar_number)

PAN Number is : ['DTIOP4569B', '8795541235', 'rahulpatil', 'aadhar_num']
Mobile Number is : ['8795541235']
Date of Birth is : ['12/12/1999']
Email ID is : ['rahulpatil@gmail.com']
Adhar Number is : ['9874 4561 7485']

In [112]:
text = '''SBI IFSC : SBIN0001234
          HDFC IFSC : HDFC0009874
          KOTAK IFSC : KTKB0004567'''
ifsc = re.findall('[A-Z]{4}[0-9]{7}', text)
ifsc

['SBIN0001234', 'HDFC0009874', 'KTKB0004567']

In [113]:
text = '''SBI IFSC : SBIN0001234
          HDFC IFSC : HDFC0009874
          KOTAK IFSC : KTKB0004567'''
ifsc = re.findall('[A-Z]{4}\d{7}', text)
ifsc

['SBIN0001234', 'HDFC0009874', 'KTKB0004567']

In [114]:
text = '''SBI IFSC : SBIN0001234
          HDFC IFSC : HDFC0009874
          KOTAK IFSC : KTKB0004567'''
ifsc = re.findall('\w{10,15}', text)
ifsc

['SBIN0001234', 'HDFC0009874', 'KTKB0004567']

## 4. \W

In [ ]:
\W >> except [0-9a-zA-Z]/ alphanumeric >>> spaces, special char
\W >> [^0-9a-zA-Z]

In [117]:
data = '''Name : Rahul @#$^ Vijay Patil
          PAN Number : DTIOP4569B 
          Mobile Number  )&^&^: 8795541235
          DOB : 12/12/1999
          Email ID : rahulpatil@gmail.com
          aadhar_number : 9874 4561 7485'''


something = re.findall('\W',data)
print(something)

[' ', ':', ' ', ' ', '@', '#', '$', '^', ' ', ' ', '\n', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ':', ' ', ' ', '\n', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ')', '&', '^', '&', '^', ':', ' ', '\n', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ':', ' ', '/', '/', '\n', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ':', ' ', '@', '.', '\n', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ':', ' ', ' ', ' ']

## 5. \s

In [ ]:
\s >> [ ] >> white space

In [118]:
text = 'Data Science @#$ is  654654 98756 #$%'
result = re.findall('\s', text)
print(result, len(result))

[' ', ' ', ' ', ' ', ' ', ' ', ' '] 7

In [121]:
data = '''Name : Rahul Vijay Patil
          PAN Number : DTIOP4569B 
          Mobile Number : 8795541235
          DOB : 12/12/1999
          Email ID : rahulpatil@gmail.com
          aadhar_number : 9874 4561 7485'''

PAN_number = re.findall('\w{10}',data)
mobile_number = re.findall('\d{10}', data)
DOB = re.findall('\d{2}[-/ ]\d{2}[-/ ]\d{4}',data)
email_id = re.findall('[A-z0-9.-_]{2,20}@[a-z.]{4,20}',data)
adhar_number = re.findall('\d{4}\s\d{4}\s\d{4}',data)

print('PAN Number is :', PAN_number)
print('Mobile Number is :', mobile_number)
print('Date of Birth is :', DOB)
print('Email ID is :', email_id)
print('Adhar Number is :', adhar_number)

PAN Number is : ['DTIOP4569B', '8795541235', 'rahulpatil', 'aadhar_num']
Mobile Number is : ['8795541235']
Date of Birth is : ['12/12/1999']
Email ID is : ['rahulpatil@gmail.com']
Adhar Number is : ['9874 4561 7485']

## 6. \S

In [ ]:
\s >> other than space

In [122]:
data = '''Name : Rahul Vijay Patil
          PAN Number : DTIOP4569B 
          Mobile Number : 8795541235
          DOB : 12/12/1999
          Email ID : rahulpatil@gmail.com
          aadhar_number : 9874 4561 7485'''

result = re.findall('\s',data)
print(result, len(result))

[' ', ' ', ' ', ' ', '\n', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', '\n', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', '\n', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', '\n', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', '\n', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' '] 75

In [124]:
data = '''Name : Rahul Vijay Patil
          PAN Number : DTIOP4569B 
          Mobile Number : 8795541235
          DOB : 12/12/1999
          Email ID : rahulpatil@gmail.com
          aadhar_number : 9874 4561 7485'''

result = re.findall('\S{4}',data)
print(result, len(result))

['Name', 'Rahu', 'Vija', 'Pati', 'Numb', 'DTIO', 'P456', 'Mobi', 'Numb', '8795', '5412', '12/1', '2/19', 'Emai', 'rahu', 'lpat', 'il@g', 'mail', '.com', 'aadh', 'ar_n', 'umbe', '9874', '4561', '7485'] 25

## 7. \b

In [ ]:
Checks for characters at beginning or end of the word

In [126]:
text = '''SBI IFSC : SBIN0001234
          HDFC IFSC : HDFC0009874
          KOTAK IFSC : KTKB0004567'''
ifsc = re.findall(r'\b[A-Z]{4}\d{7}', text)
ifsc

['SBIN0001234', 'HDFC0009874', 'KTKB0004567']

In [128]:
text = '''SBI IFSC : SBIN0001234
          HDFC IFSC : HDFC0009874
          KOTAK IFSC : KTKB0004567
          ABCDE0001452'''
ifsc = re.findall('[A-Z]{4}\d{7}', text)
ifsc

['SBIN0001234', 'HDFC0009874', 'KTKB0004567', 'BCDE0001452']

In [127]:
text = '''SBI IFSC : SBIN0001234
          HDFC IFSC : HDFC0009874
          KOTAK IFSC : KTKB0004567
          ABCDE0001452'''
ifsc = re.findall(r'\b[A-Z]{4}\d{7}', text)
ifsc

['SBIN0001234', 'HDFC0009874', 'KTKB0004567']

In [129]:
mobile = '''9898659887
            7845986545
            A7898874512
            88789878987
            7898784565'''

mobile_number = re.findall('[0-9]{10}',mobile)
mobile_number

['9898659887', '7845986545', '7898874512', '8878987898', '7898784565']

In [130]:
mobile = '''9898659887
            7845986545
            A7898874512
            88789878987
            7898784565'''

mobile_number = re.findall('\d{10}',mobile)
mobile_number

['9898659887', '7845986545', '7898874512', '8878987898', '7898784565']

In [131]:
mobile = '''9898659887
            7845986545
            A7898874512
            88789878987
            7898784565'''

mobile_number = re.findall(r'\b\d{10}',mobile)
mobile_number

['9898659887', '7845986545', '8878987898', '7898784565']

In [132]:
mobile = '''9898659887
            7845986545
            A7898874512
            88789878987
            7898784565'''

mobile_number = re.findall(r'\b\d{10}\b',mobile)
mobile_number

['9898659887', '7845986545', '7898784565']

In [133]:
text = 'Python class Pune'

results = re.findall('\w{5}',text)
results

['Pytho', 'class']

In [135]:
text = 'Python class Pune'

results = re.findall(r'\b\w{5}',text)
results

['Pytho', 'class']

In [136]:
text = 'Python class Pune'

results = re.findall(r'\w{5}\b',text)
results

['ython', 'class']

In [137]:
text = 'Python class Pune'

results = re.findall(r'\b\w{5}\b',text)
results

['class']

In [138]:
text = 'Python class Pune Python'

results = re.findall(r'\bPython',text)
results

['Python', 'Python']