# Exception Handling

In [ ]:
1. syntax error:
    user/programmer write invalid code which cause syntax error
    user need sto correct the syntax to execute the code
    
2. Runtime Error: >> exceptions
    While executing a code if there is a problem because of user input, logic, memory, then we get runtime error.
    Attribute error
    typerrror
    nameerror
    filenotfounderror
    fileexisterror
    zerodivision error

In [1]:
print(a)

NameError: name 'a' is not defined

In [2]:
a = (1,2,3)
a.append(10)

AttributeError: 'tuple' object has no attribute 'append'

In [3]:
a = (1,2,3)
a[4]

IndexError: tuple index out of range

In [4]:
print('Hii')
    print('Byee')

IndentationError: unexpected indent (<ipython-input-4-4c07c144be7b>, line 2)

In [6]:
f = open('sample.txt', 'x')

FileExistsError: [Errno 17] File exists: 'sample.txt'

In [7]:
100/0

ZeroDivisionError: division by zero

In [8]:
int('3.14')

ValueError: invalid literal for int() with base 10: '3.14'

## Try-except

In [ ]:
try   >> it lets you test a block of code ( usually risky code)
except >> It handles that error

In [10]:
try :
    print('Try Block')
    
except:
    print('Except Block')

Try Block

In [11]:
tup1 = (1,2,3)
try :
    print('Try Block')
    tuple1.append(100)
    
except:
    print('Except Block')

Try Block
Except Block

In [12]:
tup1 = (1,2,3)
try :
    tuple1.append(100)
    print('Try Block')
    
    
except:
    print('Except Block')

Except Block

In [13]:
tup1 = (1,2,3)
try :
    print(tup1[1])
    print('Try Block')
    
    
except:
    print('Except Block')

2
Try Block

In [15]:
tup1 = (1,2,3)
try :
    print(tup1[5])
    print('Try Block')
    
    
except:
    print('Except Block')
    
print('Hello')

Except Block
Hello

In [16]:
tup1 = (1,2,3,3,4,5,6)
try :
    print(tup1[1])
    print('Try Block')
    print(tup1[5])
    
    
except:
    print('Except Block')
    
print('Hello')

2
Try Block
5
Hello

In [17]:
tup1 = (1,2,3,3,4,5,6)
try :
    print(tup1[1])
    print('Try Block')
    print(tup1[50])
    
    
except:
    print('Except Block')
    
print('Hello')

2
Try Block
Except Block
Hello

In [19]:
import pandas as pd

file_name = 'Airline.xlsx'

df = pd.read_excel(file_name)
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [20]:
import pandas as pd

file_name = 'Airline.xlsx'

df = pd.read_csv(file_name)
df

ParserError: Error tokenizing data. C error: Expected 2 fields in line 8, saw 3

In [21]:
import pandas as pd

file_name = 'Airline.xlsx'

try:
    df = pd.read_csv(file_name)
    print('Try Block')

except:
    df = pd.read_excel(file_name)
    print('Except Block')

Except Block

In [22]:
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [24]:
f = open('ds1.txt', 'x')
f.write('Data Science')
f.close
print('File Created Successfully')

FileExistsError: [Errno 17] File exists: 'ds1.txt'

In [25]:
text = 'Python and Data Science'

try:
    f = open('ds1.txt', 'x')
    f.write(text)
    f.close()
    print('File Created Successfully')
    
except:
    print('File already exist')

File already exist

In [26]:
import traceback
text = 'Python and Data Science'

try:
    f = open('ds1.txt', 'x')
    f.write(text)
    f.close()
    print('File Created Successfully')
    
except:
    print(traceback.print_exc())
    print('File already exist')

None
File already exist

Traceback (most recent call last):
  File "<ipython-input-26-ab967dd8157c>", line 5, in <module>
    f = open('ds1.txt', 'x')
FileExistsError: [Errno 17] File exists: 'ds1.txt'

In [32]:
try:
    print('Try Block')
    f = open('ds4.txt', 'x')
    f.write(text)
    f.close()
    print('File Created Successfully')
    
    f = open('ds5.txt')
    text1 = f.write()
    f.close()
    print(text1)
    
except FileNotFoundError as error:
    print(error)
    
except FileExistsError as e:
    print(e)
    
except:
    print(traceback.print_exc())
    print('File already exist')

Try Block
[Errno 17] File exists: 'ds4.txt'

In [33]:
try:
    print('Try Block')
#     f = open('ds4.txt', 'x')
#     f.write(text)
#     f.close()
#     print('File Created Successfully')
    
    f = open('ds5.txt')
    text1 = f.write()
    f.close()
    print(text1)
    
except FileNotFoundError as error:
    print(error)
    
except FileExistsError as e:
    print(e)
    
except:
    print(traceback.print_exc())
    print('File already exist')

Try Block
[Errno 2] No such file or directory: 'ds5.txt'

In [34]:
try:
    print('Try Block')
#     f = open('ds4.txt', 'x')
#     f.write(text)
#     f.close()
#     print('File Created Successfully')
    
    f = open('ds5.txt')
    text1 = f.read()
    f.close()
    print(text1)
    
except FileNotFoundError:
    f = open('ds5.txt', 'w')
    f.write('Hi hello byeeee')
    f.close()
    
    
except FileExistsError as e:
    print(e)
    
except:
    print(traceback.print_exc())
    print('File already exist')

Try Block

## Try-except-else

In [35]:
try :
    print('Try Block')
    
except:
    print('Except Block')

Try Block

In [36]:
try :
    print('Try Block')
    
except:
    print('Except Block')
    
else:
    print('Else Block')

Try Block
Else Block

In [38]:
try :
    print('Try Block')
    string = 'python'
    print(string[10])
    
except:
    print(traceback.print_exc())
    print('Except Block')
    
else:
    print('Else Block')

Try Block
None
Except Block

Traceback (most recent call last):
  File "<ipython-input-38-578c1b2f4ce1>", line 4, in <module>
    print(string[10])
IndexError: string index out of range

In [39]:
try :
    print('Try Block')
    print(python)
except:
    print('Except Block')
    
else:
    print('Else Block')

Try Block
Except Block

In [40]:
try :
    print('Try Block')
#     print(python)
except:
    print('Except Block')
    
else:
    print('Else Block')

Try Block
Else Block

In [41]:
try :
    print(python)
    print('Try Block')
#     
except:
    print('Except Block')
    
else:
    print('Else Block')

Except Block

## try-except-finally

In [42]:
try :
    print('Try Block')
    string = 'python'
#     print(string[10])
    
except:
    print(traceback.print_exc())
    print('Except Block')
    
finally:
    print('Finally Block')

Try Block
Finally Block

In [44]:
try :
    print('Try Block')
    string = 'python'
    print(string[10])
    
except:
    print(traceback.print_exc())
    print('Except Block')
    
finally:
    print('Finally Block')
    
print('completed')

Try Block
None
Except Block
Finally Block
completed

Traceback (most recent call last):
  File "<ipython-input-44-94b29f0da21d>", line 4, in <module>
    print(string[10])
IndexError: string index out of range

In [45]:
try :
    print('Try Block')
    string = 'python'
#     print(string[10])
    
except:
    print(traceback.print_exc())
    print('Except Block')
    
else :
    print('Else Block')
    
finally:
    print('Finally Block')
    
print('completed')

Try Block
Else Block
Finally Block
completed

## raise

In [46]:
x = 10 
y = 20
if type(x)==int and type(y) == int:
    add = x+y
    print(f'addition of {x} and {y} is {add}')

addition of 10 and 20 is 30

In [49]:
x = '10' 
y = 20
if type(x)==int and type(y) == int:
    add = x+y
    print(f'addition of {x} and {y} is {add}')
    
else:
    raise TypeError(f'Either {x} or {y} is not an integer ')

TypeError: Either 10 or 20 is not an integer

In [50]:
x = '10' 
y = 20
if type(x)==int and type(y) == int:
    add = x+y
    print(f'addition of {x} and {y} is {add}')
    
else:
    raise IndexError(f'Either {x} or {y} is not an integer ')

IndexError: Either 10 or 20 is not an integer

In [53]:
model = []
if not model:
    raise FileNotFoundError('Random Forest model not found')

FileNotFoundError: Random Forest model not found

In [54]:
model = []
if not model:
    raise FileNotFoundError('Katappa')

FileNotFoundError: Katappa

In [58]:
try :
    print('Try')
    try:
        print('Nested TRy Block')
        
    except:
        print('Nested Except Block')
    
except:
    print('Except')

Try
Nested TRy Block

In [60]:
try :
    print('Try')
    print(o)
    try:
        print('Nested TRy Block')
        
    except:
        print('Nested Except Block')
    
except:
    print('Except')

Try
Except

In [61]:
try :
    print('Try')
    
    try:
        print('Nested TRy Block')
        print(o)
        
    except:
        print('Nested Except Block')
    
except:
    print('Except')

Try
Nested TRy Block
Nested Except Block