In [1]:
list1 = ['Sagar', 'Vaibhav', 'Akshay', 'Nilesh','Suraj']
list1[::-1]

['Suraj', 'Nilesh', 'Akshay', 'Vaibhav', 'Sagar']

In [2]:
list1.reverse()

In [3]:
list1

['Suraj', 'Nilesh', 'Akshay', 'Vaibhav', 'Sagar']

In [5]:
list(reversed(list1))

['Sagar', 'Vaibhav', 'Akshay', 'Nilesh', 'Suraj']

In [6]:
list1

['Suraj', 'Nilesh', 'Akshay', 'Vaibhav', 'Sagar']

In [7]:
list1 =['Aaditya','Niranjan','Abhipray','Divya','Shubhangini']
for i in range(len(list1)//2):
    var = list1[i]
    list1[i] = list1[len(list1)-1-i]
    list1[len(list1)-1-i]= var
print(list1)

['Shubhangini', 'Divya', 'Abhipray', 'Niranjan', 'Aaditya']

In [8]:
l1=['aniket','bhushan','sharad','diksha','ayaz']
a=len(l1)
l2=[]
for i in range(a-1,-1,-1):
    l2.append(l1[i])
print(l2)

['ayaz', 'diksha', 'sharad', 'bhushan', 'aniket']

In [12]:
list1=["Swapnil","Prathamesh","Shumaila","Bhagyashree","Tukaram"]
for i in range(len(list1),0,-1):
    print(i)

5
4
3
2
1

In [14]:
list1 = ["Mansingh", "Piyush", "Nikita", "Pankaj", "Rupesh"]
list2 = []
n = len(list1)
for i in range(0, n):
    list2.append(list1[n-1])
    n -= 1
print(list2)

['Rupesh', 'Pankaj', 'Nikita', 'Piyush', 'Mansingh']

In [17]:
list1 = ["Mansingh", "Piyush", "Nikita", "Pankaj", "Rupesh"]

list2 = []
a = -1
for i in range(len(list1)):
    list2.append(list1[a])
    a-=1
    
print(list2)

['Rupesh', 'Pankaj', 'Nikita', 'Piyush', 'Mansingh']

# Set

In [ ]:
1. Mutable
2. Unordered
3. Duplicates are not allowed
4. Sets are enclosed by {}
5. To initiliaze set >> set()

In [18]:
s1 = {}
type(s1)

dict

In [19]:
s1 = set()
type(s1)

set

In [20]:
list1 = [1,5,4,8,6]
s1 = set(list1)
s1

{1, 4, 5, 6, 8}

In [21]:
s1 = {1, 4, 5, 6, 8}
s1[2]

TypeError: 'set' object is not subscriptable

# Set Functions

## 1. add()

In [ ]:
Used to add one item in set
Item will get added at random index

In [22]:
s1 = {10,5,4,9,2,4}
s1.add(50)
s1

{2, 4, 5, 9, 10, 50}

## 2. update()

In [ ]:
Used to join two sets

In [23]:
s1 = {10,20,30}
s2 = {100,200,300}

s1.update(s2)
s1

{10, 20, 30, 100, 200, 300}

In [24]:
s1 = {'a', 'b', 10,20,4,5}
s2 = {'python',' data','science', 30,40,7,8,9}
s1.update(s2)

print('set1 :', s1, len(s1))
print('set2 :', s2, len(s2))

set1 : {'a', 4, 5, 'science', 7, 40, 8, 10, 9, 'b', ' data', 20, 30, 'python'} 14
set2 : {'python', 7, 40, 8, 9, ' data', 30, 'science'} 8

In [25]:
s1 = {'a', 'b', 10,20,4,5}
s2 = {'python',' data','science', 30,40,7,8,9}
s2.update(s1)

print('set1 :', s1, len(s1))
print('set2 :', s2, len(s2))

set1 : {'a', 4, 5, 10, 'b', 20} 6
set2 : {'a', 4, 'python', 5, 7, 40, 8, 9, ' data', 10, 'b', 20, 30, 'science'} 14

In [26]:
var1 = {2,3,4,5} #set
var2 = [5,6,7,8] #list

var1.update(var2)
print('var1 :', var1)
print('var2 :', var2)

var1 : {2, 3, 4, 5, 6, 7, 8}
var2 : [5, 6, 7, 8]

In [27]:
var1 = {2,3,4,5} #set
var2 = (5,6,7,8) #tuple

var1.update(var2)
print('var1 :', var1)
print('var2 :', var2)

var1 : {2, 3, 4, 5, 6, 7, 8}
var2 : (5, 6, 7, 8)

In [28]:
var1 = {2,3,4,5} #set
var2 = (5,6,7,8) #tuple

var2.update(var1)
print('var1 :', var1)
print('var2 :', var2)

AttributeError: 'tuple' object has no attribute 'update'

In [29]:
var1 = {2,3,4,5} #set
var2 = [5,6,7,8] #list

var2.update(var1)
print('var1 :', var1)
print('var2 :', var2)

AttributeError: 'list' object has no attribute 'update'

## 3. union()

In [31]:
s1 = {2,3,4,5,6}
s2 = {4,5,6,7,8,9}

s1.union(s2)

print(s1)

{2, 3, 4, 5, 6}

In [32]:
s1 = {2,3,4,5,6}
s2 = {4,5,6,7,8,9}

s3 = s1.union(s2)

print('s1 :', s1)
print('s2 :', s2)
print('s3 :', s3)

s1 : {2, 3, 4, 5, 6}
s2 : {4, 5, 6, 7, 8, 9}
s3 : {2, 3, 4, 5, 6, 7, 8, 9}

In [33]:
s1 = {2,3,4,5,6}
s2 = {4,5,6,7,8,9}
s3 = {10,20,30,40,50}

s4 = s1.union(s2,s3)

print('s1 :', s1)
print('s2 :', s2)
print('s3 :', s3)
print('s4 :', s4)

s1 : {2, 3, 4, 5, 6}
s2 : {4, 5, 6, 7, 8, 9}
s3 : {40, 10, 50, 20, 30}
s4 : {2, 3, 4, 5, 6, 7, 8, 9, 40, 10, 50, 20, 30}

In [34]:
s1 = {2,3,4,5,6}
s2 = {4,5,6,7,8,9}
s3 = {10,20,30,40,50}

s4 = s2.union(s1,s3)

print('s1 :', s1)
print('s2 :', s2)
print('s3 :', s3)
print('s4 :', s4)

s1 : {2, 3, 4, 5, 6}
s2 : {4, 5, 6, 7, 8, 9}
s3 : {40, 10, 50, 20, 30}
s4 : {2, 3, 4, 5, 6, 7, 8, 9, 40, 10, 50, 20, 30}

In [35]:
s1 = {2,3,4,5,6}
s2 = {4,5,6,7,8,9}
s3 = {10,20,30,40,50}

s4 = s2.union(s1,s2)

print('s1 :', s1)
print('s2 :', s2)
print('s3 :', s3)
print('s4 :', s4)

s1 : {2, 3, 4, 5, 6}
s2 : {4, 5, 6, 7, 8, 9}
s3 : {40, 10, 50, 20, 30}
s4 : {2, 3, 4, 5, 6, 7, 8, 9}

In [36]:
s1 = {2,3,4,5,6}
s2 = [4,5,6,7,8,9]
s3 = (10,20,30,40,50)

s4 = s1.union(s2,s3)

print('s1 :', s1)
print('s2 :', s2)
print('s3 :', s3)
print('s4 :', s4)

s1 : {2, 3, 4, 5, 6}
s2 : [4, 5, 6, 7, 8, 9]
s3 : (10, 20, 30, 40, 50)
s4 : {2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50}

In [37]:
s1 = {2,3,4,5,6}
s2 = [4,5,6,7,8,9]
s3 = (10,20,30,40,50)

s4 = s2.union(s1,s3)

print('s1 :', s1)
print('s2 :', s2)
print('s3 :', s3)
print('s4 :', s4)

AttributeError: 'list' object has no attribute 'union'

In [38]:
s1 = {2,3,4,5,6}
s2 = [4,5,6,7,8,9]
s3 = (10,20,30,40,50)

s4 = s3.union(s1,s2)

print('s1 :', s1)
print('s2 :', s2)
print('s3 :', s3)
print('s4 :', s4)

AttributeError: 'tuple' object has no attribute 'union'

# Delete items from set

In [ ]:
1. remove()
2. discard()
3. pop()
4. clear()

## 1. remove()

In [ ]:
set1.remove(item)

In [39]:
s1 = {'phy', 'che', 'math', 'eng', 'bio'}
s1.remove('che')
s1

{'bio', 'eng', 'math', 'phy'}

In [111]:
s1 = {'phy', 'che', 'math', 'eng', 'bio'}
s1.remove('che').remove('math')
s1

AttributeError: 'NoneType' object has no attribute 'remove'

In [40]:
s1 = {'phy', 'che', 'math', 'eng', 'bio'}
print(s1)
s1.remove('che')
s1

{'eng', 'phy', 'math', 'bio', 'che'}

{'bio', 'eng', 'math', 'phy'}

In [41]:
s1 = {'phy', 'che', 'math', 'eng', 'bio', 'che','math'}
print(s1)
s1.remove('che')
s1

{'eng', 'phy', 'math', 'bio', 'che'}

{'bio', 'eng', 'math', 'phy'}

In [43]:
s1 = {10,20,50,10,20,30,40}
s1.remove(50)
s1

{10, 20, 30, 40}

In [44]:
s1 = {'phy', 'che', 'math', 'eng', 'bio', 'che','math'}
print(s1)
s1.remove('Che')
s1

{'eng', 'phy', 'math', 'bio', 'che'}

KeyError: 'Che'

In [46]:
s1 = {'phy', 'che', 'math', 'eng', 'bio', 'che','math'}
sub = 'Che'
if sub in s1:
    s1.remove(sub())
    print('Item Deleted')

else:
    print('Item not found')
    
s1

Item not found

{'bio', 'che', 'eng', 'math', 'phy'}

In [48]:
s1 = {'phy', 'che', 'math', 'eng', 'bio', 'che','math'}
sub = 'che'
if sub in s1:
    s1.remove(sub)
    print('Item Deleted')

else:
    print('Item not found')
    
s1

Item Deleted

{'bio', 'eng', 'math', 'phy'}

## 2. discard()

In [49]:
s1 = {'phy', 'che', 'math', 'eng', 'bio'}
s1.discard('che')
s1

{'bio', 'eng', 'math', 'phy'}

In [50]:
s1 = {'phy', 'che', 'math', 'eng', 'bio'}
s1.discard('Che')
s1

{'bio', 'che', 'eng', 'math', 'phy'}

In [51]:
s1 = {'phy', 'che', 'math', 'eng', 'bio'}
s1.remove('Che')
s1

KeyError: 'Che'

In [52]:
s1 = {'phy', 'che', 'math', 'eng', 'bio'}
s1.discard('Che')
s1

{'bio', 'che', 'eng', 'math', 'phy'}

In [110]:
s1 = {'phy', 'che', 'math', 'eng', 'bio'}
s1.discard(['che','math'])
s1

TypeError: unhashable type: 'list'

In [53]:
s1 = {10,20,50,10,20,30,40}
s1.remove(500)
s1

KeyError: 500

In [54]:
s1 = {10,20,50,10,20,30,40}
s1.discard(500)
s1

{10, 20, 30, 40, 50}

In [55]:
s1 = {10,20,50,10,20,30,40}
s1.discard(50)
s1

{10, 20, 30, 40}

## 3. pop()

In [ ]:
It wil delete random item from set

In [56]:
list1 = [3,4,5,6,7,8]
list1.pop()
list1

[3, 4, 5, 6, 7]

In [57]:
list1 = [3,4,5,6,7,8]
list1.pop(2)
list1

[3, 4, 6, 7, 8]

In [58]:
s1 = {2,3,4,5}
s1.pop(2)
s1

TypeError: pop() takes no arguments (1 given)

In [59]:
s1 = {2,3,4,5}
s1.pop()
s1

{3, 4, 5}

In [60]:
s1 = {2,3,99,5.9,10,4,5}
s1.pop()
s1

{3, 4, 5, 5.9, 10, 99}

## 4. clear()

In [ ]:
Used to remove all the items from the set
return >> set()

In [61]:
s1 = {2,3,99,5.9,10,4,5}
s1.clear()
s1

set()

## 5. del

In [62]:
l1 = [1,2,3,4,5]
del l1[0]
l1

[2, 3, 4, 5]

In [63]:
s1 = {1,23,4,5,6}
del s1[0]
s1

TypeError: 'set' object doesn't support item deletion

In [64]:
s1 = {1,23,4,5,6}
del s1
s1

NameError: name 's1' is not defined

In [67]:
s1 = {1,23,4,5,6}

del s1

In [68]:
s1

NameError: name 's1' is not defined

## Other set Functions

## 1. intersection

In [69]:
s1 = {2,3,4,5,6}
s2 = {5,6,7,8,9}

s3 = set()

for i in s1:
    if i in s2:
        s3.add(i)
        
print(s3)

{5, 6}

In [72]:
s1 = {2,3,4,5,6}
s2 = {5,6,7,8,9}

s1.intersection(s2)

{5, 6}

In [1]:
s1 = {2,3,4,5,6}
s2 = {5,6,7,8,9}

s1.intersection(s2)

s1

{2, 3, 4, 5, 6}

In [74]:
s1 = {2,3,4,5,6}
s2 = {5,6,7,8,9}

s3 = s1.intersection(s2)

s3

{5, 6}

In [75]:
s1 = {'phy', 'che', 'math', 'eng', 'bio'}
s2 = {'math', 'data', 'eng', 'science'}

s3 = s1.intersection(s2)
s3

{'eng', 'math'}

In [76]:
s1 = {'phy', 'che', 'math', 'eng', 'bio'}
s2 = {'math', 'data', 'eng', 'science'}

s3 = s2.intersection(s1)
s3

{'eng', 'math'}

In [77]:
s1 = {'phy', 'che', 'math', 'eng', 'bio'}
s2 = ['math', 'data', 'eng', 'science']

s3 = s2.intersection(s1)
s3

AttributeError: 'list' object has no attribute 'intersection'

In [78]:
s1 = {'phy', 'che', 'math', 'eng', 'bio'}
s2 = ['math', 'data', 'eng', 'science']

s3 = s1.intersection(s2)
s3

{'eng', 'math'}

In [79]:
list1 = [1,2,3,4,5]
list2 = [4,5,3,8,9]

result = list1.intersection(list2)
result

AttributeError: 'list' object has no attribute 'intersection'

In [80]:
list1 = [1,2,3,4,5]
list2 = [4,5,3,8,9]

set1 = set(list1)
result = set1.intersection(list2)
result

{3, 4, 5}

## 2. intersection_update()

In [84]:
s1 = {2,3,4,5,6}
s2 = {5,6,7,8,9}

s1.intersection_update(s2)

s1

{5, 6}

In [86]:
s1 = {2,3,4,5,6}
s2 = {5,6,7,8,9}
s3 = {6,10,20}

s2.intersection_update(s1,s3)
print('s1:', s1)
print('s2:',s2)
print('s3:',s3)

s1: {2, 3, 4, 5, 6}
s2: {6}
s3: {10, 20, 6}

In [88]:
s1 = {2,3,4,5,6}
s2 = {5,6,7,8,9}
s3 = {6,10,20}

s2.intersection(s1,s3)
print('s1:', s1)
print('s2:',s2)
print('s3:',s3)

s1: {2, 3, 4, 5, 6}
s2: {5, 6, 7, 8, 9}
s3: {10, 20, 6}

In [90]:
s1 = {2,3,4,5,6}
s2 = {5,6,7,8,9}
s3 = {6,10,20}

s4 = s2.intersection(s1,s3)
print('s1:', s1)
print('s2:',s2)
print('s3:',s3)
print('s4:',s4)

s1: {2, 3, 4, 5, 6}
s2: {5, 6, 7, 8, 9}
s3: {10, 20, 6}
s4: {6}

In [91]:
s1 = {2,3,4,5,6,3,4,5}
s2 = {5,6,7,8,9,4}
s3 = {6,10,20,5,4}

s2.intersection_update(s1,s3)
print('s1:', s1)
print('s2:',s2)
print('s3:',s3)

s1: {2, 3, 4, 5, 6}
s2: {4, 5, 6}
s3: {4, 5, 6, 10, 20}

## 3. difference()

In [ ]:
Unique items from set

In [92]:
s1 = {2,3,4,5,6,3,4,5}
s2 = {5,6,7,8,9,4}
s1.difference(s2)

{2, 3}

In [93]:
s1 = {2,3,4,5,6,3,4,5}
s2 = {5,6,7,8,9,4}
s2.difference(s1)

{7, 8, 9}

In [94]:
city1 = {'pune', 'mumbai','nashik', 'satara'}
city2 = {'Delhi', 'pune', 'chennai', 'nashik'}

city1.difference(city2)

{'mumbai', 'satara'}

In [95]:
city1 = {'pune', 'mumbai','nashik', 'satara'}
city2 = {'Delhi', 'pune', 'chennai', 'nashik'}

city2.difference(city1)

{'Delhi', 'chennai'}

In [96]:
city1 = {'pune', 'mumbai','nashik', 'satara'}
city2 = {'Delhi', 'pune', 'chennai', 'nashik'}

city2.difference(city1)

city2

{'Delhi', 'chennai', 'nashik', 'pune'}

In [97]:
city1 = {'pune', 'mumbai','nashik', 'satara'}
city2 = {'Delhi', 'pune', 'chennai', 'nashik'}

city3 = city2.difference(city1)

city3

{'Delhi', 'chennai'}

## difference_update()

In [98]:
city1 = {'pune', 'mumbai','nashik', 'satara'}
city2 = {'Delhi', 'pune', 'chennai', 'nashik'}

city2.difference_update(city1)

print(city1)
print(city2)

{'satara', 'nashik', 'mumbai', 'pune'}
{'Delhi', 'chennai'}

In [99]:
city1 = {'pune', 'mumbai','nashik', 'satara'}
city2 = {'Delhi', 'pune', 'chennai', 'nashik'}

city1.difference_update(city2)

print(city1)
print(city2)

{'satara', 'mumbai'}
{'Delhi', 'chennai', 'nashik', 'pune'}

## symmetric_difference()

In [100]:
city1 = {'pune', 'mumbai','nashik', 'satara'}
city2 = {'Delhi', 'pune', 'chennai', 'nashik'}

city1.symmetric_difference(city2)

{'Delhi', 'chennai', 'mumbai', 'satara'}

In [101]:
city1 = {'pune', 'mumbai','nashik', 'satara'}
city2 = {'Delhi', 'pune', 'chennai', 'nashik'}

city1.symmetric_difference(city2)

city1

{'mumbai', 'nashik', 'pune', 'satara'}

In [102]:
s1 = {2,3,4,5,6}
s2 = {4,5,8,9,10,2}
s1.symmetric_difference(s2)

{3, 6, 8, 9, 10}

In [103]:
s1

{2, 3, 4, 5, 6}

In [104]:
s1 = {2,3,4,5,6}
s2 = {4,5,8,9,10,2}
s3 = s1.symmetric_difference(s2)
s3

{3, 6, 8, 9, 10}

## symmetric_difference_update

In [105]:
s1 = {2,3,4,5,6}
s2 = {4,5,8,9,10,2}

s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{3, 6, 8, 9, 10}
{2, 4, 5, 8, 9, 10}

In [106]:
s1 = {2,3,4,5,6}
s2 = {4,5,8,9,10,2}
inter = s1.intersection(s2)
s1.symmetric_difference_update(s2)
print(inter)
print(s1)
print(s2)

{2, 4, 5}
{3, 6, 8, 9, 10}
{2, 4, 5, 8, 9, 10}

In [107]:
list1 = [1,2,3,4,5,6]
del list1[1:4]
list1

[1, 5, 6]