# Set

In [ ]:
String >> Ordered , Immutable, Duplicates are allowed     , ''|"" |''''''
list   >> Ordered, Mutable, Duplicates are allowed ,         []
tuple  >> Ordered, Immutable, Duplicates are allowed,        ()

set    >> Unordered, Mutable, Duplicates are not allowed,    {},set()

In [ ]:
a= 'aaaa'

In [1]:
var1 = [1,2,3,4]
type(var1)

list

In [2]:
var2 = 'python'
type(var2)

str

In [3]:
var2 = ('python')
type(var2)

str

In [4]:
var2 = ('python',)
type(var2)

tuple

In [5]:
var2 = 1,2,3,4,5
type(var2)

tuple

In [6]:
var2 = {1,2,3,4,5}
type(var2)

set

In [9]:
var1 = []
var2 = ''
var3 = ()

print(type(var1))
print(type(var2))
print(type(var3))

<class 'list'>
<class 'str'>
<class 'tuple'>

In [1]:
var1 = list()
var2 = str()
var3 = tuple()

print(type(var1))
print(type(var2))
print(type(var3))

<class 'list'>
<class 'str'>
<class 'tuple'>

In [11]:
var4 = {}
type(var4)

dict

In [12]:
var5 =set()
type(var5)

set

In [13]:
list1 = [4,5, 1,'python', 1,5,'Data',1,5.5]
list1

[4, 5, 1, 'python', 1, 5, 'Data', 1, 5.5]

In [14]:
tuple1 = (4,5, 1,'python', 1,5,'Data',1,5.5)
tuple1

(4, 5, 1, 'python', 1, 5, 'Data', 1, 5.5)

In [15]:
set1 = {4,5, 1,'python', 1,5,'Data',1,5.5}
set1

{1, 4, 5, 5.5, 'Data', 'python'}

In [18]:
set1 = {2,3,1,1,20,1,4,3,5,'Pune','pune'}
set1

{1, 2, 20, 3, 4, 5, 'Pune', 'pune'}

In [19]:
set1

{1, 2, 20, 3, 4, 5, 'Pune', 'pune'}

In [21]:
list1 = [2,3,2,3,2,4,5,6,4,5,6,3]
s1 = set(list1)
print(s1, len(s1))

list2 = list(s1)
list2

{2, 3, 4, 5, 6} 5

[2, 3, 4, 5, 6]

In [22]:
list1 = [2,3,2,3,2,4,5,6,4,5,6,3]

list(set(list1))

[2, 3, 4, 5, 6]

In [6]:
tuple1 = (2,3,4,2,3,4,56,2,1,3)
tuple(set(tuple1))

(1, 2, 3, 4, 56)

In [3]:
list1 = [2,3,2,3,2,4,5,6,4,5,6,3]
tuple(list1)

(2, 3, 2, 3, 2, 4, 5, 6, 4, 5, 6, 3)

In [ ]:
tuple >> list
list >> tuple
tuple >> set
set >> tuple
list >> set
set >> list

## How to access set items

In [ ]:
We can not use indexing in set datatype

In [11]:
s1 = {5,4,6,7,8,1}
print(s1)

{1, 4, 5, 6, 7, 8}

In [27]:
s1 = {5,4,6,7,8,1}
s1[0]

TypeError: 'set' object is not subscriptable

In [28]:
s1[2:6]

TypeError: 'set' object is not subscriptable

In [12]:
s1 = {5,4,6,7,8,1}
print(s1)

for i in s1:
    print(i)

{1, 4, 5, 6, 7, 8}
1
4
5
6
7
8

In [13]:
s1 = {5,4.54,'Python',6,7,8,1}
print(s1)

for i in s1:
    print(i)

{1, 4.54, 5, 6, 7, 8, 'Python'}
1
4.54
5
6
7
8
Python

In [31]:
city_names = {'Pune', 'Mumbai', 'Pune', 'Delhi'}
city_names

{'Delhi', 'Mumbai', 'Pune'}

In [32]:
city_names = {'Pune', 'Mumbai', 'pune', 'Delhi'}
city_names

{'Delhi', 'Mumbai', 'Pune', 'pune'}

In [33]:
list1 = [3,4,5,6,7]
list2 = [5,6,1,2,10]

for i in list1:
    if i in list2:
        print(i)

5
6

In [34]:
list1 = [3,4,5,6,7]
list2 = [5,6,1,2,10]
list3 = []

for i in list1:
    if i in list2:
        list3.append(i)
        
list3

[5, 6]

In [35]:
list1 = [3,4,5,6,7]
list2 = [5,6,1,2,10]
list3 = []

for i in list1:
    if i not in list2:
        list3.append(i)
        
list3

[3, 4, 7]

In [36]:
list1 = [3,4,5,6,7]
list2 = [5,6,1,2,10]
list3 = []

for i in list2:
    if i not in list1:
        list3.append(i)
        
list3

[1, 2, 10]

In [37]:
a = {1,2,{2,3,4},5}
a

TypeError: unhashable type: 'set'

# Set Functions

## 1. add()

In [ ]:
used to add 1 item in set

In [38]:
s1 = {3,4,5,6,7,8}
s1.append(500)
s1

AttributeError: 'set' object has no attribute 'append'

In [39]:
s1 = {3,4,5,6,7,8}
s1.add(500)
s1

{3, 4, 5, 6, 7, 8, 500}

In [40]:
s1 = {3,4,5,6,7,8}
s1.add('python')
s1

{3, 4, 5, 6, 7, 8, 'python'}

In [41]:
s1.add('Data')
s1

{3, 4, 5, 6, 7, 8, 'Data', 'python'}

In [42]:
s1 = {3,4,5,'a',6,7,8}
s1.add('a')
s1

{3, 4, 5, 6, 7, 8, 'a'}

In [43]:
s1 = {3,4,5,'a',6,7,8}
s1.add('A')
s1

{3, 4, 5, 6, 7, 8, 'A', 'a'}