# While Loop

In [ ]:
while condition: # True
    statement1
    statement2

In [1]:
for i in 'Science':
    print(i)

S
c
i
e
n
c
e

In [2]:
str1 = 'Science'
for i in range(len(str1)):
    print(i)

0
1
2
3
4
5
6

In [3]:
str1 = 'Science'
for i in range(len(str1)):
    print(str1[i])

S
c
i
e
n
c
e

In [4]:
for i in range(5):
    print('We are learning Python')

We are learning Python
We are learning Python
We are learning Python
We are learning Python
We are learning Python

In [ ]:
i = 0
while i < 5:
    print('We are learning Python')

In [5]:
i = 0
while i < 5:
    print('We are learning Python')
    i += 1

We are learning Python
We are learning Python
We are learning Python
We are learning Python
We are learning Python

In [7]:
i = 0
while i < 5:
    print('We are learning Python')
    i += 1
    print("hello")

We are learning Python
hello
We are learning Python
hello
We are learning Python
hello
We are learning Python
hello
We are learning Python
hello

In [8]:
i = 0
while i < 5:
    print('We are learning Python')
    i += 1
print("hello")

We are learning Python
We are learning Python
We are learning Python
We are learning Python
We are learning Python
hello

In [ ]:
string = 'Python'
i = 0
while i < len(string):   # 0 - 6 
    print('Char is:', string[i])

In [10]:
string = 'Python'
i = 0
while i < len(string):   # 0 - 6 
    print('Char is:', string[i])
    i +=1

Char is: P
Char is: y
Char is: t
Char is: h
Char is: o
Char is: n

In [11]:
string = 'Python'
i = 0
while i < len(string):   # 0 - 6 
    print('Char is:', string[i])
    i += 2

Char is: P
Char is: t
Char is: o

In [12]:
string = 'Python'
i = 0
while i < len(string):   # 0 - 6 
    print(f'Char at index {i} is {string[i]}')
    i += 1

Char at index 0 is P
Char at index 1 is y
Char at index 2 is t
Char at index 3 is h
Char at index 4 is o
Char at index 5 is n

In [ ]:
string = 'Python'
i = 0
while i < len(string):   # 0 - 6 
    print(f'Char at index {i} is {string[i]}')

In [14]:
list1 = [2,3,4,5,6,7,8]
i = 0
while i < len(list1):   # 0 - 7
    print(f'Char at index {i} is {list1[i]}')
    i += 1

Char at index 0 is 2
Char at index 1 is 3
Char at index 2 is 4
Char at index 3 is 5
Char at index 4 is 6
Char at index 5 is 7
Char at index 6 is 8

In [15]:
for x in (1,2,3,4):
    print(x)

1
2
3
4

In [16]:
tuple1 = (2,3,4,5,6,7,8)
i = 0
while i < len(tuple1):   # 0 - 7
    print(f'Char at index {i} is {tuple1[i]}')
    i += 1

Char at index 0 is 2
Char at index 1 is 3
Char at index 2 is 4
Char at index 3 is 5
Char at index 4 is 6
Char at index 5 is 7
Char at index 6 is 8

## Addition of first 10 numbers

In [17]:
n = 10
i = 1
sum1 = 0
while i <= n:
    sum1 +=i
    print(f'Addition of first {i} numbers is {sum1}')
    i+=1

Addition of first 1 numbers is 1
Addition of first 2 numbers is 3
Addition of first 3 numbers is 6
Addition of first 4 numbers is 10
Addition of first 5 numbers is 15
Addition of first 6 numbers is 21
Addition of first 7 numbers is 28
Addition of first 8 numbers is 36
Addition of first 9 numbers is 45
Addition of first 10 numbers is 55

In [18]:
n = 10
i = 1
sum1 = 1
while i <= n:
    sum1 +=i
    print(f'Addition of first {i} numbers is {sum1}')
    i+=1

Addition of first 1 numbers is 2
Addition of first 2 numbers is 4
Addition of first 3 numbers is 7
Addition of first 4 numbers is 11
Addition of first 5 numbers is 16
Addition of first 6 numbers is 22
Addition of first 7 numbers is 29
Addition of first 8 numbers is 37
Addition of first 9 numbers is 46
Addition of first 10 numbers is 56

In [19]:
i = 1
sum1 = 0
while i <= 10:
    sum1 +=i
    print(f'Addition of first {i} numbers is {sum1}')
    i+=1

Addition of first 1 numbers is 1
Addition of first 2 numbers is 3
Addition of first 3 numbers is 6
Addition of first 4 numbers is 10
Addition of first 5 numbers is 15
Addition of first 6 numbers is 21
Addition of first 7 numbers is 28
Addition of first 8 numbers is 36
Addition of first 9 numbers is 45
Addition of first 10 numbers is 55

In [20]:
n =10
i = 1
sum1 = 0
while i <= n:
    sum1 +=i
    
    i+=1
    
print(f'Addition of first {n} numbers is {sum1}')

Addition of first 10 numbers is 55

In [21]:
n =10
i = 1
mul1 = 1
while i <= n:
    mul1 *=i
    
    i+=1
    
print(f'Multiplication of first {n} numbers is {mul1}')

Multiplication of first 10 numbers is 3628800

In [22]:
n = 5
i = 1
mul1 = 1
while i <= n:
    mul1 *=i
    
    i+=1
    
print(f'Multiplication of first {n} numbers is {mul1}')

Multiplication of first 5 numbers is 120

In [23]:
n = 5
i = 1
mul1 = 1
while i <= n:
    mul1 *=i
    print(f'Multiplication of first {i} numbers is {mul1}')
    i+=1

Multiplication of first 1 numbers is 1
Multiplication of first 2 numbers is 2
Multiplication of first 3 numbers is 6
Multiplication of first 4 numbers is 24
Multiplication of first 5 numbers is 120

In [24]:
num = 15
i = 1
mul = 1

while i <= 10:
    mul = num * i
    
    print(f'{num} * {i} == {mul}')
    
    i +=1

15 * 1 == 15
15 * 2 == 30
15 * 3 == 45
15 * 4 == 60
15 * 5 == 75
15 * 6 == 90
15 * 7 == 105
15 * 8 == 120
15 * 9 == 135
15 * 10 == 150

## Loop control Statements

In [25]:
1. break
2. continue
3. pass

SyntaxError: invalid syntax (<ipython-input-25-19256efcccee>, line 1)

## 1. break

In [26]:
i = 0
while i <10 :
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

In [27]:
i = 0
while i <10 :
    print(i)
    i+=1
    if i == 5:
        print('Number is 5')

0
1
2
3
4
Number is 5
5
6
7
8
9

In [28]:
i = 0
while i <10 :
    print(i)
    i+=1
    if i == 5:
        print('Number is 5')
        break

0
1
2
3
4
Number is 5

## continue

In [29]:
i = 0
while i <10 :
    print(i)
    i+=1
    if i == 5:
        print('Number is 5')
        continue

0
1
2
3
4
Number is 5
5
6
7
8
9

In [30]:
i = 0
while i <10 :
    print(i)
    i+=1
    if i == 5:
        continue
        print('Number is 5')

0
1
2
3
4
5
6
7
8
9

In [ ]:
i = 0
while i <10 :
    if i == 5:
        print('Number is 5')
        continue
    print(i)
    i+=1

In [ ]:
i = 0
while i <10 :
    print(i)
    if i == 5:
        print('Number is 5')
        break
    i+=1

In [ ]:
i = 0
while i <10 :
    print(i)
    if i == 5:
        print('Number is 5')
        break
    i+=1
    print('*****************')

In [ ]:
i = 0
while i <10 :
    print(i)
    i+=1
    if i == 5:
        print('Number is 5')
        continue
    
    print('*****************')

In [ ]:
i = 0
while i <10 :
    
    i+=1
    print(i)
    if i == 5:
        print('Number is 5')
        continue
    
    print('*****************')

## Factorial

In [ ]:
fact =1
n = 5
i = n
while i >=1:
    fact = fact *i
    i-=1
    print(f'Factorial of {n} is {fact}')

In [ ]:
fact =1
n = 5
i = n
while i >=1:
    fact = fact *i
    i-=1
print(f'Factorial of {n} is {fact}')

# While else

In [1]:
for i in range(5):
    print(i)  
else :
    print('Loop Executed')

0
1
2
3
4
Loop Executed

In [ ]:
for i in range(5):
    print(i)
    if i == 2:
        break
    
else :
    print('Loop Executed')

In [ ]:
i = 0
while i <= 5:
    print(i)
    i +=1

In [ ]:
i = 0
while i < 5:
    print(i)
    i +=1
    
else:
    print('While loop Executed')

In [ ]:
i = 0
while i < 5:
    print(i)
    i +=1
    if i == 2:
        print('Number is 2')
        break
else:
    print('While loop Executed')

In [ ]:
i = 0
while i < 5:
    print(i)
    
    if i == 2:
        print('Number is 2')
        break
        
    i +=1
    
else:
    print('While loop Executed')

In [ ]:
string = 'Python'
i = 0

while i < len(string):
    print(i)
    print('Char is :', string[i])
    i+=1
    
else:
    print('Loop Executed')

In [ ]:
string = 'Python'
i = 0

while i < len(string):
    print(i)
    print('Char is :', string[i])
    if string[i] == 'h':
        print('hello')
        break
    
    i+=1
    
else:
    print('Loop Executed')

In [ ]:
i  = 0
while i < 5:
    print('Number is :',i)
    j=0
    while j <5:
        print('hello')
        j+=1
    i+=1

In [ ]:
i = 0
while i < 5:
    j =0
    while j<5:
        print('*',end = ' ')
        j+=1
    i+=1
    print()

In [ ]:
i =1
n =5

while i <= n :
    j = 0
    while j < i:
        print('*',end = ' ')
        j+=1
    i+=1
    print()

In [ ]:
i =1
n =5

while i < n+1 :
    j = 0
    while j < i:
        print('*',end = ' ')
        j+=1
    i+=1
    print()

In [ ]:
i =1
n =5

while i < n+1 :
    j = 0
    while j < i:
        print('A',end = ' ')
        j+=1
    i+=1
    print()

In [ ]:
i =1
n =5
x =65
while i < n+1 :
    j = 0
    while j < i:
        print(chr(x),end = ' ')
        j+=1
    i+=1
    print()

In [ ]:
i =1
n =5
x =65
while i < n+1 :
    j = 0
    while j < i:
        print(chr(x),end = ' ')
        j+=1
        x+=1
    i+=1
    print()

In [ ]:
i =1
n =5
x =65
while i < n+1 :
    j = 0
    while j < i:
        print(chr(x),end = ' ')
        j+=1
    x+=1
    i+=1
    print()

In [ ]:
n = 10

a = 0
for i in range(n,0,-1):
    print('*'*i,end =" ")
    print(" "*(n-i+a) + "*"*i)
    a +=1
    

for i in range (1,n+1,1):
    print('*'*i, end =" ")
    print(" "*(n-i+a) + "*"*i)
    a -=1

In [ ]:
for i in range(5):
    print('i==',i)
    for j in range(2):  # 0,1
        print('hii')

In [ ]:
for i in range(1,5):
    print('i==',i)
    for j in range(i):  # 0
        print('hii',end = ' ')
        
    print()

In [ ]:
 i =2
    
    range(2)>> 0, 1