## List

In [ ]:
It is collection of items
It is used to store sequences of various data types
items >> int, float, str, complex, list, tuple, set, dict, numpy array

## List Properties

In [ ]:
1. List is mutable (changable >> update, add, delete)
2. Ordered Data type
3. Duplicates items are allowed
4. Enclosed by []
5. List items are comma seperated

In [2]:
a = [1,23,4,5,5,4]
a

[1, 23, 4, 5, 5, 4]

In [3]:
list1 = [2,3,4]
list1

[2, 3, 4]

In [4]:
list2 = [1,2,3,1+2j,[1,23],(3,45),'Python',{'A':100}]
list2

[1, 2, 3, (1+2j), [1, 23], (3, 45), 'Python', {'A': 100}]

In [5]:
list3 = [2,3,4,6]
print(list3)

[2, 3, 4, 6]

In [9]:
t1 = 1,
type(t1)

tuple

In [10]:
list3 = ['abc',3,'p',4,6]
print(list3)

['abc', 3, 'p', 4, 6]

In [11]:
set3 = {'abc',3,'p',4,6}
print(set3)

{3, 'abc', 4, 'p', 6}

In [12]:
list4 = [10,20,20,30,30,40]
print(list4)

[10, 20, 20, 30, 30, 40]

In [13]:
set1 = {10,20,20,30,30,40}
print(set1)

{40, 10, 20, 30}

In [15]:
l1 = [1]
print(type(l1))

<class 'list'>

In [16]:
l2 = [] # list initialization
type(l2)

list

In [17]:
l3 = [23,65]
len(l3)

2

In [18]:
l3 = [23,65,'h',67,100]
len(l3)

5

In [20]:
str1 = 'python'
str1[2] = 'h'
str1

TypeError: 'str' object does not support item assignment

In [21]:
l1 = [1,2,3,4]
l1[1] = 100
l1

[1, 100, 3, 4]

## Indexing

In [28]:
list1 = [10,20,30,30,40,50]
list1[0]
list1[1]
list1[2]
list1[4]
list1[5]
list1[6]

IndexError: list index out of range

In [ ]:
list1 = [50, 40,  30, 10,  90]
         0    1   2   3    4
        -5   -4  -3  -2   -1

In [31]:
list1 = [50, 40,  30, 10,  90]

print('list1[1]:', list1[1])
print('list1[-1]:', list1[-1])

list1[1]: 40
list1[-1]: 90

## Slicing

In [ ]:
[start_index(include) : end_index(exclude) : step_size]

In [32]:
list1 = [60,80,30,'python', 40,50,'machine','learning']
list1[3]

'python'

In [33]:
list1[2:5]

[30, 'python', 40]

In [34]:
list1[5:6]

[50]

In [35]:
list1[5:7]

[50, 'machine']

In [36]:
list1[7:6]

[]

In [37]:
list1[:6]

[60, 80, 30, 'python', 40, 50]

In [38]:
list1[:]

[60, 80, 30, 'python', 40, 50, 'machine', 'learning']

In [40]:
list1[5:]

[50, 'machine', 'learning']

### Step Size

In [41]:
list1 = [60,80,30,'python', 40,50,'machine','learning']
list1[3]

'python'

In [43]:
list1[1:5:1]

[80, 30, 'python', 40]

In [44]:
list1[:5:1]

[60, 80, 30, 'python', 40]

In [45]:
list1[::1]

[60, 80, 30, 'python', 40, 50, 'machine', 'learning']

In [46]:
list1[1::2]

[80, 'python', 50, 'learning']

In [47]:
list1[::2]

[60, 30, 40, 'machine']

In [48]:
list1[::-1]

['learning', 'machine', 50, 40, 'python', 30, 80, 60]

In [49]:
list1[6:1:-1]

['machine', 50, 40, 'python', 30]

In [50]:
list1[1:6:-1]

[]

In [51]:
list1[1:6:1]

[80, 30, 'python', 40, 50]

## Access List items by using for loop

In [ ]:
for var in sequence:
    statement1
    statement2

In [55]:
sub_names = ['Eng', 'Math', 'Sci', 'Geo', 'Hist']

for sub in sub_names:
    print("Subject Name is :", sub)
    print('*'*60)

Subject Name is : Eng
************************************************************
Subject Name is : Math
************************************************************
Subject Name is : Sci
************************************************************
Subject Name is : Geo
************************************************************
Subject Name is : Hist
************************************************************

In [56]:
sub_names = ['Eng', 'Math', 'Sci', 'Geo', 'Hist']

for index,sub in enumerate(sub_names):
    print("Subject Name is :", sub)
    print('*'*60)

Subject Name is : Eng
************************************************************
Subject Name is : Math
************************************************************
Subject Name is : Sci
************************************************************
Subject Name is : Geo
************************************************************
Subject Name is : Hist
************************************************************

In [57]:
sub_names = ['Eng', 'Math', 'Sci', 'Geo', 'Hist']

for index,sub in enumerate(sub_names):
    print(f"Value at index {index} is {sub}")
    print('*'*60)

Value at index 0 is Eng
************************************************************
Value at index 1 is Math
************************************************************
Value at index 2 is Sci
************************************************************
Value at index 3 is Geo
************************************************************
Value at index 4 is Hist
************************************************************

In [58]:
sub_names = ['Eng', 'Math', 'Sci', 'Geo', 'Hist']

for i,sub in enumerate(sub_names):
    print(f"Value at index {i} is {sub}")
    print('*'*60)

Value at index 0 is Eng
************************************************************
Value at index 1 is Math
************************************************************
Value at index 2 is Sci
************************************************************
Value at index 3 is Geo
************************************************************
Value at index 4 is Hist
************************************************************

In [60]:
sub_names = ['Eng', 'Math', 'Sci', 'Geo', 'Hist']

count = 0
for sub in sub_names:
    print(f"Value at index {count} is {sub}")
    count+=1
    print('*'*60)

Value at index 0 is Eng
************************************************************
Value at index 1 is Math
************************************************************
Value at index 2 is Sci
************************************************************
Value at index 3 is Geo
************************************************************
Value at index 4 is Hist
************************************************************

In [61]:
count

5

In [62]:
sub_names = ['Eng', 'Math', 'Sci', 'Geo', 'Hist']

c = 0
for sub in sub_names:
    print(f"Value at index {c} is {sub}")
    c+=1
    print('*'*60)

Value at index 0 is Eng
************************************************************
Value at index 1 is Math
************************************************************
Value at index 2 is Sci
************************************************************
Value at index 3 is Geo
************************************************************
Value at index 4 is Hist
************************************************************

In [64]:
a = [1,2,3,4]

x = 0
for i in a:
    print(f'value at index {x} is {i}')
    x+=1  # x= x+1

value at index 0 is 1
value at index 1 is 2
value at index 2 is 3
value at index 3 is 4

## Range

In [ ]:
range(start_index, end_index, step_size)
default start_index >> 0

In [65]:
list(range(5))

[0, 1, 2, 3, 4]

In [66]:
range(5)

range(0, 5)

In [67]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [68]:
list(range(2,10,1))

[2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
list(range(2,10,2))

[2, 4, 6, 8]

In [70]:
list(range(20,2))

[]

In [71]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [72]:
a=list(range(1,20,2))
a

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [73]:
a[2:5]

[5, 7, 9]

In [75]:
list(range(,2))

SyntaxError: invalid syntax (<ipython-input-75-6d054fa11176>, line 1)

In [76]:
list(range(:2))

SyntaxError: invalid syntax (<ipython-input-76-95a3a9a83348>, line 1)

In [77]:
list(range(2,2))

[]

In [78]:
list(range(2,3))

[2]

In [80]:
for val in range(0,5):
    print('Val is :',val)
    print('*'*70)

Val is : 0
**********************************************************************
Val is : 1
**********************************************************************
Val is : 2
**********************************************************************
Val is : 3
**********************************************************************
Val is : 4
**********************************************************************

In [82]:
sub_names = ['Eng', 'Math', 'Sci', 'Geo', 'Hist']

length = len(sub_names)
print('Length of list is:',length)

for i in range(0, length):
    print('Val is :',i)

Length of list is: 5
Val is : 0
Val is : 1
Val is : 2
Val is : 3
Val is : 4

In [83]:
sub_names = ['Eng', 'Math', 'Sci', 'Geo', 'Hist']

length = len(sub_names)
print('Length of list is:',length)

for i in range(0, length):
    print('Val is :',i)
    print(sub_names[i])

Length of list is: 5
Val is : 0
Eng
Val is : 1
Math
Val is : 2
Sci
Val is : 3
Geo
Val is : 4
Hist

In [84]:
sub_names = ['Eng', 'Math', 'Sci', 'Geo', 'Hist']

length = len(sub_names)
print('Length of list is:',length)

for i in range(0, length):
    print('Val is :',i)
    print(sub_names[0])

Length of list is: 5
Val is : 0
Eng
Val is : 1
Eng
Val is : 2
Eng
Val is : 3
Eng
Val is : 4
Eng

In [85]:
sub_names = ['Eng', 'Math', 'Sci', 'Geo', 'Hist']

length = len(sub_names)
print('Length of list is:',length)

for i in range(0, length):
#     print('Val is :',i)
    print(sub_names[i])
    print('#'*70)

Length of list is: 5
Eng
######################################################################
Math
######################################################################
Sci
######################################################################
Geo
######################################################################
Hist
######################################################################

In [86]:
sub_names = ['Eng', 'Math', 'Sci', 'Geo', 'Hist']

length = len(sub_names)
print('Length of list is:',length)

for i in range(0, length):
#     print('Val is :',i)
    print(sub_names[i].upper())
    print('#'*70)

Length of list is: 5
ENG
######################################################################
MATH
######################################################################
SCI
######################################################################
GEO
######################################################################
HIST
######################################################################

In [94]:
student = ['sagar', 'akash','rahul']

length = len(student)
print('length of student list:',length)


for i in range(0,length):
    print(student[i].upper())

length of student list: 3
SAGAR
AKASH
RAHUL

In [88]:
range(1,5)

range(1, 5)

In [93]:
student[0]

'sagar'

In [98]:
sub_names = ['Eng', 'Math', 'Sci', 'Geo', 'Hist','phy','chem','bio']

for index,sub in enumerate(sub_names[2:6]):
    print(f"Value at index {index} is {sub}")
    print('*'*60)

Value at index 0 is Sci
************************************************************
Value at index 1 is Geo
************************************************************
Value at index 2 is Hist
************************************************************
Value at index 3 is phy
************************************************************

In [97]:
sub_names[2:6]

['Sci', 'Geo', 'Hist', 'phy']