# Dict

## copy()

In [3]:
sub_marks = {'phy':87, 'che':75, 'maths':80, 'eng':91, 'bio':88}
new_dict = sub_marks
new_dict['Hist'] = 81
print(sub_marks)
print(new_dict)

{'phy': 87, 'che': 75, 'maths': 80, 'eng': 91, 'bio': 88, 'Hist': 81}
{'phy': 87, 'che': 75, 'maths': 80, 'eng': 91, 'bio': 88, 'Hist': 81}

In [4]:
sub_marks = {'phy':87, 'che':75, 'maths':80, 'eng':91, 'bio':88}
new_dict = sub_marks.copy()
new_dict['Hist'] = 81
print(sub_marks)
print(new_dict)

{'phy': 87, 'che': 75, 'maths': 80, 'eng': 91, 'bio': 88}
{'phy': 87, 'che': 75, 'maths': 80, 'eng': 91, 'bio': 88, 'Hist': 81}

## Nested Dict

In [ ]:
dict inside dict

In [5]:
employee_details = { 'CD000123' : {'Name': 'Prashant',
                                  'Age': 28,
                                  'Company Name': 'Cognizant',
                                  'Location': 'Pune',
                                  'Designation': 'Data Scientist',
                                  'Salary': 70000 }}
len(employee_details)

1

In [7]:
employee_details = { 'CD000123' : {'Name': 'Prashant',
                                  'Age': 28,
                                  'Company Name': 'Cognizant',
                                  'Location': 'Pune',
                                  'Designation': 'Data Scientist',
                                  'Salary': 70000 }}
employee_details['CD000123']['Designation']

'Data Scientist'

In [8]:
employee_details = { 'CD000123' : {'Name': 'Prashant',
                                  'Age': 28,
                                  'Company Name': 'Cognizant',
                                  'Location': 'Pune',
                                  'Designation': 'Data Scientist',
                                  'Salary': 70000 },
                    'CD000124' : {'Name': 'Tushar',
                                  'Age': 26,
                                  'Company Name': 'Capgemini',
                                  'Location': 'Nagpur',
                                  'Designation': 'Data Analyst',
                                  'Salary': 60000 },
                    'CD000125' : {'Name': 'Shadab',
                                  'Age': 24,
                                  'Company Name': 'TCS',
                                  'Location': 'Mumbai',
                                  'Designation': 'ML Engineer',
                                  'Salary': 50000 }}
employee_details['CD000125']['Designation']

'ML Engineer'

In [9]:
employee_details = { 'CD000123' : {'Name': 'Prashant',
                                  'Age': 28,
                                  'Company Name': 'Cognizant',
                                  'Location': 'Pune',
                                  'Designation': 'Data Scientist',
                                  'Salary': 70000 },
                    'CD000124' : {'Name': 'Tushar',
                                  'Age': 26,
                                  'Company Name': 'Capgemini',
                                  'Location': 'Nagpur',
                                  'Designation': 'Data Analyst',
                                  'Salary': 60000 },
                    'CD000125' : {'Name': 'Shadab',
                                  'Age': 24,
                                  'Company Name': 'TCS',
                                  'Location': 'Mumbai',
                                  'Designation': 'ML Engineer',
                                  'Salary': 50000 }}
employee_details['CD000125'].get('Designation')

'ML Engineer'

In [11]:
employee_details = { 'CD000123' : {'Name': 'Prashant',
                                  'Age': 28,
                                  'Company Name': 'Cognizant',
                                  'Location': 'Pune',
                                  'Designation': 'Data Scientist',
                                  'Salary': 70000 },
                    'CD000124' : {'Name': 'Tushar',
                                  'Age': 26,
                                  'Company Name': 'Capgemini',
                                  'Location': 'Nagpur',
                                  'Designation': 'Data Analyst',
                                  'Salary': 60000 },
                    'CD000125' : {'Name': 'Shadab',
                                  'Age': 24,
                                  'Company Name': 'TCS',
                                  'Location': 'Mumbai',
                                  'Designation': 'ML Engineer',
                                  'Salary': 50000 }}
employee_details['CD000125']['Designation'][3]

'E'

In [13]:
employee_details = { 'CD000123' : {'Name': 'Prashant',
                                  'Age': 28,
                                  'Company Name': 'Cognizant',
                                  'Location': 'Pune',
                                  'Designation': 'Data Scientist',
                                  'Salary': 70000 },
                    'CD000124' : {'Name': 'Tushar',
                                  'Age': 26,
                                  'Company Name': 'Capgemini',
                                  'Location': 'Nagpur',
                                  'Designation': 'Data Analyst',
                                  'Salary': 60000 },
                    'CD000125' : {'Name': 'Shadab',
                                  'Age': 24,
                                  'Company Name': 'TCS',
                                  'Location': 'Mumbai',
                                  'Designation': 'ML Engineer',
                                  'Salary': [50000,55000,60000] }}
employee_details['CD000125']['Salary'][:2]

[50000, 55000]

## Sorting of dict by using keys

In [14]:
sub_marks = {'phy':87, 'che':75, 'maths':80, 'eng':91, 'bio':88}
sorted(sub_marks)

['bio', 'che', 'eng', 'maths', 'phy']

In [15]:
sub_marks = {'phy':87, 'che':75, 'maths':80, 'eng':91, 'bio':88}
sorted(sub_marks.keys())

['bio', 'che', 'eng', 'maths', 'phy']

In [16]:
sub_marks = {'phy':87, 'che':75, 'maths':80, 'eng':91, 'bio':88}
sorted(sub_marks.values())

[75, 80, 87, 88, 91]

In [17]:
sub_marks = {'phy':87, 'che':75, 'maths':80, 'eng':91, 'bio':88}
sorted(sub_marks.items())

[('bio', 88), ('che', 75), ('eng', 91), ('maths', 80), ('phy', 87)]

In [19]:
sub_marks = {'phy':87, 'che':75, 'maths':80, 'eng':91, 'bio':88}

result = {}
for i in sorted(sub_marks):
    result[i] = sub_marks[i]
    
result

{'bio': 88, 'che': 75, 'eng': 91, 'maths': 80, 'phy': 87}

## Sorting of dict using values

In [22]:
sub_marks = {'phy':87, 'che':75, 'maths':80, 'eng':91, 'bio':88}

result = {}
for i in sorted(sub_marks.values()): # i == marks
    for j in sub_marks:  # j == sub
        if  i == sub_marks[j]:
            result[j] = sub_marks[j]    # result['che'] = sub_marks['che']
            
result

{'che': 75, 'maths': 80, 'phy': 87, 'bio': 88, 'eng': 91}

In [23]:
sub_marks = {'phy':87, 'che':75, 'maths':80, 'eng':91, 'bio':88}

result = {}
for i in sorted(sub_marks.values()): # i == marks
    for j in sub_marks:  # j == sub
#         if  i == sub_marks[j]:
        result[j] = sub_marks[j]    # result['che'] = sub_marks['che']
            
result

{'phy': 87, 'che': 75, 'maths': 80, 'eng': 91, 'bio': 88}

In [29]:
ranks = {'Tushar': 5, 'Nilesh':1, 'Rajat':10,'Akanksha':3, 'Rajesh':8}
result = {}

for rank in sorted(ranks.values()):
    for name in ranks:
        if rank == ranks[name]:
            result[name] = ranks[name]
        
result

{'Nilesh': 1, 'Akanksha': 3, 'Tushar': 5, 'Rajesh': 8, 'Rajat': 10}

In [32]:
ranks = {'Tushar': 5, 'Nilesh':1, 'Rajat':10,'Akanksha':3, 'Rajesh':8}

if 'Rajat' in ranks:
    print('Key is present')
    
else:
    print('Key is not present')

Key is present

In [33]:
ranks = {'Tushar': 5, 'Nilesh':1, 'Rajat':10,'Akanksha':3, 'Rajesh':8}

if 'Rakesh' in ranks:
    print('Key is present')
    
else:
    print('Key is not present')

Key is not present

In [34]:
ranks = {'Tushar': 5, 'Nilesh':1, 'Rajat':10,'Akanksha':3, 'Rajesh':8}
name = 'Nilesh'
if name in ranks:
    print(f'{name} is present')
    
else:
    print(f'{name} is not present')

Nilesh is present

In [35]:
ranks = {'Tushar': 5, 'Nilesh':1, 'Rajat':10,'Akanksha':3, 'Rajesh':8}
name = 'Neeraj'
if name in ranks:
    print(f'{name} is present')
    
else:
    print(f'{name} is not present')

Neeraj is not present

In [ ]:
str1 = 'python and data science'
str2 = 'python is programming language'

result = 'python python and is data programming science language'

In [36]:
str1 = 'python and data science'
str2 = 'python is programming language'

str3=str1.split()
str4=str2.split()

dict1 = dict(zip(str3,str4))
print(dict1)

{'python': 'python', 'and': 'is', 'data': 'programming', 'science': 'language'}

In [37]:
str1 = 'python and data science'
str2 = 'python is programming language'
l1=str1.split(' ')
l2=str2.split(' ')
l3=[]
for i in range(0,4):
    l3.append(l1[i])
    l3.append(l2[i])
print(' '.join(l3))

python python and is data programming science language

In [39]:
output = ' '.join(l3)
output

'python python and is data programming science language'

In [44]:
list1 = output.split()
j = {}
    
for i in set(list1):
    j[i] = list1.count(i)
j

{'and': 1,
 'science': 1,
 'data': 1,
 'is': 1,
 'language': 1,
 'programming': 1,
 'python': 2}

In [45]:
output = 'python is new, python is used for data science, data science is huge platform'
list1 = output.split()
j = {}
    
for i in set(list1):
    j[i] = list1.count(i)
j

{'for': 1,
 'science': 1,
 'data': 2,
 'is': 3,
 'huge': 1,
 'new,': 1,
 'used': 1,
 'science,': 1,
 'platform': 1,
 'python': 2}

In [47]:
=

dict1 = {}

for i in output.split():
    if i in dict1:
        dict1[i]+=1
    
    else:
        dict1[i]=1
        
dict1

{'python': 2,
 'is': 3,
 'new,': 1,
 'used': 1,
 'for': 1,
 'data': 2,
 'science,': 1,
 'science': 1,
 'huge': 1,
 'platform': 1}