In [5]:
a = 'python'
b = 'class'

# pyass
# clthon

a1 = b[0:2] + a[2:]
b1 = a[0:2] + b[2:]
print(a1, b1)

clthon pyass

In [7]:
new = "If-else Statement.ipynb"
new.split('.')[0]

'If-else Statement'

In [10]:
a = 'machine learning'
print(a.count(''))
len(a)

17

16

# If-else Statement

In [ ]:
Decision making statement
Conditional statement

In [ ]:
if
elif (else if)
else

In [ ]:
if condition1: # condition1  >> True / False
    Block of code
    statement1
    statement2
    statement3
    
elif condition2: # condition >> True / False
    statement4
    statement5
    statement6
    
else:
    statement7
    statement8

In [ ]:
if condition1: # condition1  >> True / False
    Block of code
    statement1
    statement2
    statement3
    
elif condition2: # condition >> True / False
    statement4
    statement5
    statement6
    
elif condition3: # condition >> True / False
    statement41
    statement51
    statement61
    
else:
    statement7
    statement8

In [ ]:
if
if >> elif
if >> elif >> elif
if >> elif >> else
if >> elif >> elif >> elif >> else
if >> else

In [11]:
a = 45
b = 50

if a > b: # false
    print('a is greater than b')
    
else:
    print('a is smaller than b')

a is smaller than b

In [12]:
a = 45
b = 50

if a > b: # false
    print('a is greater than b')
    
else b > a:
    print('a is smaller than b')

SyntaxError: invalid syntax (<ipython-input-12-efd277a64548>, line 7)

In [13]:
a = 45
b = 50

if a > b: # false
    print('a is greater than b')
    
elif b > a:
    print('a is smaller than b')

a is smaller than b

In [14]:
a = 45
b = 50
c = 40

if a > b: # false
    print('a is greater than b')
    
elif a > c:
    print('a is greater than c')

a is greater than c

In [15]:
x = 500
y = 500

if x > y :
    print('x is greater than y')
    
else:
    print('y is greater than or equal to x')

y is greater than or equal to x

In [2]:
x = 5000
y = 500

if x > y :
    print('x is greater than y')
    
if x > y :
    print('x is equal to y')
    
else:
    print('y is greater than or equal to x')

x is greater than y
x is equal to y

In [17]:
string = 'python'
if string.islower():
    print('String is in lower case')
    
else:
    print('String is not in lower case')

String is in lower case

In [18]:
string = 'Python'
if string.islower():
    print('String is in lower case')
    
else:
    print('String is not in lower case')

String is not in lower case

In [19]:
string = 'Python'
if string.istitle():
    print('String is in title case')
    
else:
    print('String is not in title case')

String is in title case

In [20]:
string = 'Data Science'
if string.istitle():
    print('String is in title case')
    
else:
    print('String is not in title case')

String is in title case

In [21]:
string = 'Data science'
if string.istitle():
    print('String is in title case')
    
else:
    print('String is not in title case')

String is not in title case

# Operators

## 1. Comparison Operator

In [ ]:
a == b  # Equal operator
a != b  # not equal
a > b   # greater than
a < b   # less than
a >= b  # greater than eqauls to
a <= b  # less than eqauls to

In [22]:
a = 5
b = 5
a == b

True

In [23]:
a = 5.5
b = 5.5
a == b

True

In [24]:
a = 5.15
b = 5.5
a == b

False

In [25]:
a = 'python'
b = 'python'
a == b

True

In [26]:
a = 'python'
b = 'python '
a == b

False

In [28]:
a = 'python'
b = 'python'

if a==b:
    print('Both strings are equal')
    
else:
    print('Both strings are not equal')

Both strings are equal

In [29]:
a = 'python'
b = 'Python'

if a==b:
    print('Both strings are equal')
    
else:
    print('Both strings are not equal')

Both strings are not equal

In [30]:
a = 5
b = 6
a == b

False

In [31]:
a = 5
b = 6
a != b

True

In [32]:
a = 'python'
b = 'python'

if a==b:
    print('Both strings are equal')
    
else:
    print('Both strings are not equal')

Both strings are equal

In [33]:
a = 'python'
b = 'python'

if a!=b:
    print('Strings are different')
    
else:
    print('Strings are same')

Strings are same

In [34]:
a = 'python'
b = 'Python'

if a!=b:
    print('Strings are different')
    
else:
    print('Strings are same')

Strings are different

In [35]:
a = 10
b = 5
if a > b:
    print('a is greater than b')

a is greater than b

In [36]:
10 >5

True

In [37]:
10 > 10

False

In [38]:
10 >= 10

True

In [39]:
10 <= 10

True

In [40]:
10 < 5

False

In [41]:
str1 = 'Data'
len(str1) > 3

True

In [42]:
str2 = 'Machine Learning'
if str2.istitle():
    print('String is in title case')

String is in title case

In [44]:
str2 = 'Machine learning'
if str2.istitle():
    print('String is in title case')
    
print('hello')

hello

In [45]:
a = 1
b = 2
if a > b
    print('A is bigger')

SyntaxError: invalid syntax (<ipython-input-45-c8f7de35b0a0>, line 3)

In [51]:
a = 11
b = 2
if a > b:
    print('A is bigger')

A is bigger

In [50]:
a = 11
b = 2
if a > b:
    print(f'{a} is bigger')

11 is bigger

## Logical Operators

In [ ]:
1. and
2. or

1. and operator:
    
    True and True    >> True
    True and False   >> False
    False and True   >> False
    False and False  >> False
    
2. or operator:
    True or True    >> True
    True or False   >> True
    False or True   >> True
    False or False  >> False

In [ ]:
a > b and b > c

In [52]:
a = 50 
b = 20
c = 30

if a > b and a > c:   # True and True   >> True
    print('a is greater than b and c')

a is greater than b and c

In [53]:
a = 50 
b = 60
c = 30

if a > b and a > c:   # False and True   >> False
    print('a is greater than b and c')

In [54]:
a = 50 
b = 60
c = 30
d = 40

if a > b and a > c and a > d :   # False and True and True  >> False
    print('a is greater than b and c and d')

In [55]:
a = 70 
b = 60
c = 30
d = 40

if a > b and a > c and a > d :   # True and True and True  >> True
    print('a is greater than b and c and d')

a is greater than b and c

In [57]:
a = 5
b = 6
c = 7

if a > b or a>c : # False or False >>False
    print('a is greater than b or c')

In [58]:
a = 50
b = 6
c = 7

if a > b or a>c : # True or True >>True
    print('a is greater than b and c')

a is greater than b and c

In [59]:
a = 50
b = 60
c = 7

if a > b or a>c : # False or True >>True
    print('a is less than b but greater than c')

a is less than b but greater than c

In [60]:
a = 50
b = 60
c = 7
d = 8

if a > b or a>c or a > d: # False or True or True >>True
    print('a is less than b but greater than c and d')

a is less than b but greater than c and d

In [61]:
a = 50
b = 60
c = 7
d = 8

if (a > b or a > c) and a > d: # (False or True >> True) and True >> True
    print('a is greater than c and d')

a is greater than c and d

In [103]:
a = 50
b = 60
c = 7
d = 8

if a > b or a > c and a > d: # (False or True >> True) and True >> True
    print('a is greater than c and d')

a is greater than c and d

In [62]:
a = 10
b = 20 
c = 30

if a > b and a > c : # False
    print('a is the largest number')
    
elif b > a and b > c : # false
    print('b is the largest number')

else:
    print('c is the largest')

c is the largest

In [63]:
a = 100
b = 20 
c = 30

if a > b and a > c : # True
    print('a is the largest number')
    
elif b > a and b > c : # false
    print('b is the largest number')

else:
    print('c is the largest')

a is the largest number

In [64]:
a = 100
b = 200
c = 30

if a > b and a > c : # False
    print('a is the largest number')
    
elif b > a and b > c : # True
    print('b is the largest number')

else:
    print('c is the largest')

b is the largest number

## User inputs

In [66]:
a = input()
a

hello world

'hello world'

In [68]:
a = input()
type(a)

21

str

In [69]:
a = input()
a = int(a)
type(a)

21

int

In [70]:
a = input()
a = int(a)
type(a)

hi

ValueError: invalid literal for int() with base 10: 'hi'

In [71]:
a = int(input())
print(a, type(a))

70
70 <class 'int'>

In [73]:
a = int(input('Enter a value of a:'))
print(a, type(a))

Enter a value of a:300
300 <class 'int'>

In [75]:
a = float(input('Enter a value of a:'))
print(a, type(a))

Enter a value of a:10.1
10.1 <class 'float'>

In [77]:
a = eval(input('Enter something:'))
print(a, type(a))

Enter something:12
12 <class 'int'>

In [78]:
a = eval(input('Enter something:'))
print(a, type(a))

Enter something:1.1
1.1 <class 'float'>

In [79]:
a = eval(input('Enter something:'))
print(a, type(a))

Enter something:Velocity

NameError: name 'Velocity' is not defined

In [80]:
a = eval(input('Enter something:'))
print(a, type(a))

Enter something:'Velocity'
Velocity <class 'str'>

In [82]:
a = int(input('Enter a value of a:'))
b = int(input('Enter a value of b:'))
c = int(input('Enter a value of c:'))

if a>b and a>c :
    print('a is the largest')
    
elif b >c and b >a:
    print('b is the largest')
    
else:
    print('c is the largest')

Enter a value of a:40
Enter a value of b:30
Enter a value of c:45
c is the largest

In [83]:
a = eval(input('Enter a value of a:'))
b = eval(input('Enter a value of b:'))
c = eval(input('Enter a value of c:'))

if a>b and a>c :
    print('a is the largest')
    
elif b >c and b >a:
    print('b is the largest')
    
else:
    print('c is the largest')

Enter a value of a:40
Enter a value of b:30
Enter a value of c:45
c is the largest

## Nested if-else statement

In [ ]:
    if statement inside if statement

In [86]:
a = 80
if a >50: # True
    print('a is greater than 50')
    
    if a >70: #True
        print('a is greater than 70')
        
        if a > 75: # True
            print('a is greater than 75')

a is greater than 50
a is greater than 70
a is greater than 75

In [ ]:
a = 80
if a >50: # True
    print('a is greater than 50')
    
    if a >70: #True
        print('a is greater than 70')
        
        if a > 75: # True
            print('a is greater than 75')

In [87]:
a = 80
if a >50: # True
    print('a is greater than 50')
    
    if a >70: #True
        print('a is greater than 70')
        
        if a > 75: # True
            print('a is greater than 75')
            
        else:
            print('a is less than 75')

a is greater than 50
a is greater than 70
a is greater than 75

In [88]:
a = 74
if a >50: # True
    print('a is greater than 50')
    
    if a >70: #True
        print('a is greater than 70')
        
        if a > 75: # False
            print('a is greater than 75')
            
        else:
            print('a is less than 75')

a is greater than 50
a is greater than 70
a is less than 75

In [89]:
a = 67
if a >50: # True
    print('a is greater than 50')
    
    if a >70: #False
        print('a is greater than 70')
        
        if a > 75: # False
            print('a is greater than 75')
            
        else:
            print('a is less than 75')
    
    else:
        print('a is less than 70')

a is greater than 50
a is less than 70

In [90]:
a = 40
if a >50: # False
    print('a is greater than 50')
    
    if a >70: #False
        print('a is greater than 70')
        
        if a > 75: # False
            print('a is greater than 75')
            
        else:
            print('a is less than 75')
    
    else:
        print('a is less than 70')
        
else:
    print('a is less than 50')

a is less than 50

In [91]:
a = 80
if a >50: # True
    print('a is greater than 50')
    
    if a >70: #True
        print('a is greater than 70')
        
        if a > 75: # true
            print('a is greater than 75')
            
        else:
            print('a is less than 75')
    
    else:
        print('a is less than 70')
        
else:
    print('a is less than 50')

a is greater than 50
a is greater than 70
a is greater than 75

In [92]:
a = 71
if a >50: # True
    print('a is greater than 50')
    
    if a >70: #True
        print('a is greater than 70')
        
        if a > 75: # false
            print('a is greater than 75')
            
        else:
            print('a is less than 75')
    
    else:
        print('a is less than 70')
        
else:
    print('a is less than 50')

a is greater than 50
a is greater than 70
a is less than 75

In [93]:
a = 68
if a >50: # True
    print('a is greater than 50')
    
    if a >70: #False
        print('a is greater than 70')
        
        if a > 75: # false
            print('a is greater than 75')
            
        else:
            print('a is less than 75')
    
    else:
        print('a is less than 70')
        
else:
    print('a is less than 50')

a is greater than 50
a is less than 70

In [94]:
a = 1
if a >50: # False
    print('a is greater than 50')
    
    if a >70: #False
        print('a is greater than 70')
        
        if a > 75: # false
            print('a is greater than 75')
            
        else:
            print('a is less than 75')
    
    else:
        print('a is less than 70')
        
else:
    print('a is less than 50')

a is less than 50

In [98]:
# Loan >> Approve / Decline
age = 25
cibil_score = 760
salary = 70000


if cibil_score >= 750 :
    print('CIBIL Score is greater than or eqaul to 750')
    
    if salary >= 50000:
        print('Salary is more than 50000')
        
        if age >= 25 and age <= 60:
            print('Age is between 25 to 60')
            print('Laon Approved')
            
        else:
            print('Declined due to age')
        
    else:
        print('Declined due to salary')
    
else:
    print('Declined due to CIBIL Score')
    
    
# pass
# break
# contine

CIBIL Score is greater than or eqaul to 750
Salary is more than 50000
Age is between 25 to 60
Laon Approved

In [99]:
# Loan >> Approve / Decline
age = 25
cibil_score = 710
salary = 70000


if cibil_score >= 750 :
    print('CIBIL Score is greater than or eqaul to 750')
    
    if salary >= 50000:
        print('Salary is more than 50000')
        
        if age >= 25 and age <= 60:
            print('Age is between 25 to 60')
            print('Laon Approved')
            
        else:
            print('Declined due to age')
        
    else:
        print('Declined due to salary')
    
else:
    print('Declined due to CIBIL Score')

Declined due to CIBIL Score

In [100]:
# Loan >> Approve / Decline
age = 25
cibil_score = 760
salary = 40000


if cibil_score >= 750 :
    print('CIBIL Score is greater than or eqaul to 750')
    
    if salary >= 50000:
        print('Salary is more than 50000')
        
        if age >= 25 and age <= 60:
            print('Age is between 25 to 60')
            print('Laon Approved')
            
        else:
            print('Declined due to age')
        
    else:
        print('Declined due to salary')
    
else:
    print('Declined due to CIBIL Score')

CIBIL Score is greater than or eqaul to 750
Declined due to salary

In [101]:
# Loan >> Approve / Decline
age = 62
cibil_score = 760
salary = 70000


if cibil_score >= 750 :
    print('CIBIL Score is greater than or eqaul to 750')
    
    if salary >= 50000:
        print('Salary is more than 50000')
        
        if age >= 25 and age <= 60:
            print('Age is between 25 to 60')
            print('Laon Approved')
            
        else:
            print('Declined due to age')
        
    else:
        print('Declined due to salary')
    
else:
    print('Declined due to CIBIL Score')

CIBIL Score is greater than or eqaul to 750
Salary is more than 50000
Declined due to age

In [102]:
# Loan >> Approve / Decline
age = int(input('Enter Age:'))
cibil_score = int(input('Enter CIBIL score:'))
salary = int(input('Enter Salary:'))


if cibil_score >= 750 :
    print('CIBIL Score is greater than or eqaul to 750')
    
    
    if salary >= 50000:
        print('Salary is more than 50000')
        
        if age >= 25 and age <= 60:
            print('Age is between 25 to 60')
            print('Laon Approved')
            
        else:
            print('Declined due to age')
        
    else:
        print('Declined due to salary')
    
else:
    print('Declined due to CIBIL Score')

Enter Age:45
Enter CIBIL score:780
Enter Salary:49999
CIBIL Score is greater than or eqaul to 750
Declined due to salary

In [ ]:
Cricket
Grades
stock

In [104]:
# Loan >> Approve / Decline
age = int(input('Enter Age:'))
cibil_score = int(input('Enter CIBIL score:'))
salary = int(input('Enter Salary:'))


if cibil_score >= 750 :
#     print('CIBIL Score is greater than or eqaul to 750')
    
    
    if salary >= 50000:
#         print('Salary is more than 50000')
        
        if age >= 25 and age <= 60:
#             print('Age is between 25 to 60')
            print('Laon Approved')
            
        else:
            print('Declined due to age')
        
    else:
        print('Declined due to salary')
    
else:
    print('Declined due to CIBIL Score')

Enter Age:30
Enter CIBIL score:749
Enter Salary:60000
Declined due to CIBIL Score