# Nested For Loop

In [ ]:
For loop inside for loop

In [ ]:
for var1 in sequence1:
    statement1

In [ ]:
for var1 in sequence1:
    statement1
    for var2 in sequence2:
        statement2

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
str1 = 'Python'
for i in range(len(str1)):
    print(i)

0
1
2
3
4
5

In [4]:
for i in range(5):
    print('We are learning Python')

We are learning Python
We are learning Python
We are learning Python
We are learning Python
We are learning Python

In [6]:
for i in range(5):
    print(i)
    
    for j in range(10,14):
        print('Hii')

0
Hii
Hii
Hii
Hii
1
Hii
Hii
Hii
Hii
2
Hii
Hii
Hii
Hii
3
Hii
Hii
Hii
Hii
4
Hii
Hii
Hii
Hii

In [12]:
for i in range(3): # 0, 1, 2
    print(i)
    print('We are learning Python')
    
    for j in range(5):
        print('Hello')
        
    print('*'*70)

0
We are learning Python
Hello
Hello
Hello
Hello
Hello
**********************************************************************
1
We are learning Python
Hello
Hello
Hello
Hello
Hello
**********************************************************************
2
We are learning Python
Hello
Hello
Hello
Hello
Hello
**********************************************************************

In [16]:
for char in 'Python':
    print(f'char is : {char}', end = '\n')
    for i in range(5):
        print('Hello Python')

char is : P
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
char is : y
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
char is : t
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
char is : h
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
char is : o
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
char is : n
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python

In [22]:
for char in 'Python':
    print(f'char is : {char}', end = '\n')
    
    for i in range(2):
        print('Hello Python')
        
        for j in range(3):
            print('Machine Learning')
    print('*'*20)

char is : P
Hello Python
Machine Learning
Machine Learning
Machine Learning
Hello Python
Machine Learning
Machine Learning
Machine Learning
********************
char is : y
Hello Python
Machine Learning
Machine Learning
Machine Learning
Hello Python
Machine Learning
Machine Learning
Machine Learning
********************
char is : t
Hello Python
Machine Learning
Machine Learning
Machine Learning
Hello Python
Machine Learning
Machine Learning
Machine Learning
********************
char is : h
Hello Python
Machine Learning
Machine Learning
Machine Learning
Hello Python
Machine Learning
Machine Learning
Machine Learning
********************
char is : o
Hello Python
Machine Learning
Machine Learning
Machine Learning
Hello Python
Machine Learning
Machine Learning
Machine Learning
********************
char is : n
Hello Python
Machine Learning
Machine Learning
Machine Learning
Hello Python
Machine Learning
Machine Learning
Machine Learning
********************

In [26]:
for i in range(5):
    print(f'i=={i}')
    
    for j in range(5):
        print('Hello',end = ' ')
    print()
# i == 0
# Hello Hello Hello Hello Hello

i==0
Hello Hello Hello Hello Hello
i==1
Hello Hello Hello Hello Hello
i==2
Hello Hello Hello Hello Hello
i==3
Hello Hello Hello Hello Hello
i==4
Hello Hello Hello Hello Hello

In [27]:
for i in range(5):
    print(f'i=={i}')
    
    for j in range(5):
        print('Hello',end = ' ')
        print()
# i == 0
# Hello Hello Hello Hello Hello

i==0
Hello
Hello
Hello
Hello
Hello
i==1
Hello
Hello
Hello
Hello
Hello
i==2
Hello
Hello
Hello
Hello
Hello
i==3
Hello
Hello
Hello
Hello
Hello
i==4
Hello
Hello
Hello
Hello
Hello

In [28]:
for i in range(5):
    print(f'i=={i}',end = ' ')
    
    for j in range(5):
        print('Hello',end = ' ')

i==0 Hello Hello Hello Hello Hello i==1 Hello Hello Hello Hello Hello i==2 Hello Hello Hello Hello Hello i==3 Hello Hello Hello Hello Hello i==4 Hello Hello Hello Hello Hello

In [29]:
for i in range(5):
    print(f'i=={i}')
    
    for j in range(5):
        print('*')

i==0
*
*
*
*
*
i==1
*
*
*
*
*
i==2
*
*
*
*
*
i==3
*
*
*
*
*
i==4
*
*
*
*
*

In [30]:
for i in range(5):
    print(f'i=={i}')
    
    for j in range(5):
        print('*',end = ' ')
# i == 0
# * * * * * i == 1 
# * * * * * i == 2
# * * * * * i == 3
# * * * * * i == 4
# * * * * *

i==0
* * * * * i==1
* * * * * i==2
* * * * * i==3
* * * * * i==4
* * * * *

In [31]:
for i in range(5):
    print(f'i=={i}')
    
    for j in range(5):
        print('*',end = ' ')
        
    print()    
# i == 0
# * * * * * 
# i == 1 
# * * * * * 
# i == 2
# * * * * * 
# i == 3
# * * * * * 
# i == 4
# * * * * *

i==0
* * * * *
i==1
* * * * *
i==2
* * * * *
i==3
* * * * *
i==4
* * * * *

In [32]:
for i in range(5):
    print(f'i=={i}')
    
    for j in range(5):
        print('*',end = ' ')
        
    print('@')    
# i == 0
# * * * * * @ 
# i == 1 
# * * * * * @
# i == 2
# * * * * * 
# i == 3
# * * * * * 
# i == 4
# * * * * *

i==0
* * * * * @
i==1
* * * * * @
i==2
* * * * * @
i==3
* * * * * @
i==4
* * * * * @

In [37]:
for i in range(5):
    print('* '*5)

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [42]:
for i in range(5):
    
    for j in range(5):
        print('*',end = ' ')
        
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [43]:
n = 6
for i in range(n):    
    for j in range(n):
        print('*',end = ' ')
        
    print()

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [47]:
n = 5
for i in range(1,n+1):    
    for j in range(1,n+1):
        print('*',end = ' ')
        
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
*
* *
* * *
* * * *
* * * * *

In [52]:
n = 5
for i in range(1,n+1):
    print('*'*i)

*
**
***
****
*****

In [56]:
n = 5
for i in range(n,0,-1):
    print('*'*i)

*****
****
***
**
*

In [55]:
list(range(5,0,-1))

[5, 4, 3, 2, 1]

In [ ]:
5 4 3 2 1 0

In [59]:
n = 5
for i in range(1,n+1):    
    for j in range(i):
        print(j,end= ' ')
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [60]:
n = 5
for i in range(1,n+1):    
    for j in range(i):
        print('*',end= ' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [61]:
n = 5
for i in range(1,n+1):
    print('* '*i)

*
* *
* * *
* * * *
* * * * *

In [62]:
n = 5
for i in range(1,n+1):    
    for j in range(i):
        print('A',end= ' ')
    print()

A
A A
A A A
A A A A
A A A A A

In [63]:
n = 5
for i in range(1,n+1):    
    for j in range(i):
        print('+',end= ' ')
    print()

+
+ +
+ + +
+ + + +
+ + + + +

In [64]:
n = 5
for i in range(1,n+1):    
    for j in range(i):
        print('1',end= ' ')
    print()

1
1 1
1 1 1
1 1 1 1
1 1 1 1 1

In [65]:
n = 5
for i in range(1,n+1):    
    for j in range(i):
        print(j,end= ' ')
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [66]:
n = 5
for i in range(1,n+1):    
    for j in range(i):
        print(i,end= ' ')
    print()
    
# 1
# 2 2
# 3 3 3

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [67]:
n = 5
for i in range(1,n+1):    
    for j in range(1,i):
        print(i,end= ' ')
    print()

2
3 3
4 4 4
5 5 5 5

In [68]:
n = 5
for i in range(1,n+1):    
    for j in range(1,i):
        print(j,end= ' ')
    print()
    
# 1
# 1 2
# 1 2 3

1
1 2
1 2 3
1 2 3 4

In [69]:
n = 5
for i in range(2,n+1):    
    for j in range(1,i):
        print(j,end= ' ')
    print()
    
# 1
# 1 2
# 1 2 3

1
1 2
1 2 3
1 2 3 4

In [70]:
n = 5
for i in range(2,n+2):    
    for j in range(1,i):
        print(j,end= ' ')
    print()
    
# 1
# 1 2
# 1 2 3

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [71]:
n = 5
x = 5
for i in range(2,n+2):    
    for j in range(1,i):
        print(x,end= ' ')
    print()

5
5 5
5 5 5
5 5 5 5
5 5 5 5 5

In [72]:
n = 5
x = 5
for i in range(2,n+2):    
    for j in range(1,i):
        print(x,end= ' ')
        x +=1
    print()

5
6 7
8 9 10
11 12 13 14
15 16 17 18 19

In [73]:
n = 5
x = 1
for i in range(2,n+2):    
    for j in range(1,i):
        print(x,end= ' ')
        x +=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [74]:
n = 1
x = 1
for i in range(2,n+2):    
    for j in range(1,i):
        print(x,end= ' ')
        x +=1
    print()

1

In [75]:
n = 8
x = 1
for i in range(2,n+2):    
    for j in range(1,i):
        print(x,end= ' ')
        x +=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31 32 33 34 35 36

In [81]:
# ASCII Value
chr(65) # A
chr(90) # Z

chr(91)
chr(97)
chr(122)


A-Z >> 65-90
a-z >> 97-122

'z'

In [77]:
ord('A')

65

In [86]:
n = 5

for i in range(1, n+1):
    for j in range(i):
        print(chr(65),end = ' ')
    print()

A
A A
A A A
A A A A
A A A A A

In [87]:
n = 5

for i in range(1, n+1):
    for j in range(i):
        print(chr(90),end = ' ')
    print()

Z
Z Z
Z Z Z
Z Z Z Z
Z Z Z Z Z

In [88]:
n = 5

for i in range(1, n+1):
    for j in range(i):
        print(chr(97),end = ' ')
    print()

a
a a
a a a
a a a a
a a a a a

In [89]:
n = 5
x = 65
for i in range(1, n+1):
    for j in range(i):
        print(chr(x),end = ' ')
        x +=1
    print()

A
B C
D E F
G H I J
K L M N O

In [90]:
n = 5
x = 97
for i in range(1, n+1):
    for j in range(i):
        print(chr(x),end = ' ')
        x +=1
    print()

a
b c
d e f
g h i j
k l m n o

In [91]:
n = 5

for i in range(1, n+1):
    x = 65
    for j in range(i):
        print(chr(x),end = ' ')
        x +=1
    print()

A
A B
A B C
A B C D
A B C D E

In [92]:
n = 5

for i in range(1, n+1):
    x = 97
    for j in range(i):
        print(chr(x),end = ' ')
        x +=1
    print()

a
a b
a b c
a b c d
a b c d e

In [93]:
n = 7

for i in range(1, n+1):
    x = 97
    for j in range(i):
        print(chr(x),end = ' ')
        x +=1
    print()

a
a b
a b c
a b c d
a b c d e
a b c d e f
a b c d e f g

In [95]:
n = 7
x = 97
for i in range(1, n+1):
    
    for j in range(i):
        print(chr(x),end = ' ')
        x +=1
    print()

a
b c
d e f
g h i j
k l m n o
p q r s t u
v w x y z { |

In [96]:
n = 7
x = 65
for i in range(1, n+1):
    
    for j in range(i):
        print(chr(x),end = ' ')
        x +=1
    print()

A
B C
D E F
G H I J
K L M N O
P Q R S T U
V W X Y Z [ \

In [97]:
n = 8
x = 65
for i in range(1, n+1):
    
    for j in range(i):
        print(chr(x),end = ' ')
        x +=1
    print()

A
B C
D E F
G H I J
K L M N O
P Q R S T U
V W X Y Z [ \
] ^ _ ` a b c d

In [99]:
n = 8
x = 65
for i in range(1, n+1):
    for j in range(i):
        print(chr(x+j),end = ' ')
    print()

A
A B
A B C
A B C D
A B C D E
A B C D E F
A B C D E F G
A B C D E F G H

In [101]:
n = 8
x = 65
for i in range(1, n+1):
    for j in range(i):
        print(chr(x),end = ' ')
    x +=1
    print()

A
B B
C C C
D D D D
E E E E E
F F F F F F
G G G G G G G
H H H H H H H H

In [102]:
for i in range(5,0,-1):
    print('* '*i)

* * * * *
* * * *
* * *
* *
*

In [104]:
n = 5

for i in range(n,0,-1):
    for j in range(i):   # for j in range(5) >> 0,1,2,3,4
        print('*',end = ' ')
        
    print()

* * * * *
* * * *
* * *
* *
*

In [105]:
n = 5

for i in range(n,0,-1):
    for j in range(i):   # for j in range(5) >> 0,1,2,3,4
        print(i,end = ' ')
        
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [106]:
n = 5
x = 65
for i in range(n,0,-1):
    for j in range(i):   # for j in range(5) >> 0,1,2,3,4
        print(chr(x),end = ' ')
        
    print()

A A A A A
A A A A
A A A
A A
A

In [108]:
n = 5
x = 65
for i in range(n,0,-1):
    for j in range(i):   # for j in range(5) >> 0,1,2,3,4
        print(chr(x),end = ' ')
        x +=1
    print()

A B C D E
F G H I
J K L
M N
O

In [109]:
n = 5
x = 65
for i in range(n,0,-1):
    for j in range(i):   # for j in range(5) >> 0,1,2,3,4
        print(chr(x),end = ' ')
    x +=1
    print()

A A A A A
B B B B
C C C
D D
E

In [110]:
n = 5
for i in range(1,n+1):
    print('* '*i)

*
* *
* * *
* * * *
* * * * *

In [ ]:
      *
    * *
  * * *
* * * *

In [117]:
n = 6
for i in range(1,n+1):
    print(' '*(n-i),end = ' ')
    print('*'*i)

      *
     **
    ***
   ****
  *****
 ******

In [124]:
n = 7

for i in range(1,n+1):
    print(' '*(n-i) + '*'* (i*2-1))

      *
     ***
    *****
   *******
  *********
 ***********
*************

In [128]:
n = 7

for i in range(1,n+1):
    print(' '*(n-i) + '*'* (i*2-1))

      *
     ***
    *****
   *******
  *********
 ***********
*************

In [129]:
n = 5
for i in range(1,n+1):
    print('* '*i)

*
* *
* * *
* * * *
* * * * *

In [ ]:
* 
* * 
* * * 
* * * * 
* * * * *
* * * * *
* * * * 
* * *
* *
*

In [131]:
n = 5
for i in range(1,n+1):
    print('* '*i)
    
for i in range(n,0,-1):
    print('* '*i)

*
* *
* * *
* * * *
* * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
* 
* * 
* * * 
* * * * 
* * * * *
* * * * * *
* * * * *
* * * * 
* * *
* *
*

In [132]:
n = 5
for i in range(1,n+2):
    print('* '*i)
    
for i in range(n,0,-1):
    print('* '*i)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [133]:
n = 5
for i in range(1,n+1):
    print('* '*i)
    
for i in range(n-1,0,-1):
    print('* '*i)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [134]:
n = 5
x = 65
for i in range(1,n+1):
    print(chr(x)*i)
    
for i in range(n-1,0,-1):
    print(chr(x)*i)

A
AA
AAA
AAAA
AAAAA
AAAA
AAA
AA
A

In [136]:
n = 5
x = 65
for i in range(1,n+1):
    print(chr(x)*i)
    x +=1
    
for i in range(n-1,0,-1):
    print(chr(x)*i)
    x +=1

A
BB
CCC
DDDD
EEEEE
FFFF
GGG
HH
I

In [137]:
n = 5
x = 65
for i in range(1,n+1):
    print(chr(x)*i)
    x +=1
    
for i in range(n-1,0,-1):
    print(chr(x)*i)
    x -=1

A
BB
CCC
DDDD
EEEEE
FFFF
EEE
DD
C

In [139]:
n = 5
x = 65
for i in range(1,n+1):
    print(chr(x)*i)
    x +=1

x = 69
for i in range(n,0,-1):
    print(chr(x)*i)
    x -=1

A
BB
CCC
DDDD
EEEEE
EEEEE
DDDD
CCC
BB
A

In [140]:
ord('G')

71

In [141]:
chr(43)

'+'

In [142]:
alpha = ["A",'B','C']
for i in alpha:
    print(ord(i))

65
66
67

In [147]:
list1 = [1,2,3,4,5]
list2 = [11,22,33]
for i in list1:
    for j in list2:
        print(j,end = ' ')
        
    print()

11 22 33
11 22 33
11 22 33
11 22 33
11 22 33

In [ ]:
np.where

In [ ]:
dataframes

In [144]:
import pandas as pd

df = pd.read_csv(r'G:\Velocity 16 APR\04_27_String_functions\test\diabetes.csv')
df

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,148,50,35,0,33.6,0.627,50,1
1,85,66,29,0,26.6,0.351,31,0
2,183,64,0,0,23.3,0.672,102,1
3,150,66,23,94,28.1,0.167,21,0
4,150,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...
763,101,76,48,180,32.9,0.171,63,0
764,122,70,27,0,36.8,0.340,27,0
765,121,72,23,112,26.2,0.245,30,0
766,126,60,0,0,30.1,0.349,47,1
767,93,70,31,0,30.4,0.315,23,0

In [148]:
import pandas as pd

df = pd.read_csv('G:\Velocity 16 APR\04_27_String_functions\test\diabetes.csv')
df

OSError: [Errno 22] Invalid argument: 'G:\\Velocity 16 APR\x04_27_String_functions\test\\diabetes.csv'