## Mutability

In [3]:
students = ['Sagar', 'Vaibhav', 'Neeta', 'Nitin', 'Nilesh']

students[0] = 'Siddharth'

students

['Siddharth', 'Vaibhav', 'Neeta', 'Nitin', 'Nilesh']

In [4]:
students = ['Sagar', 'Vaibhav', 'Neeta', 'Nitin', 'Nilesh']

students[-1] = 'Siddharth'

students

['Sagar', 'Vaibhav', 'Neeta', 'Nitin', 'Siddharth']

In [5]:
students = ['Sagar', 'Vaibhav', 'Neeta', 'Nitin', 'Nilesh']

students[10] = 'Siddharth'

students

IndexError: list assignment index out of range

## Create List

In [6]:
list1 = []  # list initialization
type(list1)

list

## 1. append()

In [ ]:
list1.append(value)

In [7]:
numbers = [20,30,40,50]
numbers.append(100)
numbers

[20, 30, 40, 50, 100]

In [8]:
    numbers = [20,30,40,50]
numbers.append('python')
numbers

[20, 30, 40, 50, 'python']

In [1]:
list2 = [20,30,40,50]
list2.append('python') #[20,30,40,50,'python']
list2.append('Data Science')
list2

[20, 30, 40, 50, 'python', 'Data Science']

In [2]:
list2.insert(3,'ML')
list2

[20, 30, 40, 'ML', 50, 'python', 'Data Science']

In [11]:
list2.append('Data Science')
list2

[20, 30, 40, 50, 'python', 'Data Science', 'Data Science']

In [12]:
list2 = [20,30,40,50]
print('Original List:',list2)

list2.append('python') #[20,30,40,50,'python']
print(list2)

list2.append('Data Science')
list2

Original List: [20, 30, 40, 50]
[20, 30, 40, 50, 'python']

[20, 30, 40, 50, 'python', 'Data Science']

In [7]:
squares = [] 
for i,j in enumerate(range(1,11)):
    
    
    squares.insert(i,j)
    
print(squares)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
squares = []
for i in range(1,11):
    squares.append(i**2)
    
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [15]:
squares = []
for i in range(1,11):
    squares.append(i**2)
    print(squares)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [17]:
squares = []
for i in range(1,11):
    squares.append(i**2)
    print(squares)  

print('Final List:',squares)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
Final List: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [18]:
cube = []
for i in range(1,11):
    cube.append(i**3)
    print(cube)  

print('Final List:',cube)

[1]
[1, 8]
[1, 8, 27]
[1, 8, 27, 64]
[1, 8, 27, 64, 125]
[1, 8, 27, 64, 125, 216]
[1, 8, 27, 64, 125, 216, 343]
[1, 8, 27, 64, 125, 216, 343, 512]
[1, 8, 27, 64, 125, 216, 343, 512, 729]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
Final List: [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [25]:
A= []

for i in range(1,5):
    print(f'iteration {i} started')
    A.append(i)
    print(A)
    print(f'iteration {i} is over')
    print('*'*20)

iteration 1 started
[1]
iteration 1 is over
********************
iteration 2 started
[1, 2]
iteration 2 is over
********************
iteration 3 started
[1, 2, 3]
iteration 3 is over
********************
iteration 4 started
[1, 2, 3, 4]
iteration 4 is over
********************

In [27]:
list1 = [2,3,4,5,6]
list1.append([10,20])
list1

[2, 3, 4, 5, 6, [10, 20]]

In [28]:
len(list1)

6

In [30]:
list1[-1][-1]

20

In [31]:
x = 50

list1 = [2,3,4,5,6]
list1.append(x)
list1

[2, 3, 4, 5, 6, 50]

In [33]:
squares = []

for i in range(1,11):
    squares.append(i**2)
    print(squares)
    if i == 5:
        print(squares)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [34]:
squares = []

for i in range(1,11):
    squares.append(i**2)
    if i == 5:
        print(squares)

[1, 4, 9, 16, 25]

In [35]:
squares = []

for i in range(1,11):
    if i%2==0:
        squares.append(i**2)
        
print(squares)

[4, 16, 36, 64, 100]

In [39]:
city_names = ['Pune']
print('City _names :', city_names, len(city_names))

city_names.append('Mumbai')
print('City _names :', city_names, len(city_names))

city_names.append('Chennai')
print('City _names :', city_names, len(city_names))

city = 'Bangalore'
city_names.append(city)
print('City _names :', city_names, len(city_names))

City _names : ['Pune'] 1
City _names : ['Pune', 'Mumbai'] 2
City _names : ['Pune', 'Mumbai', 'Chennai'] 3
City _names : ['Pune', 'Mumbai', 'Chennai', 'Bangalore'] 4

## 2. Extend

In [40]:
list1 = [10,20,30,40,50]
list2 = [100,200,300,400,500]

list3 = list1 + list2
print('list1:',list1)
print('list2:',list2)
print('list3:',list3)

list1: [10, 20, 30, 40, 50]
list2: [100, 200, 300, 400, 500]
list3: [10, 20, 30, 40, 50, 100, 200, 300, 400, 500]

In [10]:
list1 = [10,20,30,40,50]
list2 = "100,200,300,400,500"

list1.extend(list2)

print('list1:',list1)
print('list2:',list2)

list1: [10, 20, 30, 40, 50, '1', '0', '0', ',', '2', '0', '0', ',', '3', '0', '0', ',', '4', '0', '0', ',', '5', '0', '0']
list2: 100,200,300,400,500

In [42]:
list1 = [10,20,30,40,50]
list2 = [100,200,300,400,500]

list2.extend(list1)

print('list1:',list1)
print('list2:',list2)

list1: [10, 20, 30, 40, 50]
list2: [100, 200, 300, 400, 500, 10, 20, 30, 40, 50]

In [43]:
city_names1 = ['Pune', 'Mumbai', 'Nagpur']
city_names2 = ['Bangalore', 'Chennai', 'Hyderabad']
city_names1.append(city_names2)

print('city_names1 :', city_names1, len(city_names1))
print('city_names2 :', city_names2, len(city_names2))

city_names1 : ['Pune', 'Mumbai', 'Nagpur', ['Bangalore', 'Chennai', 'Hyderabad']] 4
city_names2 : ['Bangalore', 'Chennai', 'Hyderabad'] 3

In [44]:
city_names1 = ['Pune', 'Mumbai', 'Nagpur']
city_names2 = ['Bangalore', 'Chennai', 'Hyderabad']
city_names1.extend(city_names2)

print('city_names1 :', city_names1, len(city_names1))
print('city_names2 :', city_names2, len(city_names2))

city_names1 : ['Pune', 'Mumbai', 'Nagpur', 'Bangalore', 'Chennai', 'Hyderabad'] 6
city_names2 : ['Bangalore', 'Chennai', 'Hyderabad'] 3

In [45]:
city_names1 = ['Pune', 'Mumbai', 'Nagpur']
city_names2 = ['Bangalore', 'Chennai', 'Hyderabad']
city_names2.extend(city_names1)

print('city_names1 :', city_names1, len(city_names1))
print('city_names2 :', city_names2, len(city_names2))

city_names1 : ['Pune', 'Mumbai', 'Nagpur'] 3
city_names2 : ['Bangalore', 'Chennai', 'Hyderabad', 'Pune', 'Mumbai', 'Nagpur'] 6

In [46]:
city_names1 = ['Pune', 'Mumbai', 'Nagpur']
city_names2 = ['Bangalore', 'Chennai', 'Hyderabad']

for city in city_names2:
    city_names1.append(city)
    
print(city_names1)

['Pune', 'Mumbai', 'Nagpur', 'Bangalore', 'Chennai', 'Hyderabad']

## 3. insert()

In [ ]:
list1.insert(index, value)

In [47]:
city_names1 = ['Pune', 'Mumbai', 'Nagpur']

city_names1.append('Delhi')
city_names1

['Pune', 'Mumbai', 'Nagpur', 'Delhi']

In [48]:
city_names1 = ['Pune', 'Mumbai', 'Nagpur']

city_names1.insert(1,'Delhi')
city_names1

['Pune', 'Delhi', 'Mumbai', 'Nagpur']

In [49]:
l1 = [1,2,3,4]
l1.insert(0,500)
l1

[500, 1, 2, 3, 4]

In [50]:
l1 = [1,2,3,4]
l2 = [5,6,7,8]
l1.insert(2,l2)
l1

[1, 2, [5, 6, 7, 8], 3, 4]

In [51]:
a = 50
l1 = [1,2,3,4]
l1.insert(1,a)
l1

[1, 50, 2, 3, 4]

## Delete items from list

In [ ]:
1. remove # value
2. pop    # index
3. clear  # delete  all elements but empty list will be there
4. del keyword # delete all

## 4. remove()

In [ ]:
list1.remove(item)

In [52]:
list1 = [10,20,30,40]
list1.remove(30)
list1

[10, 20, 40]

In [64]:
list1 = [10,20,30,40,10,20,10]
list1.remove(10)
list1

[20, 30, 40, 10, 20, 10]

In [53]:
city_names1 = ['Pune', 'Mumbai', 'Nagpur', 'Bangalore', 'Chennai', 'Hyderabad']
city_names1.remove('Chennai')
city_names1

['Pune', 'Mumbai', 'Nagpur', 'Bangalore', 'Hyderabad']

In [54]:
city_names1.remove('Mumbai')
city_names1

['Pune', 'Nagpur', 'Bangalore', 'Hyderabad']

In [55]:
city = 'Nagpur'
city_names1.remove(city)
city_names1

['Pune', 'Bangalore', 'Hyderabad']

In [56]:
city = 'Nagpur'
city_names1 = ['Pune', 'Mumbai', 'Nagpur', 'Bangalore', 'Chennai', 'Hyderabad']

if city in city_names1:
    city_names1.remove(city)
    print('Item deleted')
    
else:
    print('Item is not present in the list')
    
print(city_names1)

Item deleted
['Pune', 'Mumbai', 'Bangalore', 'Chennai', 'Hyderabad']

In [57]:
city = 'Jammu'
city_names1 = ['Pune', 'Mumbai', 'Nagpur', 'Bangalore', 'Chennai', 'Hyderabad']

if city in city_names1:
    city_names1.remove(city)
    print('Item deleted')
    
else:
    print('Item is not present in the list')
    
print(city_names1)

Item is not present in the list
['Pune', 'Mumbai', 'Nagpur', 'Bangalore', 'Chennai', 'Hyderabad']

## 2. pop()

In [ ]:
list1.pop(index)
list1.pop(-1)>> default

In [58]:
list1 = [10,20,30,40]
list1.pop()
list1

[10, 20, 30]

In [59]:
list1 = [10,20,30,40]
list1.pop(2)
list1

[10, 20, 40]

In [66]:
list1 = [10,20,30,40]
list1.pop((0,1))
list1

TypeError: 'tuple' object cannot be interpreted as an integer

## 3. Clear()

In [60]:
list1 = [10,20,30,40,50]
list1.clear()
print(list1)

[]

In [61]:
list1 = [10,20,30,40,50]
print(list1)
list1.clear()
print(list1)

[10, 20, 30, 40, 50]
[]

## 4. del keyword

In [63]:
list1 = [10,20,30,40,50]
print(list1)
del list1
print(list1)

[10, 20, 30, 40, 50]

NameError: name 'list1' is not defined

In [115]:
a = 6
print(a)

6

In [114]:
del a
a

NameError: name 'a' is not defined

In [117]:
del a

NameError: name 'a' is not defined

# Sorting

## 1. sort()

In [67]:
list1 = [100,20,300,40,80]
list1.sort()
list1

[20, 40, 80, 100, 300]

In [68]:
list1 = [9,4,1,7,2,3,9,4]
list1.sort()
list1

[1, 2, 3, 4, 4, 7, 9, 9]

In [69]:
list2 = ['Pune', 'Mumbai', 'Nagpur', 'Bangalore', 'Chennai', 'Hyderabad']
list2.sort()
list2

['Bangalore', 'Chennai', 'Hyderabad', 'Mumbai', 'Nagpur', 'Pune']

In [70]:
list2 = ['Pune', 'Mumbai', 'Nagpur', 'Bangalore', 'Chennai', 'Hyderabad','Zurich']
list2.sort()
list2

['Bangalore', 'Chennai', 'Hyderabad', 'Mumbai', 'Nagpur', 'Pune', 'Zurich']

In [75]:
list2 = ['Pune', 'Mumbai', 'nagpur', 'Bangalore', 'chennai', 'Hyderabad','Zurich']
list2.sort()
list2

['Bangalore', 'Hyderabad', 'Mumbai', 'Pune', 'Zurich', 'chennai', 'nagpur']

In [72]:
ord('A')

65

In [73]:
chr(65)

'A'

In [74]:
ord('a')

97

In [76]:
list1 = [9,4,1,7,2,3,9,4]
list1.sort(reverse=True)
list1

[9, 9, 7, 4, 4, 3, 2, 1]

### Ascending Order

In [77]:
list1 = [9,4,1,7,2,3,9,4]
list1.sort(reverse=False)
list1

[1, 2, 3, 4, 4, 7, 9, 9]

In [78]:
list1 = [9,4,1,7,2,3,9,4]
list1.sort()
list1

[1, 2, 3, 4, 4, 7, 9, 9]

## Descending Order

In [79]:
list1 = [9,4,1,7,2,3,9,4]
list1.sort(reverse=True)
list1

[9, 9, 7, 4, 4, 3, 2, 1]

In [80]:
list1 = [9,4,1,7,2,3,9,4,'a']
list1.sort(reverse=True)
list1

TypeError: '<' not supported between instances of 'int' and 'str'

In [81]:
list1 = [9,4,1,7,2,3,9,4,10.5]
list1.sort(reverse=True)
list1

[10.5, 9, 9, 7, 4, 4, 3, 2, 1]

## Sorted()

In [82]:
list1 = [9,4,1,7,2,3,9,4,10.5]
list1.sort()
list1

[1, 2, 3, 4, 4, 7, 9, 9, 10.5]

In [83]:
list1 = [9,4,1,7,2,3,9,4,10.5]
sorted(list1)

[1, 2, 3, 4, 4, 7, 9, 9, 10.5]

In [84]:
list1

[9, 4, 1, 7, 2, 3, 9, 4, 10.5]

In [85]:
list1 = [9,4,1,7,2,3,9,4,10.5]
new_list = sorted(list1)
new_list

[1, 2, 3, 4, 4, 7, 9, 9, 10.5]

In [90]:
tuple1 = (4, 1, 7, 2, 3, 9, 4)
new_tuple1 = sorted(tuple1)
new_tuple1

[1, 2, 3, 4, 4, 7, 9]

In [89]:
tuple1

(4, 1, 7, 2, 3, 9, 4)

In [2]:
list1 = [9,4,1,7,2,3,9,4,10.5]
new_list = sorted(list1,reverse=True)
print(new_list)

[10.5, 9, 9, 7, 4, 4, 3, 2, 1]

## Reverse()

In [86]:
list1 = [4 ,2,5,7,10,9,8]
list1[::-1]

[8, 9, 10, 7, 5, 2, 4]

In [87]:
list1 = [4 ,2,5,7,10,9,8]
list1.reverse()
list1

[8, 9, 10, 7, 5, 2, 4]

## Reversed()

In [91]:
list1 = [4 ,2,5,7,10,9,8]
list1.reverse()
list1

[8, 9, 10, 7, 5, 2, 4]

In [98]:
list1 = [4 ,2,5,7,10,9,8]
reversed(list1) # packed object

In [95]:
list1 = [4 ,2,5,7,10,9,8]
new_list  = list(reversed(list1)) # unpack with list function
new_list

[8, 9, 10, 7, 5, 2, 4]

In [94]:
list1

[4, 2, 5, 7, 10, 9, 8]

In [96]:
list1 = [4 ,2,5,7,10,9,8]
new_list  = tuple(reversed(list1))
new_list

(8, 9, 10, 7, 5, 2, 4)

In [99]:
list1 = [9,4,1,7,2,3,9,4,10.5]
list1.sort()
list1

[1, 2, 3, 4, 4, 7, 9, 9, 10.5]

In [100]:
list1 = [9,4,1,7,2,3,9,4,10.5]
list3 = list1.sort()
list3

In [101]:
list3

In [102]:
a= [1,2,3,1,20]
a = a.sort()
a

## index()

In [103]:
string = 'python'
string.index('t')

2

In [104]:
list1 = [10,50,101,66,45]
list1.index(101)

2

In [105]:
list1 = [10,50,101,66,45]
list1.index(150)

ValueError: 150 is not in list

In [106]:
list1 = [10,50,101,66,45]
list1.find(150)

AttributeError: 'list' object has no attribute 'find'

In [107]:
list1 = [ 'Arti', 'Vijaya', 'Arun', "Suraj"]
list1.index('Suraj')

3

## Count()

In [108]:
a = [1,8,6,4,1,2,1]
a.count(1)

3

In [109]:
a = [1,8,6,4,1,2,1]
a.count(8)

1

In [110]:
name = ['niraj', 'pravin', 'Raju', 'Baburao', 'pravin']
name.index('pravin')

1

In [111]:
name = ['niraj', 'pravin', 'Raju', 'Baburao', 'pravin']
name.count('pravin')

2

In [118]:
var1 = [3,1,5,8]
new_var = sorted(var1)

[1, 3, 5, 8]

In [119]:
var1

[3, 1, 5, 8]

In [ ]:
var1 = [3,1,5,8]
var2 = var1.copy()