# Dictionary

In [ ]:
Dict = {key:value, key1:value1}

1. It is a collection of key and value pairs
2. Duplicate keys is not allowed
3. Duplicate values are allowed
4. Comma seperated
5. dict is enclosed by {}
6. We can not use indexing
7. Mutable


key >> Immutable DataTypes  >> int, float, str, tuple, frozenset()
values >> Any datatype   >> int, float, str, tuple, list, set, dict, df

If Python >= 3.7  >> Ordered
If Python < 3.7   >> Unordered

In [1]:
set1 = {1,2,3}
set1

{1, 2, 3}

In [2]:
dict1 = {'a':100,'b':200,'c':300}
dict1

{'a': 100, 'b': 200, 'c': 300}

In [3]:
len(dict1)

3

In [4]:
dict1[0]

KeyError: 0

In [5]:
dict1['b']

200

In [6]:
dict1 = {'a':100,'b':200,'c':300,'a':100}
dict1

{'a': 100, 'b': 200, 'c': 300}

In [7]:
dict1 = {'a':100,'b':200,'c':300,'a':1000}
dict1

{'a': 1000, 'b': 200, 'c': 300}

In [8]:
dict1 = {'a':100,'b':200,'c':300,'c':100}
dict1

{'a': 100, 'b': 200, 'c': 100}

In [9]:
dict1 = {'a':100,'b':200,'c':300,'b':111}
dict1

{'a': 100, 'b': 111, 'c': 300}

In [10]:
dict2 = {1:1,2:4,3:9,4:16}
dict2

{1: 1, 2: 4, 3: 9, 4: 16}

In [11]:
dict2 = {1:1,2.5:4,'3':9,(1,2,3):16}
dict2

{1: 1, 2.5: 4, '3': 9, (1, 2, 3): 16}

In [12]:
dict2 = {1:1,2.5:4,'3':9,[1,2,3]:16}
dict2

TypeError: unhashable type: 'list'

In [13]:
dict2 = {1:1,2.5:4,'3':9,{1,2,3}:16}
dict2

TypeError: unhashable type: 'set'

In [14]:
dict3 = {'Employee1': {'Age':30, 'Name':'Akshay', 'Location':'Pune'}}
dict3

{'Employee1': {'Age': 30, 'Name': 'Akshay', 'Location': 'Pune'}}

In [15]:
d1 = {}
type(d1)

dict

## How to access dict items

In [ ]:
dict[key]

In [16]:
dict1 = {"Name":'Prajakta', 'Age':30, 'Company Name': 'TCS', 'Location':'Pune'}
print(len(dict1), dict1)

4 {'Name': 'Prajakta', 'Age': 30, 'Company Name': 'TCS', 'Location': 'Pune'}

In [17]:
dict1 = {"Name":'Prajakta', 'Age':30, 'Company Name': 'TCS', 'Location':'Pune'}
dict1[Age]

NameError: name 'Age' is not defined

In [18]:
dict1 = {"Name":'Prajakta', 'Age':30, 'Company Name': 'TCS', 'Location':'Pune'}
dict1['Age']

30

In [19]:
dict1 = {"Name":'Prajakta', 'Age':30, 'Company Name': 'TCS', 'Location':'Pune'}
dict1['Name']

'Prajakta'

In [20]:
dict1 = {"Name":'Prajakta', 'Age':30, 'Company Name': 'TCS', 'Location':'Pune'}
dict1['Company Name']

'TCS'

In [ ]:
dict1 = {"Name":'Prajakta', 'Age':30, 'Company Name': 'TCS', 'Location':'Pune'}
dict1['Company Name']

## 1.get()

In [21]:
dict1 = {"Name":'Prajakta', 'Age':30, 'Company Name': 'TCS', 'Location':'Pune'}
dict1.get('Name')

'Prajakta'

In [22]:
dict1 = {"Name":'Prajakta', 'Age':30, 'Company Name': 'TCS', 'Location':'Pune'}
dict1.get('Age')

30

#### Access item using for loop

## 2. keys()

In [23]:
dict1 = {"Name":'Prajakta', 'Age':30, 'Company Name': 'TCS', 'Location':'Pune'}
dict1.keys()

dict_keys(['Name', 'Age', 'Company Name', 'Location'])

In [24]:
d1 = {1:1,2:4,3:9,4:16}
d1.keys()

dict_keys([1, 2, 3, 4])

In [25]:
for i in d1.keys():
    print(i)

1
2
3
4

In [27]:
dict1 = {"Name":'Prajakta', 'Age':30, 'Company Name': 'TCS', 'Location':'Pune'}
for i in dict1.keys():
    print(i)

Name
Age
Company Name
Location

## 3. values()

In [28]:
dict1 = {"Name":'Prajakta', 'Age':30, 'Company Name': 'TCS', 'Location':'Pune'}
dict1.values()

dict_values(['Prajakta', 30, 'TCS', 'Pune'])

In [29]:
dict1 = {"Name":'Prajakta', 'Age':30, 'Company Name': 'TCS', 'Location':'Pune'}
type(dict1.keys())

dict_keys

In [30]:
dict1 = {"Name":'Prajakta', 'Age':30, 'Company Name': 'TCS', 'Location':'Pune'}
type(dict1.values())

dict_values

In [31]:
d1 = {1:1,2:4,3:9,4:16,5:25}
d1.values()

dict_values([1, 4, 9, 16, 25])

In [32]:
d1 = {1:1,2:4,3:9,4:16,5:25,10:100}
d1.values()

dict_values([1, 4, 9, 16, 25, 100])

In [33]:
d1 = {1:1,2:4,3:9,4:16,5:25,10:100, 20:100}
d1.values()

dict_values([1, 4, 9, 16, 25, 100, 100])

In [34]:
d1 = {1:1,2:4,3:9,4:16,5:25,10:100, 10:100}
d1.values()

dict_values([1, 4, 9, 16, 25, 100])

In [35]:
d1 = {1:1,2:4,3:9,4:16,5:25,10:100, 20:100}
for i in d1.values():
    print(i)

1
4
9
16
25
100
100

## 4. items()

In [36]:
dict1 = {"Name":'Prajakta', 'Age':30, 'Company Name': 'TCS', 'Location':'Pune'}
dict1.keys()

dict_keys(['Name', 'Age', 'Company Name', 'Location'])

In [37]:
dict1 = {"Name":'Prajakta', 'Age':30, 'Company Name': 'TCS', 'Location':'Pune'}
dict1.values()

dict_values(['Prajakta', 30, 'TCS', 'Pune'])

In [38]:
dict1 = {"Name":'Prajakta', 'Age':30, 'Company Name': 'TCS', 'Location':'Pune'}
dict1.items()

dict_items([('Name', 'Prajakta'), ('Age', 30), ('Company Name', 'TCS'), ('Location', 'Pune')])

In [39]:
dict1 = {"Name":'Prajakta', 'Age':30, 'Company Name': 'TCS', 'Location':'Pune'}
for i in dict1.items():
    print(i)

('Name', 'Prajakta')
('Age', 30)
('Company Name', 'TCS')
('Location', 'Pune')

In [40]:
dict1 = {"Name":'Prajakta', 'Age':30, 'Company Name': 'TCS', 'Location':'Pune'}
for i in dict1.items():
    print(type(i))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [43]:
dict1 = {"Name":'Prajakta', 'Age':30, 'Company Name': 'TCS', 'Location':'Pune'}
for i , v in dict1.items():
    print(i, '==',v)

Name == Prajakta
Age == 30
Company Name == TCS
Location == Pune

In [45]:
dict1 = {"Name":'Prajakta', 'Age':30, 'Company Name': 'TCS', 'Location':'Pune'}
for i , v in dict1.items():
    print(f'key == {i}, value == {v}')

key == Name, value == Prajakta
key == Age, value == 30
key == Company Name, value == TCS
key == Location, value == Pune

In [46]:
list1 = [2,5,4,8,6]
for index , value in enumerate(list1):
    print(index, value)

0 2
1 5
2 4
3 8
4 6

In [47]:
list1 = [2,5,4,8,6]
for index , value in enumerate(list1,start=5):
    print(index, value)

5 2
6 5
7 4
8 8
9 6

In [49]:
list(enumerate(list1))

[(0, 2), (1, 5), (2, 4), (3, 8), (4, 6)]

In [50]:
list1 = [(0, 2), (1, 5), (2, 4), (3, 8), (4, 6)]
for i in list1:
    print(i)

(0, 2)
(1, 5)
(2, 4)
(3, 8)
(4, 6)

In [51]:
list1 = [(0, 2), (1, 5), (2, 4), (3, 8), (4, 6)]
for index, value in list1:
    print(index, value)

0 2
1 5
2 4
3 8
4 6

In [52]:
list1 = [(0, 2), (1, 5), (2, 4), (3, 8), (4, 6)]
for index, value in list1:
    print(index)

0
1
2
3
4

In [53]:
list1 = [(0, 2), (10000, 5), (2, 4), (3, 8), (4, 6)]
for index, value in list1:
    print(index, value)

0 2
10000 5
2 4
3 8
4 6

In [54]:
list1 = [(0, 2,3), (1, 5), (2, 4), (3, 8), (4, 6)]
for index, value in list1:
    print(index)

ValueError: too many values to unpack (expected 2)

In [ ]:
# keys >> only keys
# values >>  only values
# items  >>  both

## Change items

In [55]:
dict1 = {"Name":'Prajakta', 'Age':30, 'Company Name': 'TCS', 'Location':'Pune'}
dict1

{'Name': 'Prajakta', 'Age': 30, 'Company Name': 'TCS', 'Location': 'Pune'}

In [56]:
dict1['Age'] = 90
dict1

{'Name': 'Prajakta', 'Age': 90, 'Company Name': 'TCS', 'Location': 'Pune'}

In [57]:
dict1 = {"Name":'Prajakta', 'Age':30, 'Company Name': 'TCS', 'Location':'Pune'}
dict1['Name'] = 'Sourabh'
dict1

{'Name': 'Sourabh', 'Age': 30, 'Company Name': 'TCS', 'Location': 'Pune'}

In [58]:
dict1 = {"Name":'Prajakta', 'Age':30, 'Company Name': 'TCS', 'Location':'Pune'}
dict1['Salary'] = 41000 

dict1

{'Name': 'Prajakta',
 'Age': 30,
 'Company Name': 'TCS',
 'Location': 'Pune',
 'Salary': 41000}

## 1. update()

In [ ]:
dict1.update()

In [59]:
dict1 = {"Name":'Prajakta', 'Age':30, 'Company Name': 'TCS', 'Location':'Pune'}
dict1.update({'Designation':'ML Engineer'})
dict1

{'Name': 'Prajakta',
 'Age': 30,
 'Company Name': 'TCS',
 'Location': 'Pune',
 'Designation': 'ML Engineer'}

In [60]:
dict1 = {"Name":'Prajakta', 'Age':30, 'Company Name': 'TCS', 'Location':'Pune'}
dict1.update({'Age':50})
dict1

{'Name': 'Prajakta', 'Age': 50, 'Company Name': 'TCS', 'Location': 'Pune'}

In [61]:
dict1 = {"Name":'Prajakta', 'Age':30, 'Company Name': 'TCS', 'Location':'Pune'}
dict1.update({'Age':50,'Salary': 40000})
dict1

{'Name': 'Prajakta',
 'Age': 50,
 'Company Name': 'TCS',
 'Location': 'Pune',
 'Salary': 40000}

In [62]:
dict1 = {"Name":'Prajakta', 'Age':30, 'Company Name': 'TCS', 'Location':'Pune'}
dict1.update({'Age':50,'Salary': 40000,'Designation':'Data Scientist'})
dict1

{'Name': 'Prajakta',
 'Age': 50,
 'Company Name': 'TCS',
 'Location': 'Pune',
 'Salary': 40000,
 'Designation': 'Data Scientist'}

## Delete item from dict

In [ ]:
1. pop
2. popitem
3. clear

del

## 1. pop()

In [63]:
dict2 = {'Name': 'Prajakta',
 'Age': 50,
 'Company Name': 'TCS',
 'Location': 'Pune',
 'Salary': 40000,
 'Designation': 'Data Scientist'}
dict2

{'Name': 'Prajakta',
 'Age': 50,
 'Company Name': 'TCS',
 'Location': 'Pune',
 'Salary': 40000,
 'Designation': 'Data Scientist'}

In [64]:
dict2.pop('Designation')
dict2

{'Name': 'Prajakta',
 'Age': 50,
 'Company Name': 'TCS',
 'Location': 'Pune',
 'Salary': 40000}

In [65]:
dict2.pop('Location')
dict2

{'Name': 'Prajakta', 'Age': 50, 'Company Name': 'TCS', 'Salary': 40000}

## 2. popitem()

In [ ]:
It will remove last inserted item

In [66]:
dict2 = {'Name': 'Prajakta',
 'Age': 50,
 'Company Name': 'TCS',
 'Location': 'Pune',
 'Salary': 40000,
 'Designation': 'Data Scientist'}
dict2

{'Name': 'Prajakta',
 'Age': 50,
 'Company Name': 'TCS',
 'Location': 'Pune',
 'Salary': 40000,
 'Designation': 'Data Scientist'}

In [67]:
dict2['Band'] = 'A'
dict2

{'Name': 'Prajakta',
 'Age': 50,
 'Company Name': 'TCS',
 'Location': 'Pune',
 'Salary': 40000,
 'Designation': 'Data Scientist',
 'Band': 'A'}

In [68]:
dict2.popitem()
dict2

{'Name': 'Prajakta',
 'Age': 50,
 'Company Name': 'TCS',
 'Location': 'Pune',
 'Salary': 40000,
 'Designation': 'Data Scientist'}

In [69]:
dict2.popitem()
dict2

{'Name': 'Prajakta',
 'Age': 50,
 'Company Name': 'TCS',
 'Location': 'Pune',
 'Salary': 40000}

In [71]:
dict2.pop()
dict2

TypeError: pop expected at least 1 argument, got 0

## 3. clear()

In [72]:
dict2 = {'Name': 'Prajakta',
 'Age': 50,
 'Company Name': 'TCS',
 'Location': 'Pune',
 'Salary': 40000,
 'Designation': 'Data Scientist'}
dict2.clear()
dict2

{}

## 4. del keyword

In [73]:
dict2 = {'Name': 'Prajakta',
 'Age': 50,
 'Company Name': 'TCS',
 'Location': 'Pune',
 'Salary': 40000,
 'Designation': 'Data Scientist'}
del dict2
dict2

NameError: name 'dict2' is not defined

In [74]:
dict2 = {'Name': 'Prajakta',
 'Age': 50,
 'Company Name': 'TCS',
 'Location': 'Pune',
 'Salary': 40000,
 'Designation': 'Data Scientist'}
del dict2['Designation']
dict2

{'Name': 'Prajakta',
 'Age': 50,
 'Company Name': 'TCS',
 'Location': 'Pune',
 'Salary': 40000}

In [75]:
l1 = [1,2,3,4,5,6]
del l1[2]
l1

[1, 2, 4, 5, 6]

In [76]:
t1 = (1,2,3,4,5,6)
del t1[2]
t1

TypeError: 'tuple' object doesn't support item deletion

In [77]:
s1 = {1,2,3,4,5,6}
del s1[2]
s1

TypeError: 'set' object doesn't support item deletion

In [79]:
dict2 = {'Name': 'Prajakta',
 'Age': 50,
 'Company Name': 'TCS',
 'Location': 'Pune',
 'Salary': 40000,
 'Designation': 'Data Scientist'}
type(dict2.keys())

dict_keys

In [80]:
dict2 = {'Name': 'Prajakta',
 'Age': 50,
 'Company Name': 'TCS',
 'Location': 'Pune',
 'Salary': 40000,
 'Designation': 'Data Scientist'}
list(dict2.keys())

['Name', 'Age', 'Company Name', 'Location', 'Salary', 'Designation']

## Cube of first 10 number

In [ ]:
# cube = {1:1,2:8,3,27........10:1000}

In [81]:
dict1 ={}
for i in range(1,11):
    dict1[i] = i**3
print(dict1)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [82]:
d1={}
for i in range(1,11):
    d1.update({i:i**3})
print(d1)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [83]:
sqr ={}
for i in range(1,11):
    sqr[i] = i**2
print(sqr)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

## ASCII Values

In [85]:
alpha = {}
for i in range(65,91):
    alpha[i]= chr(i)
    
print(alpha)

{65: 'A', 66: 'B', 67: 'C', 68: 'D', 69: 'E', 70: 'F', 71: 'G', 72: 'H', 73: 'I', 74: 'J', 75: 'K', 76: 'L', 77: 'M', 78: 'N', 79: 'O', 80: 'P', 81: 'Q', 82: 'R', 83: 'S', 84: 'T', 85: 'U', 86: 'V', 87: 'W', 88: 'X', 89: 'Y', 90: 'Z'}

In [87]:
alpha = {}
for i in range(97,123):
    alpha[i]= chr(i)
    
print(alpha)

{97: 'a', 98: 'b', 99: 'c', 100: 'd', 101: 'e', 102: 'f', 103: 'g', 104: 'h', 105: 'i', 106: 'j', 107: 'k', 108: 'l', 109: 'm', 110: 'n', 111: 'o', 112: 'p', 113: 'q', 114: 'r', 115: 's', 116: 't', 117: 'u', 118: 'v', 119: 'w', 120: 'x', 121: 'y', 122: 'z'}

In [89]:
alpha = {}
x = 97
for i in range(97,123):
    alpha[i]= chr(x)
    x+=1
    
print(alpha)

{97: 'a', 98: 'b', 99: 'c', 100: 'd', 101: 'e', 102: 'f', 103: 'g', 104: 'h', 105: 'i', 106: 'j', 107: 'k', 108: 'l', 109: 'm', 110: 'n', 111: 'o', 112: 'p', 113: 'q', 114: 'r', 115: 's', 116: 't', 117: 'u', 118: 'v', 119: 'w', 120: 'x', 121: 'y', 122: 'z'}

In [ ]:
sub = ['phy','che','maths','eng','bio']
marks = [87,85,78,98,79]

# result = {'phy':87,'che':85,'maths':78,'eng':98,'bio':79}

In [90]:
sub = ['phy','che','maths','eng','bio']
marks = [87,85,78,98,79]

result = {}
for i, v in enumerate(sub):
    result[v] = marks[i]

result

{'phy': 87, 'che': 85, 'maths': 78, 'eng': 98, 'bio': 79}

In [91]:
sub = ['phy','che','maths','eng','bio']
marks = [87,85,78,98,79]

result = {}

for i, v in enumerate(sub):
    result.update({v:marks[i]})

result

{'phy': 87, 'che': 85, 'maths': 78, 'eng': 98, 'bio': 79}

## fromkeys

In [92]:
sub = ['phy','che','maths','eng','bio']
dict.fromkeys(sub)

{'phy': None, 'che': None, 'maths': None, 'eng': None, 'bio': None}

In [94]:
sub = ['phy','che','maths','eng','bio']
result = dict.fromkeys(sub,100)
result

{'phy': 100, 'che': 100, 'maths': 100, 'eng': 100, 'bio': 100}

In [95]:
sub = ['phy','che','maths','eng','bio']
result = dict.fromkeys(sub,'python')
result

{'phy': 'python',
 'che': 'python',
 'maths': 'python',
 'eng': 'python',
 'bio': 'python'}

In [98]:
sub = ['phy','che','maths','eng','bio']
marks = [87,85,78,98,79]
result = dict.fromkeys(sub,marks)
result

{'phy': [87, 85, 78, 98, 79],
 'che': [87, 85, 78, 98, 79],
 'maths': [87, 85, 78, 98, 79],
 'eng': [87, 85, 78, 98, 79],
 'bio': [87, 85, 78, 98, 79]}

In [99]:
sub = ['phy','che','maths','eng','bio']
marks = [87,85,78,98,79]
result = dict(zip(sub,marks))
result

{'phy': 87, 'che': 85, 'maths': 78, 'eng': 98, 'bio': 79}

In [100]:
sub = ['phy','che','maths','eng','bio','Hist']
marks = [87,85,78,98,79]
result = dict(zip(sub,marks))
result

{'phy': 87, 'che': 85, 'maths': 78, 'eng': 98, 'bio': 79}

In [101]:
sub = ['phy','che','maths','eng','bio']
marks = [87,85,78,98,79,80]
result = dict(zip(sub,marks))
result

{'phy': 87, 'che': 85, 'maths': 78, 'eng': 98, 'bio': 79}

In [102]:
sub = ['phy','che','maths','eng','bio','History']
marks = [87,85,78,98,79,80]
result = dict(zip(sub,marks))
result

{'phy': 87, 'che': 85, 'maths': 78, 'eng': 98, 'bio': 79, 'History': 80}

In [103]:
sub = ('phy','che','maths','eng','bio','History')
marks = [87,85,78,98,79,80]
result = dict(zip(sub,marks))
result

{'phy': 87, 'che': 85, 'maths': 78, 'eng': 98, 'bio': 79, 'History': 80}

In [104]:
sub = ('phy','che','maths','eng','bio','History')
marks = (87,85,78,98,79,80)
result = dict(zip(sub,marks))
result

{'phy': 87, 'che': 85, 'maths': 78, 'eng': 98, 'bio': 79, 'History': 80}

In [105]:
sub = ('phy','che','maths','eng','bio','History','a','b')
marks = (87,85,78,98,79,80)
result = dict(zip(sub,marks))
result

{'phy': 87, 'che': 85, 'maths': 78, 'eng': 98, 'bio': 79, 'History': 80}

In [106]:
sub = ('phy','che','maths','eng','bio','History')
marks = (87,85,78,98,79,80,1,2)
result = dict(zip(sub,marks))
result

{'phy': 87, 'che': 85, 'maths': 78, 'eng': 98, 'bio': 79, 'History': 80}

## setdefault()

In [ ]:
dict.setdefault()

if key is present it returns corresponding value
if key is not present a key:value pair is addes in dict

In [108]:
sub_marks = {'phy': 87, 'che': 85, 'maths': 78, 'eng': 98, 'bio': 79, 'History': 80}
sub_marks.get('che')

85

In [109]:
sub_marks = {'phy': 87, 'che': 85, 'maths': 78, 'eng': 98, 'bio': 79, 'History': 80}
sub_marks.setdefault('che')

85

In [110]:
sub_marks = {'phy': 87, 'che': 85, 'maths': 78, 'eng': 98, 'bio': 79, 'History': 80}
sub_marks.setdefault('python')

In [1]:
sub_marks = {'phy': 87, 'che': 85, 'maths': 78, 'eng': 98, 'bio': 79, 'History': 80}
sub_marks.setdefault('python',100)
sub_marks

{'phy': 87,
 'che': 85,
 'maths': 78,
 'eng': 98,
 'bio': 79,
 'History': 80,
 'python': 100}

In [2]:
sub_marks = {'phy': 87, 'che': 85, 'maths': 78, 'eng': 98, 'bio': 79, 'History': 80}
sub_marks.setdefault('che',100)

85

In [115]:
sub_marks = {'phy': 87, 'che': 85, 'maths': 78, 'eng': 98, 'bio': 79, 'History': 80}
sub_marks.setdefault('python',100)
sub_marks

{'phy': 87,
 'che': 85,
 'maths': 78,
 'eng': 98,
 'bio': 79,
 'History': 80,
 'python': 100}

In [117]:
sub_marks.setdefault('python',77)

100

In [118]:
sub_marks.setdefault('bio',88)

79

In [119]:
sub_marks

{'phy': 87,
 'che': 85,
 'maths': 78,
 'eng': 98,
 'bio': 79,
 'History': 80,
 'python': 100}

In [120]:
sub_marks.setdefault('env',88)
sub_marks

{'phy': 87,
 'che': 85,
 'maths': 78,
 'eng': 98,
 'bio': 79,
 'History': 80,
 'python': 100,
 'env': 88}